Title: "[我和阿九(Azure)有約][33]Azure Storage File-什麼時候適合用Azure File? File vs Blob"
Published: 2020-05-16 19:00
Modified: 2020-05-16 19:00
Image: "/posts/2020/05/2020-05-16-video-tutorial-date-with-azure-33-azure-storage-file-when-to-use-file-file-vs-blob/cover.png"
Tags: ["azure","「教學影片」","「我和阿九(Azure)有約」"]
Series: ["「教學影片」","「我和阿九(Azure)有約」"]
PostDescription: "上篇了解了什麼是Azure File並且如何建立出File並且Mount在OS作為網路磁碟之後。接下來來比較一下，什麼時候適合使用File？這篇，先看看File和Blob storage的比較，從價錢以及那個適合什麼情景看起"
---
<section>
<p>
上篇了解了什麼是Azure File並且如何建立出File並且Mount在OS作為網路磁碟之後
</p>
<p>
接下來來比較一下，什麼時候適合使用File？
</p>
<p>
這篇，先看看File和Blob storage的比較
從價錢以及那個適合什麼情景看起
</p>
</section>
<section>
<div class="hidden-xs">
<iframe width="560" height="315" src="https://www.youtube.com/embed/6ZNJw_K5RBc" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>

<div class="visible-xs">
<iframe width="460" height="315" src="https://www.youtube.com/embed/6ZNJw_K5RBc" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
<div>
    <iframe src="//www.slideshare.net/slideshow/embed_code/key/knD3MG7U4vE9bf" width="595" height="485" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" style="border:1px solid #CCC; border-width:1px; margin-bottom:5px; max-width: 100%;" allowfullscreen> </iframe> <div style="margin-bottom:5px"> <strong> <a href="//www.slideshare.net/alantsai2007/azure-33-azure-file-storage-azure-file-file-vs-blob-alan-tsai" title="我和阿九Azure有約 33 Azure File Storage 什麼時候適合用Azure File? File vs Blob (Alan Tsai的學習筆記)" target="_blank">我和阿九Azure有約 33 Azure File Storage 什麼時候適合用Azure File? File vs Blob (Alan Tsai的學習筆記)</a> </strong> from <strong><a href="https://www.slideshare.net/alantsai2007" target="_blank">Alan Tsai</a></strong> </div>
</div>
</section>