Title: "[我和阿九(Azure)有約][31]Azure Blob Storage 使用AzCopy進行自動化作業-例如備份到檔案到Storage"
Published: 2020-05-01 21:00
Modified: 2020-05-01 21:00
Image: "/posts/2020/05/2020-05-01-video-tutorial-date-with-azure-31-use-azcopy-to-automate-sync-files-or-backup-to-azure-blob-storage/cover.png"
Tags: ["azure","「教學影片」","「我和阿九(Azure)有約」"]
Series: ["「教學影片」","「我和阿九(Azure)有約」"]
PostDescription: "Azure Storage 的好處其中之一就是他的SLA保證。假設，今天想要從地端備份資料到雲端，那麼Azure Storage Blob絕對是一個可以考慮的服務，但是，怎麼樣才能夠自動讓他每天備份呢？這個時候就需要CLI工具，而AzCopy就很適合。來看看怎麼使用AzCopy"
---
<section>
<p>
Azure Storage 的好處其中之一就是他的SLA保證
</p>
<p>
假設，今天想要從地端備份資料到雲端，那麼Azure Storage Blob絕對是一個可以考慮的服務
但是，怎麼樣才能夠自動讓他每天備份呢？
</p>
<p>
這個時候就需要CLI工具，而AzCopy就很適合
來看看怎麼使用AzCopy
</p>
</section>
<section>
<div class="hidden-xs">
<iframe width="560" height="315" src="https://www.youtube.com/embed/d6co3aHNXFQ" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>

<div class="visible-xs">
<iframe width="460" height="315" src="https://www.youtube.com/embed/d6co3aHNXFQ" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
<div>
    <iframe src="//www.slideshare.net/slideshow/embed_code/key/3O9vaDHsFBZc0M" width="595" height="485" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" style="border:1px solid #CCC; border-width:1px; margin-bottom:5px; max-width: 100%;" allowfullscreen> </iframe> <div style="margin-bottom:5px"> <strong> <a href="//www.slideshare.net/alantsai2007/azure-31-azure-blob-storage-azcopy-alan-tsai" title="我和阿九(Azure)有約 31 Azure Blob Storage 使用azcopy進行自動化作業 (Alan Tsai 的學習筆記)" target="_blank">我和阿九(Azure)有約 31 Azure Blob Storage 使用azcopy進行自動化作業 (Alan Tsai 的學習筆記)</a> </strong> from <strong><a href="https://www.slideshare.net/alantsai2007" target="_blank">Alan Tsai</a></strong> </div>
</div>
</section>