Title: "[我和阿九(Azure)有約][36]Azure Blob Storage 如何開啟snapshot保留目前狀態"
Published: 2020-05-28 20:00
Modified: 2020-05-28 20:00
Image: "/posts/2020/05/2020-05-28-video-tutorial-date-with-azure-36-azure-storage-blob-how-to-create-backup-using-snapshot/cover.png"
Tags: ["azure","「教學影片」","「我和阿九(Azure)有約」"]
Series: ["「教學影片」","「我和阿九(Azure)有約」"]
PostDescription: "上篇看完了Soft Delete知道了如何透過開啟他來避免誤刪或者誤修改之後。延伸的問題是，如果今天是我想要控制備份的時間點可以怎麼做？這篇來看看snapshot，也是Soft Delete底層使用到的功能"
---
<section>
<p>
上篇看完了Soft Delete知道了如何透過開啟他來避免誤刪或者誤修改之後
</p>
<p>
延伸的問題是，如果今天是我想要控制備份的時間點可以怎麼做？
</p>
<p>
這篇來看看snapshot，也是Soft Delete底層使用到的功能
</p>
</section>
<section>
<div class="hidden-xs">
<iframe width="560" height="315" src="https://www.youtube.com/embed/r-Ld2LT6yNQ" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>

<div class="visible-xs">
<iframe width="460" height="315" src="https://www.youtube.com/embed/r-Ld2LT6yNQ" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
<div>
    <iframe src="//www.slideshare.net/slideshow/embed_code/key/vdSarmaic0Rqn9" width="595" height="485" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" style="border:1px solid #CCC; border-width:1px; margin-bottom:5px; max-width: 100%;" allowfullscreen> </iframe> <div style="margin-bottom:5px"> <strong> <a href="//www.slideshare.net/alantsai2007/azure-35-azure-blob-storage-snapshot-alan-tsai" title="我和阿九Azure有約 35 Azure Blob Storage 如何開啟snapshot保留目前狀態 (Alan Tsai的學習筆記)" target="_blank">我和阿九Azure有約 35 Azure Blob Storage 如何開啟snapshot保留目前狀態 (Alan Tsai的學習筆記)</a> </strong> from <strong><a href="https://www.slideshare.net/alantsai2007" target="_blank">Alan Tsai</a></strong> </div>
</div>
</section>