Title: "[活動]Azure Taiwan #31 Azure 成本控管 - Keep Azure Cost Down"
Published: 2020-05-09 17:11
Modified: 2020-05-09 17:11
Image: "/posts/2020/05/2020-05-09-review-event-2020-azure-taiwa-keep-azure-cost-down/d402d62b-fdb9-467c-a334-e1a6346e10e5.jpg"
Tags: ["「活動」", "azure",「簡報」]
Series: ["「活動」",「簡報」]
PostDescription: "這次有幸在Azure Taiwan的5月meetup介紹Azure 成本管理 (Keep Azure Cost Down) 這個主題。這篇簡單總結一下，並且把相關資源放上，給大家參考"
---
<section>
<figure><img class="img-responsive" src="/posts/2020/05/2020-05-09-review-event-2020-azure-taiwa-keep-azure-cost-down/d402d62b-fdb9-467c-a334-e1a6346e10e5.jpg" border="0" alt="96096815_283992769284384_8628327493637505024_n.jpg"><br><figcaption>感謝小歐哥幫忙拍照</figcaption></figure>
		<p>
		在05/06的時候有幸在Azure Taiwan介紹了主題：<em>Azure 成本控管</em>。
		</p><p>
		這篇簡單記錄一下主要介紹的內容，以及提供一些參考資料。
		</p>
		<iframe src="//www.slideshare.net/slideshow/embed_code/key/chCqpxHZ89GIJ7" width="595" height="485" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" style="border:1px solid #CCC; border-width:1px; margin-bottom:5px; max-width: 100%;" allowfullscreen> </iframe> <div style="margin-bottom:5px"> <strong> <a href="//www.slideshare.net/alantsai2007/azure-taiwan-keep-azure-cost-down-azure" title="Azure Taiwan - Keep azure cost down (Azure 成本管控)" target="_blank">Azure Taiwan - Keep azure cost down (Azure 成本管控)</a> </strong> from <strong><a href="https://www.slideshare.net/alantsai2007" target="_blank">Alan Tsai</a></strong> </div>
		</section>
		<section>
<a id="KMContentPageTopID" name="KMContentPageTopID"></a><div id="divKMOutline" style="border-style: groove none; margin: 10px 0px;"><ul style="margin:0px 0px 0px 20px"><li><a href="#WizKMOutline_1589017913719241" ;="" style="font-size: 15px; line-height: 1.6;">活動資訊</a><br></li><li><a href="#WizKMOutline_1589017913719123" ;="" style="font-size: 15px; line-height: 1.6;">簡報內容</a><br></li><ul><li><a href="#WizKMOutline_1589017913720842" ;="" style="font-size: 15px; line-height: 1.6;">上雲的評估</a></li><li><a href="#WizKMOutline_1589017913720529" ;="" style="font-size: 15px; line-height: 1.6;">使用雲過程的監控</a></li><li><a href="#WizKMOutline_1589017913720606" ;="" style="font-size: 15px; line-height: 1.6;">帳單來的分析</a></li></ul><li><a href="#WizKMOutline_1589017913720725" ;="" style="font-size: 15px; line-height: 1.6;">結語</a><br></li></ul></div>
		</section>
		<!--more--><section><h2 id="WizKMOutline_1589017913719241">活動資訊</h2><p>
		這次主要是在Azure Taiwan介紹關於費用這塊：
		</p><figure><img class="img-responsive" src="/posts/2020/05/2020-05-09-review-event-2020-azure-taiwa-keep-azure-cost-down/02061592-bb73-46e8-a9bc-24d724553677.png" border="0" alt=""><br><figcaption>Azure Taiwan活動</figcaption></figure><div class="bs-callout bs-callout-default"><ol><li>活動網站：<a href="https://azuretw.dev/events/4">https://azuretw.dev/events/4</a></li><li>活動時間：2020/05/06 19:15 ~ 21:00</li></ol></div><p>
		這個主題其實在另外一個微軟的活動也有分享過：
		</p><div class="bs-callout bs-callout-default"><figure><img class="img-responsive" src="/posts/2020/05/2020-05-09-review-event-2020-azure-taiwa-keep-azure-cost-down/962786b8-c4c7-4b4b-9b11-fe606f54767b.png" border="0" alt=""><br><figcaption>Microsoft Online Tech Forum活動訊息</figcaption></figure><ol><li>活動網站：<a href="https://www.microsoft.com/taiwan/events/virtualsummit/">Microsoft Online Tech Forum 微軟線上技術峰會</a></li><li>活動時間：2020/04/16-17 - 在17那天</li></ol></div><p>
		不過，相較於在峰會介紹的內容，在Azure Taiwan其實有多出了一些內容：
		</p><ol><li>在介紹Azure Calculator計算VM的時候講的更詳細 - 包含了像是Bandwidth、ACU等這些會影響但是不明顯的費用</li><li>在介紹搬遷的部分，提供更多訊息 - 包含像是如果是Data要搬遷的處理方式等</li></ol><p></p><p>
		這份簡報的內容是本來在微軟Ignite Tour要用的，但是因為取消了，所以後面才在線上版本出現。
		</p><p>
		如果對於原本的來源有興趣，可以看這篇<a href="https://myignite.techcommunity.microsoft.com/sessions/83215?source=sessions">Keeping costs down in Azure</a> - 整體架構從那邊來，但是我有調整介紹方式及內容。
		</p></section><section><h2 id="WizKMOutline_1589017913719123">簡報內容</h2><p>
		這份簡報基本上分了三塊進行介紹：
		</p><ol><li>上雲的評估</li><li>使用雲過程的監控</li><li>帳單來的分析</li></ol><p></p><p>
		這三塊分別代表著使用的時候在不同時期會需要用到的工具及方法。
		</p><section><h3 id="WizKMOutline_1589017913720842">上雲的評估</h3><p>
			這個部分主要介紹了：
			</p><ol><li>Pricing Calculator</li><li>Total Cost Of Ownership</li><li>Azure Migrate的服務</li></ol><p></p><p>
			其中，花最多時間在Pricing Calculator，因為大部分的情況都是大概知道要用什麼服務，不過這個服務到底要多少錢需要更詳細的分析，而魔鬼都藏在細節裡面包含：
			</p><ol><li>Region - 影響到機型、費用、網路latency等等</li><li>機型選擇 - 牽扯到ACU的計算，符合的Tier等</li><li>SLA - 要達到SLA需要到開什麼機器以及台數</li><li>其他費用 - 例如 Bandwith這種不明顯但是會需要考量的費用</li></ol><p></p><p>
			這些相關的鏈接在投影片在P14~15
			</p><p>
			也有介紹了上雲之後架構上面的調整 - 因為架構調整了之後，費用收費方式以及使用的服務完全就不同。
			</p></section><section><h3 id="WizKMOutline_1589017913720529">使用雲過程的監控</h3><p>
			這邊介紹了幾個服務協助這件事：
			</p><ol><li>使用RBAC限制什麼資源誰可以建立</li><li>使用Azure Policy來確保資源會套上tag或者限制他們可以建立在哪個region - 例如限制只能夠建立在East Asia因為離服務比較近</li><li>介紹Azure Budget - 可以隨時監控使用情況以及用量並且進行通知，避免漏掉</li></ol></section><section><h3 id="WizKMOutline_1589017913720606">帳單來的分析</h3><p>
			當想要回來分析整體使用情況的時候，這個階段大部分就是想要了解到底什麼地方費用使用最多以及做分析。
			</p><p>
			這裡介紹了服務：
			</p><ol><li>Cost Analysis - 看了如何使用界面快速知道什麼資源類型花費多少錢以及是裡面那些資源。</li><li>簡單介紹了Azure Consumption Power BI Content Pack - 用Power BI看使用情況</li><li>Consumption以及Billing API - 可以用來自己接資料進行費用分析</li></ol><p></p><p>
			最後一段是一些減少費用的tips，例如使用的subscription可以影響到費用。
			</p></section></section><section><h2 id="WizKMOutline_1589017913720725">結語</h2><p>
		開始上雲之後，怎麼節省費用就變得非常重要。
		</p><p>
		從管理層面來說，這些技巧/工具也可以讓大家更專業以及有價值。
		</p></section>