Title: "[我和阿九(Azure)有約][35]Azure Blob Storage 如何開啟 Soft Delete？避免誤刪檔案"
Published: 2020-05-26 20:00
Modified: 2020-05-26 20:00
Image: "/posts/2020/05/2020-05-26-video-tutorial-date-with-azure-35-azure-storage-blob-how-to-prevent-accidental-delete-soft-delete/cover.png"
Tags: ["azure","「教學影片」","「我和阿九(Azure)有約」"]
Series: ["「教學影片」","「我和阿九(Azure)有約」"]
PostDescription: "上篇看完了Azure File和Azure Disk的差異之後，相信對於什麼時候選擇什麼服務比較有概念。接下來看一些blob storage裡面偏管理比較方便的功能。先從如何避免誤刪檔案開始，看看什麼是Soft Delete，怎麼開啟，並且使用"
---
<section>
<p>
上篇看完了Azure File和Azure Disk的差異之後，相信對於什麼時候選擇什麼服務比較有概念
</p>
<p>
接下來看一些blob storage裡面偏管理比較方便的功能
</p>
<p>
先從如何避免誤刪檔案開始，看看什麼是Soft Delete，怎麼開啟，並且使用
</p>
</section>
<section>
<div class="hidden-xs">
<iframe width="560" height="315" src="https://www.youtube.com/embed/rCYtxY5ao4o" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>

<div class="visible-xs">
<iframe width="460" height="315" src="https://www.youtube.com/embed/rCYtxY5ao4o" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
<div>
    <iframe src="//www.slideshare.net/slideshow/embed_code/key/22F9LvtXDi9p6n" width="595" height="485" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" style="border:1px solid #CCC; border-width:1px; margin-bottom:5px; max-width: 100%;" allowfullscreen> </iframe> <div style="margin-bottom:5px"> <strong> <a href="//www.slideshare.net/alantsai2007/azure-35-azure-blob-storage-soft-delete-alan-tsai" title="我和阿九Azure有約 35 Azure Blob Storage 如何開啟 Soft Delete？避免誤刪檔案 (Alan Tsai的學習筆記)" target="_blank">我和阿九Azure有約 35 Azure Blob Storage 如何開啟 Soft Delete？避免誤刪檔案 (Alan Tsai的學習筆記)</a> </strong> from <strong><a href="https://www.slideshare.net/alantsai2007" target="_blank">Alan Tsai</a></strong> </div>
</div>
</section>