Title: "[我和阿九(Azure)有約][32]Azure File Storage 介紹"
Published: 2020-05-11 19:00
Modified: 2020-05-11 19:00
Image: "/posts/2020/05/2020-05-11-video-tutorial-date-with-azure-32-intro-to-azure-file-a-paas-file-server-service/cover.png"
Tags: ["azure","「教學影片」","「我和阿九(Azure)有約」"]
Series: ["「教學影片」","「我和阿九(Azure)有約」"]
PostDescription: "看完了Blob之後，來看Storage的另外一種服務，也就是File。File服務可以讓我們透過使用SMB 3.0的Protocol把他掛載成為network drive。非常適合做Lift and Shift的Migration。這篇來看看Azure Storage File， PaaS的File Server服務"
---
<section>
<p>
看完了Blob之後，來看Storage的另外一種服務，也就是File

</p>
<p>
File服務可以讓我們透過使用SMB 3.0的Protocol把他掛載成為network drive
非常適合做Lift and Shift的Migration
</p>
<p>
這篇來看看Azure Storage File， PaaS的File Server服務
</p>
</section>
<section>
<div class="hidden-xs">
<iframe width="560" height="315" src="https://www.youtube.com/embed/gOF_pIO7Df4" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>

<div class="visible-xs">
<iframe width="460" height="315" src="https://www.youtube.com/embed/gOF_pIO7Df4" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
<div>
    <iframe src="//www.slideshare.net/slideshow/embed_code/key/h3mj8gVTpb6dJ3" width="595" height="485" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" style="border:1px solid #CCC; border-width:1px; margin-bottom:5px; max-width: 100%;" allowfullscreen> </iframe> <div style="margin-bottom:5px"> <strong> <a href="//www.slideshare.net/alantsai2007/azure-32-azure-file-storage-alan-tsai" title="我和阿九Azure有約 32 Azure File Storage 介紹 (Alan Tsai的學習筆記)" target="_blank">我和阿九Azure有約 32 Azure File Storage 介紹 (Alan Tsai的學習筆記)</a> </strong> from <strong><a href="https://www.slideshare.net/alantsai2007" target="_blank">Alan Tsai</a></strong> </div>
</div>
</section>