Title: "[我和阿九(Azure)有約][34]Azure Storage File-什麼時候適合用Azure File? File vs Disk"
Published: 2020-05-23 19:00
Modified: 2020-05-23 19:00
Image: "/posts/2020/05/2020-05-23-video-tutorial-date-with-azure-34-azure-storage-file-when-to-use-file-file-vs-azure-disk-storage/cover.png"
Tags: ["azure","「教學影片」","「我和阿九(Azure)有約」"]
Series: ["「教學影片」","「我和阿九(Azure)有約」"]
PostDescription: "上篇看完了Azure File和Azure Blob Storage的比較之後，再來看一個也和File類似的Storage，也就是Azure Disk。先了解一下兩種不同類型的Disk - managed vs unmanaged，再來在看看什麼時候適合File，什麼時候適合Disk"
---
<section>
<p>
上篇看完了Azure File和Azure Blob Storage的比較之後，再來看一個也和File類似的Storage，也就是Azure Disk
</p>
<p>
先了解一下兩種不同類型的Disk - managed vs unmanaged

</p>
<p>
再來在看看什麼時候適合File，什麼時候適合Disk
</p>
</section>
<section>
<div class="hidden-xs">
<iframe width="560" height="315" src="https://www.youtube.com/embed/ARuhlK0XAlE" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>

<div class="visible-xs">
<iframe width="460" height="315" src="https://www.youtube.com/embed/ARuhlK0XAlE" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
<div>
    <iframe src="//www.slideshare.net/slideshow/embed_code/key/6WY9Zctc1nDKJG" width="595" height="485" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" style="border:1px solid #CCC; border-width:1px; margin-bottom:5px; max-width: 100%;" allowfullscreen> </iframe> <div style="margin-bottom:5px"> <strong> <a href="//www.slideshare.net/alantsai2007/azure-34-azure-file-storage-azure-file-file-vs-disk-storage-alan-tsai" title="我和阿九Azure有約 34 Azure File Storage 什麼時候適合用Azure File? File vs Disk Storage (Alan Tsai的學習筆記)" target="_blank">我和阿九Azure有約 34 Azure File Storage 什麼時候適合用Azure File? File vs Disk Storage (Alan Tsai的學習筆記)</a> </strong> from <strong><a href="https://www.slideshare.net/alantsai2007" target="_blank">Alan Tsai</a></strong> </div>
</div>
</section>