Title: "[我和阿九(Azure)有約][37]Azure Blob Storage 如何檔案異動自動記錄建立檔案版本？Version Preview"
Published: 2020-05-30 20:00
Modified: 2020-05-30 20:00
Image: "/posts/2020/05/2020-05-30-video-tutorial-date-with-azure-37-azure-storage-blob-how-to-use-version-to-save-different-version-file/cover.png"
Tags: ["azure","「教學影片」","「我和阿九(Azure)有約」"]
Series: ["「教學影片」","「我和阿九(Azure)有約」"]
PostDescription: "上篇看完了怎麼自己手動呼叫snapshot來保留檔案的歷史之後。可是，snapshot畢竟還是要自己手動呼叫，有沒有什麼能夠自動記錄的功能呢？這篇來看看preview的功能：version。能夠自動在檔案異動的時候建立版本 (snapshot)"
---
<section>
<p>
上篇看完了怎麼自己手動呼叫snapshot來保留檔案的歷史之後

</p>
<p>
可是，snapshot畢竟還是要自己手動呼叫，有沒有什麼能夠自動記錄的功能呢？

</p>
<p>
這篇來看看preview的功能：version
能夠自動在檔案異動的時候建立版本 (snapshot)
</p>
</section>
<section>
<div class="hidden-xs">
<iframe width="560" height="315" src="https://www.youtube.com/embed/J4IBK8spXyQ" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>

<div class="visible-xs">
<iframe width="460" height="315" src="https://www.youtube.com/embed/J4IBK8spXyQ" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
<div>
    <iframe src="//www.slideshare.net/slideshow/embed_code/key/wIRTRSE8dmiHFd" width="595" height="485" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" style="border:1px solid #CCC; border-width:1px; margin-bottom:5px; max-width: 100%;" allowfullscreen> </iframe> <div style="margin-bottom:5px"> <strong> <a href="//www.slideshare.net/alantsai2007/azure-37-azure-blob-storage-version-preview-alan-tsai" title="我和阿九Azure有約 37 Azure Blob Storage 如何檔案異動自動記錄建立檔案版本？Version Preview (Alan Tsai的學習筆記)" target="_blank">我和阿九Azure有約 37 Azure Blob Storage 如何檔案異動自動記錄建立檔案版本？Version Preview (Alan Tsai的學習筆記)</a> </strong> from <strong><a href="https://www.slideshare.net/alantsai2007" target="_blank">Alan Tsai</a></strong> </div>
</div>
</section>