Title: "[從 Microsoft Learn 學 Azure][06] 應用第一個 Module 學習到的內容 - Discuss Azure fundamental concepts"
Published: 2020-09-21 19:00
Modified: 2020-09-21 19:00
Image: "/posts/2020/09/2020-09-21-microsoft-learn-azure-06-module-discuss-azure-fundamental-concepts/eab3340b-19f8-4408-8bf6-627613f70706.jpg"
Tags: ["「從 Microsoft Learn 學 Azure」", azure, "「教學影片」"]
Series: ["「從 Microsoft Learn 學 Azure」", "「教學影片」"]
PostDescription: "雲端概念有了之後，看看如何套用到實物裡面
這個 Module 將會用 case study 加強關於雲端概念的印象
以及在 Azure 上這些概念如何套用"
---
<section><figure><img src="/posts/2020/09/2020-09-21-microsoft-learn-azure-06-module-discuss-azure-fundamental-concepts/eab3340b-19f8-4408-8bf6-627613f70706.jpg" border="0" alt="[從 Microsoft Learn 學 Azure][06] 應用第一個 Module 學習到的內容 - Discuss Azure fundamental concepts.jpg"><br><figcaption>圖片來源：https://pixabay.com/en/books-spine-colors-pastel-1099067/、https://www.freepik.com/free-photo/magnifying-glass-stock-market-graph-paper_3095564.htm</figcaption></figure></section><section><p>
		在上一篇 (<a href="/posts/2020/09/microsoft-learn-azure-05-first-module-introduction-to-azure-fundamentals-part2-azure-service-intro">[從 Microsoft Learn 學 Azure][05] 第一個 Module 下篇 Introduction to Azure Fundamentals - 了解 Azure 服務及基本概念</a>) 結束之後，對於 Cloud Computing (雲端運算) 應該就很有感覺了。</p><p>
		那接下來看的有點像是複習，但是有點不太一樣是針對 Azure 的部分，在做一些深入的討論。
		</p><p>
		這篇來看一下第二個 Module：<a href="https://pptto.alantsai.net/mslearn-02">Discuss Azure fundamental concepts</a></p></section>
	<section>
<a id="KMContentPageTopID" name="KMContentPageTopID"></a><div id="divKMOutline" style="border-style: groove none; margin: 10px 0px;"><ul style="margin:0px 0px 0px 20px"><li><a href="#WizKMOutline_1600692292201564" ;="" style="font-size: 15px; line-height: 1.6;">本節重點</a><br></li><li><a href="#WizKMOutline_1600692292201981" ;="" style="font-size: 15px; line-height: 1.6;">結語</a><br></li></ul></div>
</section>
<!--more-->
	<section><h2 id="WizKMOutline_1600692292201564">本節重點</h2><p>
		了解了基本概念還不夠，還需要把它放入到實物去思考。
		</p><p>
		所以這節看的是怎麼把第一個 Module 學到的在應用。
		</p><p>
		先思考了雲端的好處，包含像是高可用，以及用 VM 作為 SLA 的範例，更多 SLA 可以看：<a href="https://pptto.alantsai.net/azure-sla">Azure SLA</a></p><p>
		先思考了費用這件事，牽扯到了資本支出以及運營支出，這個可以參考我之前在介紹<a href="https://blog.alantsai.net/posts/2020/05/review-event-2020-azure-taiwa-keep-azure-cost-down">Azure 成本控管</a>的時候介紹的內容。
		</p><p>
		再來針對不同模式，IaaS、PaaS 以及 SaaS
		</p><p>
		最後在針對 Public、Private 以及 Hybrid 介紹。
		</p>
		<div class="hidden-xs">
<iframe width="560" height="315" src="https://www.youtube.com/embed/biHyF0MbJpI" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
<div class="visible-xs">
<iframe width="460" height="315" src="https://www.youtube.com/embed/biHyF0MbJpI" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
		</section><section><h2 id="WizKMOutline_1600692292201981">結語</h2><p>
		到目前為止，相信對於雲的好處有個基本概念之後，接下來要開始去了解 Azure 資源是怎麼管理。
		</p></section>