Title: "[從 Microsoft Learn 學 Azure][02] Microsoft Learn 的基本組成 - 如何找到有興趣的內容或者考證照學習資源"
Published: 2020-09-17 19:00
Modified: 2020-09-17 19:00
Image: "/posts/2020/09/2020-09-17-microsoft-learn-azure-02-tour-around-microsoft-learn-how-to-find-things-to-learn/12fba6b7-2964-420c-9ea0-f73848ac98b4.jpg"
Tags: ["「從 Microsoft Learn 學 Azure」", azure, 「證照」]
Series: ["「從 Microsoft Learn 學 Azure」", 「證照」]
PostDescription: "既然要從 Microsoft Learn 學習，那麼首先要先了解 Microsoft Learn 的組成。
這篇先來看看怎麼找到資源，什麼是 Model 以及 Learning Path
並且如何從想考的證照找到資源"
---
<section><figure><img class="img-responsive" src="/posts/2020/09/2020-09-17-microsoft-learn-azure-02-tour-around-microsoft-learn-how-to-find-things-to-learn/12fba6b7-2964-420c-9ea0-f73848ac98b4.jpg" border="0" alt="[從 Microsoft Learn 學 Azure][02] Microsoft Learn 的基本組成 - 如何找到有興趣的內容或者認證學習資源.jpg"><br><figcaption>圖片來源：https://pixabay.com/en/books-spine-colors-pastel-1099067/、https://www.freepik.com/free-photo/magnifying-glass-stock-market-graph-paper_3095564.htm</figcaption></figure></section><section><p>
		在上一篇 (<a href="/posts/2020/09/microsoft-learn-azure-01-why-learn-in-microsoft-learn-about-azure-what-series-is-about">[從 Microsoft Learn 學 Azure][01] 這個系列想要介紹什麼？</a>) 介紹了這個系列的初衷，以及這個系列會介紹什麼之後，下一步當然就要來了解一下我們會主要使用到的學習系統，<a href="https://pptto.alantsai.net/mslearn">Microsoft Learn</a>。</p><p>
		這篇來看一下，想要透過 Microsoft Learn 學習需要什麼，以及整個的網站是透過什麼方式來組成，了解到 Module (模組)，Learning Path (學習途徑)，以及怎麼找到自己感興趣的內容。
		</p></section>

		<section>
<a id="KMContentPageTopID" name="KMContentPageTopID"></a><div id="divKMOutline" style="border-style: groove none; margin: 10px 0px;"><ul style="margin:0px 0px 0px 20px"><li><a href="#WizKMOutline_1600350834251170" ;="" style="font-size: 15px; line-height: 1.6;">Microsoft Learn 的首頁以及進入點</a><br></li><li><a href="#WizKMOutline_1600350834252889" ;="" style="font-size: 15px; line-height: 1.6;">Module 以及 Learning Path</a><br></li><li><a href="#WizKMOutline_1600350834252297" ;="" style="font-size: 15px; line-height: 1.6;">從證照找到學習資源</a><br></li><li><a href="#WizKMOutline_1600350834252230" ;="" style="font-size: 15px; line-height: 1.6;">開始學習</a><br></li><li><a href="#WizKMOutline_1600350834252568" ;="" style="font-size: 15px; line-height: 1.6;">結語</a><br></li></ul></div>
		</section>
		<!--more-->
		<section><h2 id="WizKMOutline_1600350834251170">Microsoft Learn 的首頁以及進入點</h2><p>
		當我們進入到 <a href="https://pptto.alantsai.net/mslearn">Microsoft Learn</a> 的時候，看到的畫面長的會像下面的樣子：
		</p><figure><img class="img-responsive" src="/posts/2020/09/2020-09-17-microsoft-learn-azure-02-tour-around-microsoft-learn-how-to-find-things-to-learn/7525c3f2-41c9-4679-81f4-7a4578b47771.png" border="0" alt="chrome_2020-09-17_21-02-33.png"><br><figcaption>Microsoft Learn 首頁</figcaption></figure><p></p><p>
		在這邊會看到不同的資訊以及不同的路徑，如果點了<em>瀏覽所有學習選項</em>，會發現進入一個很大的清單，裡面列出了所有的內容。
		</p><p>
		這個時候，可以多利用左邊的選單來篩選出想要看的內容，那這邊有分成了：
		</p><ol><li>產品 - 看是依照產品來區分，例如 Azure 這個領域，裡面又可以細分功能</li><li>角色 - 如果今天想要以角色來看，例如<code>應用程式製作者</code> (這個英文會是 Application Developer 所以翻譯有時候還是感覺怪怪的)，那就會篩選出適合這個角色的課程</li><li>等級 - 顧名思義就是課程的難易度，目前分成三種：初級、中級以及進階</li><li>類型 - 是屬於 Module (模組) 還是 Learning Path (學習途徑)</li></ol><figure><img class="img-responsive" src="/posts/2020/09/2020-09-17-microsoft-learn-azure-02-tour-around-microsoft-learn-how-to-find-things-to-learn/5d7b5c18-4084-43be-ad78-48ff7e1d7d85.png" border="0" alt="chrome_2020-09-17_21-14-37.png"><br><figcaption>瀏覽所有學習資源</figcaption></figure><p></p><p>
		那怎麼查找看的課程可以依照自己的狀況去搜索，舉例來說，如果今天想要了解關於 Azure 費用相關，那麼也可以直接透過搜索的方式，然後在用左邊的條件篩選出想看的內容
		</p><figure><img class="img-responsive" src="/posts/2020/09/2020-09-17-microsoft-learn-azure-02-tour-around-microsoft-learn-how-to-find-things-to-learn/ae68917c-82c1-4b0d-8618-19d998cea9e1.png" border="0" alt="chrome_2020-09-17_21-13-51.png"><br><figcaption>篩選和費用有關</figcaption></figure><p></p><p>
		不過篩選出來之後，在 Icon 下面有一行小字，分別代表這個是 Module (模組) 還是 Learning Paths (學習途徑)。
		</p></section><section><h2 id="WizKMOutline_1600350834252889">Module 以及 Learning Path</h2><p>
		基本上 Module 就可以想成是一個單元，針對某個 topic 的單一章節。
		</p><p>
		而 Learning Path 就是把好幾個單元組成在一起，變成一個系列的內容。
		</p><p>
		所以，今天如果想要單點知識，那麼看 Module 就可以了，而如果想要全面了解，那麼看 Learning Path 就對了。
		</p><p>
		舉個例子來說，如果今天我要看的是一系列內容那麼就會點 Learning Path，那麼就會看到裡面是多個 Module 組成，每一個都不同的時間：
		</p><figure><img class="img-responsive" src="/posts/2020/09/2020-09-17-microsoft-learn-azure-02-tour-around-microsoft-learn-how-to-find-things-to-learn/d9f52415-cc8d-491f-a4e0-b8df8d40475f.png" border="0" alt="chrome_2020-09-17_21-19-01.png"><br><figcaption>費用的 Learning Path</figcaption></figure><p>
		那這個 Learning Path 適不適合自己，可以看有沒有 <em>必要條件</em>，以上圖為例是沒有，有些或許會有一些知識要求，才會看得懂。
		</p><p>
		如果今天是點到某個 Module 進去的話，那麼可以看到針對這個 Module 的<em>必要條件</em>，以及它隸屬<em>那些 Learning Path</em>：
		</p><figure><img class="img-responsive" src="/posts/2020/09/2020-09-17-microsoft-learn-azure-02-tour-around-microsoft-learn-how-to-find-things-to-learn/76e00ae9-72bc-418f-ab1f-f18f7d3d05f4.png" border="0" alt="chrome_2020-09-17_21-22-36.png"><br><figcaption>必要條件以及屬於什麼 Learning Path</figcaption></figure><p></p><p>
		透過這個方式，可以快速從單點 (module) 找到系統化的學習 (learning path)，反過來也是一樣。
		</p></section><section><h2 id="WizKMOutline_1600350834252297">從證照找到學習資源</h2><p>
		還有找學習什麼的方式是透過想考某一張證照而來。
		</p><p>
		所以，在首頁的第二個選項，會進入到<a href="https://docs.microsoft.com/zh-tw/learn/certifications/?WT.mc_id=AZ-MVP-5003856">證照瀏覽</a>的畫面。
		</p><p>
		這個時候，只需要點選有興趣的證照，例如：<a href="https://docs.microsoft.com/zh-tw/learn/certifications/azure-fundamentals?WT.mc_id=AZ-MVP-5003856">Microsoft Certified: Azure Fundamentals</a>，這個時候往下滑就會看到相關的 Module 或者 Learning Path：
		</p><figure><img class="img-responsive" src="/posts/2020/09/2020-09-17-microsoft-learn-azure-02-tour-around-microsoft-learn-how-to-find-things-to-learn/e1dba550-1b7e-4573-b8c6-93c1dd269768.png" border="0" alt="chrome_2020-09-17_21-39-37.png"><br><figcaption>從認證找到課程</figcaption></figure><p></p><p>
		所以，用這個來準備證照也是一個很不錯的選擇。
		</p>
		<div class="bs-callout bs-callout-info">
			或許可能會想說這個和官方課程的內容差很多嗎？以我看過的幾個經驗來說，官方課程要 cover 的重點，這邊有都會提到，所以用來學習或者複習真的是滿好的方式。
		</div>
		
		</section><section><h2 id="WizKMOutline_1600350834252230">開始學習</h2><p>
		如果找到自己想要的部分之後，那麼就可以點下某個 Module 的開始，那麼就會進入到一篇一篇的內容：
		</p><figure><img class="img-responsive" src="/posts/2020/09/2020-09-17-microsoft-learn-azure-02-tour-around-microsoft-learn-how-to-find-things-to-learn/1f947ffb-bfc4-439f-9737-6c57529be1a1.png" border="0" alt="chrome_2020-09-17_21-24-21.png"><br><figcaption>從簡介開始</figcaption></figure><p></p><p>
		那在學習的過程大部分都是文字，然後最後有可能有：
		</p><ol><li>要操作的內容 - 會提供所謂的 Azure Sandbox 進行操作 - 不過這個會需要登入帳號才可以</li><li>問題驗證學習狀況 - 一般有個多選題在下面用來確認是否重點都有學習到</li></ol><p></p><figure><img class="img-responsive" src="/posts/2020/09/2020-09-17-microsoft-learn-azure-02-tour-around-microsoft-learn-how-to-find-things-to-learn/85e1e519-c880-48b0-bab9-7710c684c8d1.png" border="0" alt="chrome_2020-09-17_21-28-56.png"><br><figcaption>檢查是否有真的學習到</figcaption></figure><p>
		只有通過了檢查之後，就會得到所謂的經驗值，不過要講經驗值之前就需要談到登入微軟帳號。
		</p><p>
		不過，會發現就算沒有登入，也是可以學習，不過為了最好的學習體驗，建議還是登入，那登入有什麼好處我們下篇在談。
		</p></section><section><h2 id="WizKMOutline_1600350834252568">結語</h2><p>
		這篇我們看了一下如何在 Microsoft Learn 找到我們可能會感興趣的內容。
		</p><p>
		以及，兩個最基本的組成單位，Module 以及 Learning Path 分別代表什麼意思，並且如何彼此的找到。
		</p><p>
		到目前為止，我們都沒有登入微軟帳號，那不影響學習，但是因為沒有帳號也無法記錄那些有學習過。
		</p><p>
		所以，下一篇 (<a href="/posts/2020/09/microsoft-learn-azure-03-why-signin-how-to-tune-profile-and-use-bookmarks-and-collection">[03] Microsoft Learn 登入帳號有什麼好處？</a>) 我們來看一下怎麼登入帳號，以及登入帳號有什麼用途。
		</p></section>