Title: "[從 Microsoft Learn 學 Azure][05] 第一個 Module 下篇 Introduction to Azure Fundamentals - 了解 Azure 服務及基本概念"
Published: 2020-09-20 17:00
Modified: 2020-09-20 17:00
Image: "/posts/2020/09/2020-09-20-microsoft-learn-azure-05-first-module-introduction-to-azure-fundamentals-part2-azure-service-intro/e977cc1e-119b-4ed4-a636-38abb97c925c.jpg"
Tags: ["「從 Microsoft Learn 學 Azure」", azure, "「教學影片」"]
Series: ["「從 Microsoft Learn 學 Azure」", "「教學影片」"]
PostDescription: "了解了基本雲端運算概念之後
接下來就是要看看 Azure 有什麼服務了
這篇將來看看下半段的部分，Azure 有什麼服務，以及有什麼方式建立出 Azure Account 帳號"
---
<section><figure><img class="img-responsive" src="/posts/2020/09/2020-09-20-microsoft-learn-azure-05-first-module-introduction-to-azure-fundamentals-part2-azure-service-intro/e977cc1e-119b-4ed4-a636-38abb97c925c.jpg" border="0" alt="[從 Microsoft Learn 學 Azure][05] 第一個 Module 下篇 Introduction to Azure Fundamentals.jpg"><br><figcaption>圖片來源：https://pixabay.com/en/books-spine-colors-pastel-1099067/、https://www.freepik.com/free-photo/magnifying-glass-stock-market-graph-paper_3095564.htm</figcaption></figure></section><section><p>
		在上一篇 (<a href="/posts/2020/09/microsoft-learn-azure-04-first-module-introduction-to-azure-fundamentals-cloud-concept-intro" style="font-size: 15px; line-height: 1.6;">[從 Microsoft Learn 學 Azure][04] 第一個 Module 上篇 Introduction to Azure Fundamentals - 了解 Cloud Computing 基本概念</a><span style="font-size: 15px; line-height: 1.6;">) 看了第一個 Module Introduction to Azure Fundemental。</span></p><p>
		看了第一個部分，裡面介紹了所謂的 Cloud Computing 的基本概念 - 為什麼會想要從地端搬到雲端。
		</p><p>
		接下來在這個 Module 的下半段就是在介紹 Azure 有什麼類型的服務可以使用。
		</p><div class="bs-callout bs-callout-info"><h4 id="WizKMOutline_1600594627137321" kmcontenthide="1">參考資料</h4><p>
			Module 的網址：<a href="https://pptto.alantsai.net/mslearn-01-intro-azure">Introduction to Azure Fundamentals</a></p><p>
			Azure 服務這麼多，可以挑選什麼可以參考其他幾個曾經有分享過的影片：
			</p><ol><li><a href="/posts/2020/08/review-event-stud4-how-azure-can-help-with-architecture-when-to-use-what-services">[活動] 2020 Study4 8 Dev 8月活動 - 架構這件事 - Azure 可以幫助什麼 - 如何選擇使用什麼 Azure 服務</a></li><li><a href="https://www.youtube.com/watch?v=-M2wCv72HCs">20200716 企業上雲 (Azure) 高效應用開發教戰指南</a></li></ol><p></p></div></section>
			<section>
<a id="KMContentPageTopID" name="KMContentPageTopID"></a><div id="divKMOutline" style="border-style: groove none; margin: 10px 0px;"><ul style="margin:0px 0px 0px 20px"><li><a href="#WizKMOutline_1600594629083551" ;="" style="font-size: 15px; line-height: 1.6;">Module 重點</a><br></li><li><a href="#WizKMOutline_1600594629083700" ;="" style="font-size: 15px; line-height: 1.6;">結語</a><br></li></ul></div>
			</section>
			<!--more--><section><h2 id="WizKMOutline_1600594629083551">Module 重點</h2><p>
		在這節重要的是對於整個 Azure 服務有基本的概念。
		</p><p>
		先了解到，Azure 有那些服務，並且每一個服務類型可能有那些不同。
		</p><figure><img class="img-responsive" src="/posts/2020/09/2020-09-20-microsoft-learn-azure-05-first-module-introduction-to-azure-fundamentals-part2-azure-service-intro/7758c463-4162-4469-8f09-2b6c55be679f.png" border="0" alt=""><br><figcaption>Azure Service</figcaption></figure><p></p><p>
		再來看一下怎麼建立 Azure 帳號，有提到了：
		</p><ol><li>Microsoft Learn Sandbox（Azure Sandbox） - 只需要帳號就好，一個用來學習用的 Subscription</li><li>Trial/Free 帳號 - Trial 是 1個月或者 6300 元，看那個先結束，只需要信用卡以及手機就可以了</li><li>MSDN - 有每個月 4600 的 credit 可以使用</li></ol><p></p><p>
		最後看了一下 case study - 接下來其他 Moodule 都會用這個概念來作為學習。
		</p>
				<div class="hidden-xs">
<iframe width="560" height="315" src="https://www.youtube.com/embed/zAWhv0GpQ58" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
<div class="visible-xs">
<iframe width="460" height="315" src="https://www.youtube.com/embed/zAWhv0GpQ58" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
		</section><section><h2 id="WizKMOutline_1600594629083700">結語</h2><p>
		在這篇有了基本概念之後，下一篇(<a href="/posts/2020/09/microsoft-learn-azure-06-module-discuss-azure-fundamental-concepts">[從 Microsoft Learn 學 Azure][06] 應用第一個 Module 學習到的內容 - Discuss Azure fundamental concepts</a>)將來看把學習的東西用到思考裡面，把這個 Module 學習到的東西套用找出適用的服務。
		</p></section>