Title: "[08] 透過 Azure Sandbox 建立第一個 Azure 服務 - WordPress 網站 | [從 Microsoft Learn 學 Azure]"
Published: 2020-09-23 19:00
Modified: 2020-09-23 19:00
Image: "/posts/2020/09/2020-09-23-microsoft-learn-azure-08-use-azure-sandbox-to-create-first-azure-service-wordpress-web-app/497b8c73-e3e2-4407-8db7-ab45340d0150.jpg"
Tags: ["「從 Microsoft Learn 學 Azure」", azure, "「教學影片」"]
Series: ["「從 Microsoft Learn 學 Azure」", "「教學影片」"]
PostDescription: "上一篇 看完了一些 Azure 基本的組成概念，包含了 Subscription、Management Group、Resource、Resource Group、Region 等最基本的概念之後。
接下來在這個 Module 裡面，我們將實際透過 Azure Marketplace 建立出一個在 Web App 上面的 WordPress 網站，並且看一下那些概念在畫面上對應什麼。"
---
<section><figure><img src="/posts/2020/09/2020-09-23-microsoft-learn-azure-08-use-azure-sandbox-to-create-first-azure-service-wordpress-web-app/497b8c73-e3e2-4407-8db7-ab45340d0150.jpg" border="0" alt="[從 Microsoft Learn 學 Azure][08] 建立第一個 Azure 服務 - WordPress 網站.jpg"><br><figcaption>圖片來源：https://pixabay.com/en/books-spine-colors-pastel-1099067/、https://www.freepik.com/free-photo/magnifying-glass-stock-market-graph-paper_3095564.htm</figcaption></figure></section><section><p>
		上一篇 (<a href="/posts/2020/09/microsoft-learn-azure-07-describe-core-azure-architectural-components">[從 Microsoft Learn 學 Azure][07] 搞懂基本管理結構 - Subscription、Resource Group 以及 Region</a>) 看完了一些 Azure 基本的組成概念，包含了 Subscription、Management Group、Resource、Resource Group、Region 等最基本的概念之後。</p><p>
		接下來在這個 Module 裡面，我們將實際透過 Azure Marketplace 建立出一個在 Web App 上面的 WordPress 網站。
		</p><p>
		在這個過程將會把之前提到的那些基本組成概念，在實務上面都看一遍。
		</p><div class="bs-callout bs-callout-info">
				Module：<a href="https://pptto.alantsai.net/mslearn-03">Describe core Azure architectural components</a></div></section>
	<section>
<a id="KMContentPageTopID" name="KMContentPageTopID"></a><div id="divKMOutline" style="border-style: groove none; margin: 10px 0px;"><ul style="margin:0px 0px 0px 20px"><li><a href="#WizKMOutline_1600863825453109" ;="" style="font-size: 15px; line-height: 1.6;">Module 重點</a><br></li><li><a href="#WizKMOutline_1600863825453303" ;="" style="font-size: 15px; line-height: 1.6;">結語</a><br></li></ul></div>
	</section>
	<!--more--><section><h2 id="WizKMOutline_1600863825453109">Module 重點</h2><p>
		在這篇主要是了解怎麼啟用 Azure Sandbox (或者叫做 Microsoft Learn SandBox)。並且直到了 Sandbox 一天同一個帳戶只能夠建立出 10個，一次可以用 2 小時。
		</p><p>
		再來，介紹了 Azure Marketplace，並且把上篇介紹到的概念，在實際上面的畫面都看了一次。
		</p><p>
		做完了之後，相對對於 Azure 的操作就沒有什麼問題。
		</p>
		
		<div class="hidden-xs">
<iframe width="560" height="315" src="https://www.youtube.com/embed/xYHQIouTY74" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
<div class="visible-xs">
<iframe width="460" height="315" src="https://www.youtube.com/embed/xYHQIouTY74" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
		</section><section><h2 id="WizKMOutline_1600863825453303">結語</h2><p>
		這個是 Azure Fundamentals part 1: Describe core Azure concepts 最後一個 Module，相信對於雲端的概念以及 Azure 基本組成非常清楚了。
		</p><p>
		在接下來將會開始進入到：Azure Fundamentals part 2: Describe core Azure services。
		</p><p>
		在下一個 Learning Path，開始要針對每一個不同的服務進入一些比較詳細的介紹，包含像是資料庫/分析的服務、運算的服務等。
		</p><p>
		下一篇 (<a href="/posts/2020/09/microsoft-learn-azure-09-explore-azure-database-and-analytics-services-cosmosdb-intro">[09] NoSQL 存儲 - Azure Cosmos DB 介紹</a>) 來看看資料庫以及分析服務。
		</p></section>