Title: "[11] 透過 Azure Sandbox 建立出 Azure SQL Database | [從 Microsoft Learn 學 Azure]"
Published: 2020-09-26 19:00
Modified: 2020-09-26 19:00
Image: "/posts/2020/09/2020-09-26-microsoft-learn-azure-11-explore-azure-database-and-analytics-services-azure-sql-database-from-sandbox/ea6f953f-1eb3-448f-911e-d04fcadcef2f.jpg"
Tags: ["「從 Microsoft Learn 學 Azure」", azure, "「教學影片」"]
Series: ["「從 Microsoft Learn 學 Azure」", "「教學影片」"]
PostDescription: "mslearn 看完了關聯式資料庫的服務以及大數據相關的服務之後
是動手的時候到了，透過 sandbox 建立 Azure Sql Database
把概念變成實作"
---
<section><figure><img src="/posts/2020/09/2020-09-26-microsoft-learn-azure-11-explore-azure-database-and-analytics-services-azure-sql-database-from-sandbox/ea6f953f-1eb3-448f-911e-d04fcadcef2f.jpg" border="0" alt="[從 Microsoft Learn 學 Azure][11] 透過 Azure Sandbox 建立出 Azure Sql Databse.jpg"><br><figcaption>圖片來源：https://pixabay.com/en/books-spine-colors-pastel-1099067/、https://www.freepik.com/free-photo/magnifying-glass-stock-market-graph-paper_3095564.htm</figcaption></figure></section><section><p>
		在上一篇 (<a href="/posts/2020/09/microsoft-learn-azure-10-explore-azure-database-and-analytics-services-relational-database-paas-service-and-big-data">[10] 關聯式資料庫及大數據分析服務介紹 - MSSQL、MySQL、PostgreSQL、HDInsight 、 Synapse Analytics [從 Microsoft Learn 學 Azure]</a>) 介紹了有那些關聯式資料庫的服務以及 Big Data 服務之後。</p><p>
		這篇要實際建立看看 - 看一下要建立出一個 Azure Sql Database 需要做什麼。
		</p><p>
		那如果遇到過啟用 Azure Sandbox 但是還是進入了自己的 Subscription 也不用慌，這次一次一起介紹。
		</p><div class="bs-callout bs-callout-info">
			Module：<a href="https://pptto.alantsai.net/mslearn-path2-01">Explore Azure database and analytics services</a></div></section>

	<section>
<a id="KMContentPageTopID" name="KMContentPageTopID"></a><div id="divKMOutline" style="border-style: groove none; margin: 10px 0px;"><ul style="margin:0px 0px 0px 20px"><li><a href="#WizKMOutline_1601129158795287" ;="" style="font-size: 15px; line-height: 1.6;">Module 重點</a><br></li><li><a href="#WizKMOutline_1601129158796692" ;="" style="font-size: 15px; line-height: 1.6;">結語</a><br></li></ul></div>
	</section>
	<!--more-->
	<section><h2 id="WizKMOutline_1601129158795287">Module 重點</h2><p>
		建立出 Azure SQL Databse 的時候，需要先建立出 SQL Server - 這是一個邏輯的 Server 用來管理權限防火墻這些內容，是不收費。
		</p><p>
		SQL Database 建立出來的時候有範例資料庫可以使用。
		</p><p>
		Portal 裡面有 Query Editor 可以用來嘗試對資料庫下 SQL。
		</p><p>
		要連線都需要開啟 IP 白名單，要不然預設是不能夠連。
		</p>
		<div class="hidden-xs">
<iframe width="560" height="315" src="https://www.youtube.com/embed/ttmMlBoUAfc" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
<div class="visible-xs">
<iframe width="460" height="315" src="https://www.youtube.com/embed/ttmMlBoUAfc" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
		</section><section><h2 id="WizKMOutline_1601129158796692">結語</h2><p>
		到了這邊，Data 服務的 Module 就介紹完了。
		</p><p>
		所以，下篇進入另外一個 Module，也就是 Computing (運算) 的部分。
		</p></section>