Title: "[從 MS Learn 學 Azure][01] 這個系列想要介紹什麼？"
Published: 2020-09-16 19:00
Modified: 2020-09-16 19:00
Image: "/posts/2020/09/2020-09-16-microsoft-learn-azure-01-why-learn-in-microsoft-learn-about-azure-what-series-is-about/44073299-099c-4452-aa25-437479e2b57b.jpg"
Tags: ["「從 MS Learn 學 Azure」", azure, 「證照」]
Series: ["「從 MS Learn 學 Azure」", 「證照」]
PostDescription: "鐵人賽又來了，雖然九月很忙，一度想要放棄今年參賽，但是看著被我不小心推坑的人的眼神，不報怎麼行能，所以還是報了 Azure 這個領域，（突然發現這個畫面好像似曾相識 Orz，原來去年也是這樣 XD），這次還是介紹 Azure，不過想要透過 Microsoft Learn 這個平台，畢竟，想學最常遇到的三個問題（藉口）他都解決了，1. 沒中文 - 有中文介紹，2. 沒 Azure 資源 - 有免費 Sandbox 給你跑，3. 沒系統學習資料 - 想考證照基本的都 cover 了，所以，一樣還是要有個開篇，就從今天開始吧"
---
<section><figure><img class="img-responsive" src="/posts/2020/09/2020-09-16-microsoft-learn-azure-01-why-learn-in-microsoft-learn-about-azure-what-series-is-about/44073299-099c-4452-aa25-437479e2b57b.jpg" border="0" alt="[從 MS Learn 學 Azure] 這個系列想要介紹什麼？.jpg"><br><figcaption>圖片來源：https://pixabay.com/en/books-spine-colors-pastel-1099067/、https://www.freepik.com/free-photo/magnifying-glass-stock-market-graph-paper_3095564.htm</figcaption></figure></section><section><p>
		時間過得好快呀，一眨眼一年又過去了，又到了今年鐵人賽開始的時間。
		</p><p>
		在去年的時候，用了影片的方式建立了<a href="/tags/%E3%80%8C%E6%88%91%E5%92%8C%E9%98%BF%E4%B9%9D(azure)%E6%9C%89%E7%B4%84%E3%80%8D">「我和 Azure 有約」系列</a>。
		</p><p>
		那個系列是從無到有的介紹一些 Azure 常會使用到的服務。
		</p><p>
		這個過程其實也蠻好玩的，從一開始音質非常不 ok，然後調整到了之後，買了麥克風等等，到最後現在音質應該比較沒問題。
		</p><p>
		那今年我其實也有考慮過是否把那個系列繼續下去，但是後來想一下，還是想說開另外一個系列（不過不太表那個系列不會繼續下去 XD），不過為什麼會想要開這個系列呢？
		</p><p>
		這篇我們來看一下，並且看看這個系列要做什麼事情。
		</p></section>
		<section>
<a id="KMContentPageTopID" name="KMContentPageTopID"></a><div id="divKMOutline" style="border-style: groove none; margin: 10px 0px;"><ul style="margin:0px 0px 0px 20px"><li><a href="#WizKMOutline_1600270200875444" ;="" style="font-size: 15px; line-height: 1.6;">學習這件事</a><br></li><li><a href="#WizKMOutline_1600270200875111" ;="" style="font-size: 15px; line-height: 1.6;">什麼是 Microsoft Learn</a><br></li><li><a href="#WizKMOutline_1600270200875804" ;="" style="font-size: 15px; line-height: 1.6;">所以這個系列會講些什麼？</a><br></li><li><a href="#WizKMOutline_1600270200875783" ;="" style="font-size: 15px; line-height: 1.6;">結語</a><br></li></ul></div>
		</section>
		<!--more-->
		<section><h2 id="WizKMOutline_1600270200875444">學習這件事</h2><p>
		現在在網路上面學知識其實是非常容易，只要知道關鍵字要找到這些內容都沒什麼問題。
		</p><p>
		不過這樣雖然單點學習很方便也很快，但是相較於其他更傳統的學習方式，例如去上課或者從書本上面來學習相比，會更<em>碎片化</em>或者比較沒有那麼有結構性。
		</p><p>
		在學習來說，最怕的就是<em>不知道不知道什麼</em>，聽起來有點拗口，不過如果<em>我知道我不知道什麼</em>，那其實問題都不大，因為如同上面所說，只要一搜索就找到了，但是如果我連他是什麼完全都不知道怎麼辦？
		</p><p>
		相信大家應該都有看過下圖：
		</p><figure><img class="img-responsive" src="/posts/2020/09/2020-09-16-microsoft-learn-azure-01-why-learn-in-microsoft-learn-about-azure-what-series-is-about/16b482f7-0830-47a7-84a5-43c0a7435757.jpg" border="0" alt=""><br><figcaption>從 data 到 wisdom。來源：https://twitter.com/gapingvoid</figcaption></figure><p></p><p>
		學習單點都沒有問題，但是怎麼把他們串在一起才是困難的地方。
		</p><p>
		這時候就需要系統的學習。
		</p><p>
		以我自己來說，為什麼自己以前會想要考證，就是希望至少我會知道從微軟的角度來說，認為應該要知道什麼。
		</p><p>
		那如果我沒有錢，但是我又想要系統學習 Azure 我可以怎麼辦？
		</p><p>
		這個時候 Microsoft Learn 就是一個滿好開始的地方。
		</p></section><section><h2 id="WizKMOutline_1600270200875111">什麼是 Microsoft Learn</h2><div class="bs-callout bs-callout-info"><h4 kmcontenthide="1">MS Learn 網址</h4><p><a href="https://pptto.alantsai.net/mslearn">Microsoft Learn</a></p></div><p>
		微軟在教育訓練/學習這個部分投入還滿多的，而且很多資源都是免費的部分。
		</p><p>
		在早幾年，大家應該都有聽過 Microsoft Virtual Academy (MVA)，MVA 其實滿不錯的，並且有不同類型的資源。
		</p><p>
		不過 MVA 已經退休了，而取代他的就是 Microsoft Learn (在後面我都會簡稱成為 MS Learn)。
		</p><p>
		MS Learn 的資源其實也非常的好，並且有<em>中文</em>。所以再也沒有藉口說英文不好而沒有辦法學。
		</p><p>
		另外一個常見的藉口就是我沒有 Azure 訂閱，或者沒有信用卡不能申請試用，透過 MS Learn 會有所謂的 Azure Sandbox ，完全免費，可以用來學習用途，再也沒藉口啦。
		</p><p>
		最後，如果今天想要考微軟證照，那麼透過 MS Learn 學習也是一個很好的學習/複習的方式。
		</p><p>
		不過 MS Learn 怎麼使用？有那些內容？怎麼用它來學習 Azure 是這個系列我想要和大家一起看看的部分。
		</p></section><section><h2 id="WizKMOutline_1600270200875804">所以這個系列會講些什麼？</h2><p>
		相較於去年介紹的 Azure 系列是我自己想到那介紹到那邊，MS Learn 的內容更加結構化，並且如果有想要往考證方向走的話，其實也很適合。
		</p><p>
		所以，我預計在這個系列會：
		</p><ol><li>和大家一起看看 MS Learn 這個平台</li><li>和大家一起快快樂樂 學 Azure</li></ol><p></p><p>
		所謂，「授人以魚，不如授人以漁」，希望透過這個系列後面不管是要自我學習，或者準備 Azure 考認證都沒有太大問題。
		</p></section><section><h2 id="WizKMOutline_1600270200875783">結語</h2><p>
		如果大家會想要跟著一起學的話，那麼其實只需要：
		</p><ol><li>想學習的心</li><li>微軟帳號</li><li>網路</li></ol><p></p><p>
		一切都不是問題嘍。
		</p><p>
		讓我們一起看看吧，下一篇 (<a href="/posts/2020/09/microsoft-learn-azure-02-tour-around-microsoft-learn-how-to-find-things-to-learn">[01] 這個系列想要介紹什麼？</a>) 介紹一下 MS Learn 這個平台。
		</p></section>