Title: "[從 Microsoft Learn 學 Azure][03] Microsoft Learn 登入帳號有什麼好處？"
Published: 2020-09-18 19:00
Modified: 2020-09-18 19:00
Image: "/posts/2020/09/2020-09-18-microsoft-learn-azure-03-why-signin-how-to-tune-profile-and-use-bookmarks-and-collection/093fe217-cf8c-4633-8c07-447b24c85de2.jpg"
Tags: ["「從 Microsoft Learn 學 Azure」", azure, 「證照」]
Series: ["「從 Microsoft Learn 學 Azure」", 「證照」]
PostDescription: "了解如何找到可以學習的資源之後，沒有登入任何帳號也是可以學，但是為什麼可能會想要登入？
這篇來看一下登入之後有什麼好處，怎麼可以調整網址、名稱以及頭像
最後看看 bookmarks 以及 collections 的用途"
---
<section><figure><img class="img-responsive" src="/posts/2020/09/2020-09-18-microsoft-learn-azure-03-why-signin-how-to-tune-profile-and-use-bookmarks-and-collection/093fe217-cf8c-4633-8c07-447b24c85de2.jpg" border="0" alt="[從 Microsoft Learn 學 Azure][03] Microsoft Learn 登入帳號有什麼好處？.jpg"><br><figcaption>圖片來源：https://pixabay.com/en/books-spine-colors-pastel-1099067/、https://www.freepik.com/free-photo/magnifying-glass-stock-market-graph-paper_3095564.htm</figcaption></figure></section><section><p>
		在上一篇 (<a href="/posts/2020/09/microsoft-learn-azure-02-tour-around-microsoft-learn-how-to-find-things-to-learn">[02] Microsoft Learn 的基本組成 - 如何找到有興趣的內容或者考證照學習資源</a>) 了解了如何找到有興趣的 Module 以及 Learning Path，並且如果今天是考認證的角度，也可以用認證的方式找到適合的資源。</p><p>
		到目前為止，就算不登入的情況下也可以學習，那這樣為什麼會想要登入呢？
		</p><p>
		這篇來看一下登入之後可以做什麼。
		</p></section>
		<section>
<a id="KMContentPageTopID" name="KMContentPageTopID"></a><div id="divKMOutline" style="border-style: groove none; margin: 10px 0px;"><ul style="margin:0px 0px 0px 20px"><li><a href="#WizKMOutline_1600443067132660" ;="" style="font-size: 15px; line-height: 1.6;">如何登入帳號</a><br></li><li><a href="#WizKMOutline_1600443067132417" ;="" style="font-size: 15px; line-height: 1.6;">Profile 這件事</a><br></li><li><a href="#WizKMOutline_1600443067132414" ;="" style="font-size: 15px; line-height: 1.6;">設定 Profile 像是網址，隱藏 profile 等</a><br></li><li><a href="#WizKMOutline_1600443067132978" ;="" style="font-size: 15px; line-height: 1.6;">把有興趣的 Module 加入到 bookmarks 或者 collection</a><br></li><li><a href="#WizKMOutline_1600443067132796" ;="" style="font-size: 15px; line-height: 1.6;">結語</a><br></li></ul></div>
		</section>
		<!--more-->
		<section><h2 id="WizKMOutline_1600443067132660">如何登入帳號</h2><p>
		當進入到 <a href="https://pptto.alantsai.net/mslearn">Microsoft Learn</a> 的時候，右上角可以點下 <code>Sign in</code>。
		</p><figure><img class="img-responsive" src="/posts/2020/09/2020-09-18-microsoft-learn-azure-03-why-signin-how-to-tune-profile-and-use-bookmarks-and-collection/bf37ba1f-e728-4144-af3a-3d07914249e2.png" border="0" alt=""><br><figcaption>登入的按鈕</figcaption></figure><p></p><p>
		按下了之後，就會進入到常見的 Microsoft 登入的畫面。
		</p><p>
		這個時候可以使用 Microsoft 帳號進行登入。
		</p><p>
		只要登入之後，右上角會換成頭像的樣子，並且可以在進行一些操作。
		</p><figure><img class="img-responsive" src="/posts/2020/09/2020-09-18-microsoft-learn-azure-03-why-signin-how-to-tune-profile-and-use-bookmarks-and-collection/8e4e6677-73e2-4fad-a2f5-0edbc191f375.png" border="0" alt=""><br><figcaption>登入後面的畫面</figcaption></figure></section><section><h2 id="WizKMOutline_1600443067132417">Profile 這件事</h2><p>
		登入之後，第一個可能會想看的地方就是 profile (設定檔) 的部分。
		</p><figure><img class="img-responsive" src="/posts/2020/09/2020-09-18-microsoft-learn-azure-03-why-signin-how-to-tune-profile-and-use-bookmarks-and-collection/d1d725c4-4a06-45fd-b4ce-c852e953a8ce.png" border="0" alt=""><br><figcaption>自己 profile 看到的畫面</figcaption></figure><p>
		這邊，代表的是目前你的狀況，包含了像是等級，最新動態等資訊，這樣就可以直接從<em>上次</em>看到的內容繼續看下去。
		</p><p>
		Microsoft Learn 有個類似於升級的概念，只要完成了知識檢查的部分，就會得到所謂的 Exp，然後夠了之後就會升級。
		</p><p>
		所以有種打怪升級的感覺，看越多，等級就會越高。
		</p><p>
		這個 profile 鏈接是對外公開的，所以如果想要和別人分享最近學了什麼，那麼就可以直接分享這個鏈接，例如我的會是：<a href="https://docs.microsoft.com/zh-tw/users/alantsai/?WT.mc_id=AZ-MVP-5003856">https://docs.microsoft.com/zh-tw/users/alantsai/</a></p><p>
		可以看得到我的等級，得到的徽章以及徽章，可以看到其實我的等級並不高，希望透過這個系列之後就會變高並且你會和我一樣。
		</p><figure><img class="img-responsive" src="/posts/2020/09/2020-09-18-microsoft-learn-azure-03-why-signin-how-to-tune-profile-and-use-bookmarks-and-collection/0213490d-d969-412e-9bbc-ee6ddcd0ffe2.png" border="0" alt=""><br><figcaption>Alan Tsai 的 Profile</figcaption></figure></section><section><h2 id="WizKMOutline_1600443067132414">設定 Profile 像是網址，隱藏 profile 等</h2><p>
		像這種 profile 第一件事情會想做的就是，可不可以該網址？至少後面的部分會希望改成自己喜歡的。
		</p><p>
		這件事可以透過從左邊的 <code>Settings</code>，做到，點下去之後，可以設定：
		</p><ol><li>網址最後面的部分</li><li>顯示的名稱</li><li>顯示的頭像</li></ol><figure><img class="img-responsive" src="/posts/2020/09/2020-09-18-microsoft-learn-azure-03-why-signin-how-to-tune-profile-and-use-bookmarks-and-collection/9118f44f-3be4-4223-bb66-17d894af8b65.png" border="0" alt=""><br><figcaption>設定 profile 網址、名稱以及頭像</figcaption></figure><p></p><p>
		如果不想要你的 profile 可以被別人看到，那麼在往下一點點，可以看到 <code>Privacy Settings</code>。
		</p><p>
		這邊可以決定是不是要公開你的訊息。
		</p></section><section><h2 id="WizKMOutline_1600443067132978">把有興趣的 Module 加入到 bookmarks 或者 collection</h2><p>
		當我們在看 Module 的時候，有兩個按鈕可以按，一個是 bookmarks 以及 collection。
		</p><p>
		bookmarks 比較像是未來有興趣，所以先把他們整理起來。
		</p><p>
		collection 則是自己組合出一個你自己認為適合的集合 - 這個集合可以分享給別人，這樣可以組成你自己的 learning path。
		</p><div class="bs-callout bs-callout-info">
			假設想要要求新進員工都要學過某些內容，這個時候可以透過建立 collection，然後在讓新進人員都可以學習過。
		</div><figure><img class="img-responsive" src="/posts/2020/09/2020-09-18-microsoft-learn-azure-03-why-signin-how-to-tune-profile-and-use-bookmarks-and-collection/4b866984-da86-4a3f-8108-8f336c9a23c9.png" border="0" alt=""><br><figcaption>加入 bookmarks 以及 collection</figcaption></figure></section><section><h2 id="WizKMOutline_1600443067132796">結語</h2><p>
		這篇了解了怎麼登入帳號，以及登入帳號之後有什麼好處。
		</p><p>
		Profile 的等級制度希望可以讓大家持續進行學習，不過沒有做任何學習之前肯定沒法增加經驗值。
		</p><p>
		所以，下篇我們直接進入學習階段。
		</p></section>