Title: "[從 MS Learn 學 Azure][04] 第一個 Module 上篇 Introduction to Azure Fundamentals - 了解 Cloud Computing 基本概念"
Published: 2020-09-19 19:00
Modified: 2020-09-19 19:00
Image: "/posts/2020/09/2020-09-19-microsoft-learn-azure-04-first-module-introduction-to-azure-fundamentals-cloud-concept-intro/96a4201d-fe3e-43ba-a88e-71e4889311ae.jpg"
Tags: ["「從 MS Learn 學 Azure」", azure, "「教學影片」"]
Series: ["「從 MS Learn 學 Azure」", "「教學影片」"]
PostDescription: "了解了整個 Microsoft Learn 系統之後，接下來就要看我們第一個 Module
先看上半段的部分，了解雲端的基本概念，包含 IaaS、PaaS 以及 SaaS，public、private 以及 hybrid cloud 等
把這些專有名詞搞懂，不管是 Azure 還是其他雲都可以用"
---
<section><figure><img class="img-responsive" src="/posts/2020/09/2020-09-19-microsoft-learn-azure-04-first-module-introduction-to-azure-fundamentals-cloud-concept-intro/96a4201d-fe3e-43ba-a88e-71e4889311ae.jpg" border="0" alt="[從 MS Learn 學 Azure][04] 第一個 Module 上篇 Introduction to Azure Fundamentals.jpg"><br><figcaption>圖片來源：https://pixabay.com/en/books-spine-colors-pastel-1099067/、https://www.freepik.com/free-photo/magnifying-glass-stock-market-graph-paper_3095564.htm</figcaption></figure></section>

	<section>
<a id="KMContentPageTopID" name="KMContentPageTopID"></a><div id="divKMOutline" style="border-style: groove none; margin: 10px 0px;"><ul style="margin:0px 0px 0px 20px"><li><a href="#WizKMOutline_1600529858865928" ;="" style="font-size: 15px; line-height: 1.6;">Introduction to Azure Fundamentals</a><br></li><li><a href="#WizKMOutline_1600529858865128" ;="" style="font-size: 15px; line-height: 1.6;">結語</a><br></li></ul></div>
	</section>
	<!--more-->
	<section><p>
		在上一篇 (<a href="/posts/2020/09/microsoft-learn-azure-03-why-signin-how-to-tune-profile-and-use-bookmarks-and-collection">[從 MS Learn 學 Azure][03] Microsoft Learn 登入帳號有什麼好處？</a>) 介紹完了 profile 設定之後，基本上對於 <a href="https://pptto.alantsai.net/mslearn" style="font-size: 15px; line-height: 1.6;">Microsoft Learn</a><span style="font-size: 15px; line-height: 1.6;"> 的整個系統操作就沒什麼問題了。</span></p><p>
		那接下來就是開始透過 Microsoft Learn 開始學習。
		</p><p>
		先從最基本的開始介紹起 - <a href="https://pptto.alantsai.net/mslearn-01-intro-azure">Introduction to Azure Fundamentals</a></p></section><section><h2 id="WizKMOutline_1600529858865928">Introduction to Azure Fundamentals</h2><p>
		這個 Module 主要目的是兩個：
		</p><ol><li>了解基本 Cloud Computing (雲端) 的概念 - 為什麼可能想要上雲、有什麼特色、幾種模式 (IaaS，PaaS 以及 SaaS）以及 部署模式 (public, priave 以及 hybrid)</li><li>了解 Azure 基本服務 - 對於決定要用什麼服務有點基本概念</li></ol><p></p><p>
		在這個 part，會先針對一段的部分進行介紹。
		</p><p>
		對於沒有任何雲端概念的人來說，要先清楚這些詞（像是 IaaS、PaaS 以及 SaaS）代表什麼意思，以及為什麼會想要上雲。
		</p><p>
		對於這些有概念之後，可以再來思考那上雲這些是否有足夠的吸引力。
		</p><p>
		接下來的導讀將會用英文版本的內容，這個是避免翻譯上面有不清楚的詞，但是可以透過上面的鏈接直接開啟中文版本的 Module 內容。
		</p>
		<div class="hidden-xs">
<iframe width="560" height="315" src="https://www.youtube.com/embed/femUY-cfivY" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
<div class="visible-xs">
<iframe width="460" height="315" src="https://www.youtube.com/embed/femUY-cfivY" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
		</section><section><h2 id="WizKMOutline_1600529858865128">結語</h2><p>
		希望透過這篇內容對於 Cloud Computing（雲端）的基本概念非常清楚了，以後別人在說雲可以馬上懂對方在說什麼。
		</p><p>
		下篇將會看看 Azure 服務有那些的部分。
		</p></section>