Title: "[10] 關聯式資料庫及大數據分析服務介紹 - MSSQL、MySQL、PostgreSQL、HDInsight 、 Synapse Analytics | [從 Microsoft Learn 學 Azure]"
Published: 2020-09-25 19:00
Modified: 2020-09-25 19:00
Image: "/posts/2020/09/2020-09-25-microsoft-learn-azure-10-explore-azure-database-and-analytics-services-relational-database-paas-service-and-big-data/f287c29a-fb95-43ad-ad56-b4bee3d054a9.jpg"
Tags: ["「從 Microsoft Learn 學 Azure」", azure, "「教學影片」"]
Series: ["「從 Microsoft Learn 學 Azure」", "「教學影片」"]
PostDescription: "看完了 Cosmos DB 這個支援 5 中不同 NoSQL 資料庫結構的服務之後
接下來到大家最熟悉的關聯式資料的部分
看一下 Azure 有那些服務讓我們使用關聯式資料庫的時候變成簡單
並且，看看針對大數據或者大數據分析有那些服務"
---
<section><figure><img src="/posts/2020/09/2020-09-25-microsoft-learn-azure-10-explore-azure-database-and-analytics-services-relational-database-paas-service-and-big-data/f287c29a-fb95-43ad-ad56-b4bee3d054a9.jpg" border="0" alt="[從 Microsoft Learn 學 Azure][10] PaaS 關聯式資料庫介紹 MSSQL、MySQL、PostgresSQL.jpg"><br><figcaption>圖片來源：https://pixabay.com/en/books-spine-colors-pastel-1099067/、https://www.freepik.com/free-photo/magnifying-glass-stock-market-graph-paper_3095564.htm</figcaption></figure></section><section><p>
		在上一篇 (<a href="/posts/2020/09/microsoft-learn-azure-09-explore-azure-database-and-analytics-services-cosmosdb-intro">[09] NoSQL 存儲 - Azure Cosmos DB 介紹 | [從 Microsoft Learn 學 Azure]</a>) 看完了 Azure Cosmos DB 這個 NoSQL 的服務之後。</p><p>
		接下來看看對於常見的關聯式資料庫 (RDMS) 這個部分 Azure 有什麼服務可以使用。
		</p><p>
		以及近幾年非常流行的大數據、AI 等，這些大數據存儲或者分析可以用什麼服務處理。
		</p><p>
		這篇將會介紹到：MSSQL、MySQL、PostgreSQL、Azure HDInsight、Azure Synapse Analytics 等服務。
		</p><div class="bs-callout bs-callout-info">
			Module：<a href="https://pptto.alantsai.net/mslearn-path2-01">Explore Azure database and analytics services</a></div></section>
	<section>
<a id="KMContentPageTopID" name="KMContentPageTopID"></a><div id="divKMOutline" style="border-style: groove none; margin: 10px 0px;"><ul style="margin:0px 0px 0px 20px"><li><a href="#WizKMOutline_1601046516375776" ;="" style="font-size: 15px; line-height: 1.6;">Module 重點</a><br></li><li><a href="#WizKMOutline_1601046516375322" ;="" style="font-size: 15px; line-height: 1.6;">結語</a><br></li></ul></div>
	</section>
	<!--more-->
	<section><h2 id="WizKMOutline_1601046516375776">Module 重點</h2><p>
		為什麼會想要使用這些 PaaS 的關聯式資料庫而不是自己建立呢？
		</p><p>
		原因很簡單，因為省事：
		</p><ol><li>自動更新到最新</li><li>自動做備份 - 保留 35天的記錄</li><li>很容易啟用像是 Always On 這種服務 - 一個按鈕就解決</li><li>99.99% SLA</li></ol><p></p><p>
		同樣道理，使用大數據服務也是省事。
		</p><ol><li>Synapse Analytics - 可以儲存以及運算分開 - 不需要運算就關掉，並且運算是平行執行</li><li>HDInsight - 簡單想就是 PaaS 的 Hadoop 服務 - 不在需要向怎麼處理高可用， scale 這些事情</li><li>Azure Databrick - 建立給 Data Science 共通合作只是 1鍵就可以完成</li></ol>
		<div class="hidden-xs">
<iframe width="560" height="315" src="https://www.youtube.com/embed/sn4CmqK6SJU" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
<div class="visible-xs">
<iframe width="460" height="315" src="https://www.youtube.com/embed/sn4CmqK6SJU" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
		</section><section><h2 id="WizKMOutline_1601046516375322">結語</h2><p>
		以上這些內容希望對於 Azure 針對關聯式資料庫有那些 PaaS 服務就很了解了。
		</p><p>
		在下篇再來看看，怎麼實際建立出一個 Azure SQL Database。
		</p></section>