Title: "[git]使用git來管tfvc - git tfs 工具介紹"
Published: 2020-02-15 19:00
Modified: 2020-02-15 19:00
Image: "/posts/2020/02/2020-02-15-video-tutorial-tool-tips-use-git-tfs-to-control-tfvc-version-control/cover.png"
Tags: ["「教學影片」","git"]
Series: ["「教學影片」"]
PostDescription: "好久沒碰TFVC了。不過最近有朋友在像我抱怨TFVC很不好用，怎麼不能夠像git那樣.....(省略)。其實可以透過git tfs這個工具達到使用git來和tfvc溝通。這篇來看看怎麼使用"
---
<section>
<p>
好久沒碰TFVC了
</p>
<p>
不過最近有朋友在像我抱怨TFVC很不好用，怎麼不能夠像git那樣.....(省略)
</p>
<p>
其實可以透過git tfs這個工具達到使用git來和tfvc溝通
</p>
<p>
這篇來看看怎麼使用
</p>
<p>
    如果需要和svn溝通可以參考之前的這篇:<a href="/posts/2017/06/git-svn-usage">[git]開始使用git - 用git操作svn repo</a>
</p>
</section>
<section>
<div class="hidden-xs">
<iframe width="560" height="315" src="https://www.youtube.com/embed/pFgVPeOD0IA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>

<div class="visible-xs">
<iframe width="460" height="315" src="https://www.youtube.com/embed/pFgVPeOD0IA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
</section>