Title: "[Azure DevOps][Azure Test Plan] 05 Test & Feedback 套件介紹-Connected模式"
Published: 2020-02-02 18:00
Modified: 2020-02-02 18:00
Image: "/posts/2020/02/2020-02-02-video-tutorial-azure-devops-test-plan-05-what-is-test-and-feedback-extension-intro-to-connected-mode/cover.png"
Tags: ["azure","「教學影片」","「Azure DevOps」", "test"]
Series: ["「教學影片」","「Azure DevOps」"]
PostDescription: "在上一集看到了，Test & Feedback這個套件。了解了如何使用裡面的Standalone模式來做Exploratory Testing。並且能夠匯出一個通用的格式報告。但是，還遺留了一個問題，Standalone產生完了之後還需要手動建立回Azure DevOps上面。難道沒有什麼方式可以做完之後自動建立bug、test或甚至是test case嗎？這篇來看看Connected模式 - 看看如何做到這件事情"
---
<section>
<p>
在上一集看到了，Test & Feedback這個套件
了解了如何使用裡面的Standalone模式來做Exploratory Testing
並且能夠匯出一個通用的格式報告
</p>
<p>
但是，還遺留了一個問題，Standalone產生完了之後還需要手動建立回Azure DevOps上面
難道沒有什麼方式可以做完之後自動建立bug、test或甚至是test case嗎？
</p>
<p>
這篇來看看Connected模式 - 看看如何做到這件事情
</p>
</section>
<section>
<div class="hidden-xs">
<iframe width="560" height="315" src="https://www.youtube.com/embed/n3GcUJWfS4Y" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>

<div class="visible-xs">
<iframe width="460" height="315" src="https://www.youtube.com/embed/n3GcUJWfS4Y" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
</section>