Title: "[Azure DevOps][Azure Test Plan] 06 Test & Feedback 套件介紹-Feedback模式"
Published: 2020-02-08 18:00
Modified: 2020-02-08 18:00
Image: "/posts/2020/02/2020-02-08-video-tutorial-azure-devops-test-plan-06-what-is-test-and-feedback-extension-how-to-capture-stakeholder-feedback/cover.png"
Tags: ["azure","「教學影片」","「Azure DevOps」", "test"]
Series: ["「教學影片」","「Azure DevOps」"]
PostDescription: "Azure DevOps系列之Test Plan迎來了最後一集啦。當一個功能做好了或者設計好了，那麼讓Stakeholder提供一些feedback非常重要，怎麼讓他們能夠簡單記錄feedback，又能夠整合到系統呢？這篇來看看Feedback的部分"
---
<section>
<p>
Azure DevOps系列之Test Plan迎來了最後一集啦
</p>
<p>
當一個功能做好了或者設計好了，那麼讓Stakeholder提供一些feedback非常重要
怎麼讓他們能夠簡單記錄feedback，又能夠整合到系統呢？
</p>
<p>
這篇來看看Feedback的部分
</p>
</section>
<section>
<div class="hidden-xs">
<iframe width="560" height="315" src="https://www.youtube.com/embed/zqtUsPZEmdo" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>

<div class="visible-xs">
<iframe width="460" height="315" src="https://www.youtube.com/embed/zqtUsPZEmdo" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
</section>