Title: "[微軟證照][01]該不該考證照？要注意什麼？MCP是什麼？MCID是什麼？這個系列的索引文章"
Published: 2020-02-16 18:00
Modified: 2020-02-16 18:00
Image: "/posts/2020/02/2020-02-16-microsoft-certification-01-should-i-get-certified-index-page-of-series-post/cover.png"
Tags: ["「教學影片」", "「證照」", "azure"]
Series: ["「教學影片」", "「證照」"]
PostDescription: "好久沒碰TFVC了。不過最近有朋友在像我抱怨TFVC很不好用，怎麼不能夠像git那樣.....(省略)。其實可以透過git tfs這個工具達到使用git來和tfvc溝通。這篇來看看怎麼使用"
---
<section><p>
		最近大家應該常被我在FB或者其他平台轟炸，又考過了xxx微軟Azure的證照。
		</p><p>
		如果因為這樣而萌生起考證照的話，或者只是想要挑戰自我，那麼應該要怎麼開始呢？
		</p><p>
		這是我想寫這系列的原因之一，想要把我對於考證照的一些心得以及感想分享給大家。
		</p><p>
		這篇將會是這個系列的索引，因此先來和大家介紹比較大方向的部分。
		</p></section>
        <section>
<div class="hidden-xs">
<iframe width="560" height="315" src="https://www.youtube.com/embed/cGnyyl0PLSI" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>

<div class="visible-xs">
<iframe width="460" height="315" src="https://www.youtube.com/embed/cGnyyl0PLSI" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
</section>
		<section>
<a id="KMContentPageTopID" name="KMContentPageTopID"></a><div id="divKMOutline" style="border-style: groove none; margin: 10px 0px;"><ul style="margin:0px 0px 0px 20px"><li><a href="#WizKMOutline_1581842540673232" ;="" style="font-size: 15px; line-height: 1.6;">一些小小的背景和大家介紹</a><br></li><li><a href="#WizKMOutline_1581842540673540" ;="" style="font-size: 15px; line-height: 1.6;">到底應不應該考證？</a><br></li><ul style="MARGIN: 0px 0px 0px 30px"><li><a href="#WizKMOutline_1581842540674827" ;="" style="font-size: 15px; line-height: 1.6;">考證的好處/用途/目的</a><br></li><li><a href="#WizKMOutline_1581842540674961" ;="" style="font-size: 15px; line-height: 1.6;">考證的壞處是什麼以及怎麼克服</a><br></li></ul><li><a href="#WizKMOutline_1581842540674840" ;="" style="font-size: 15px; line-height: 1.6;">微軟考證相關的一些術語</a><br></li><li><a href="#WizKMOutline_1581842540674108" ;="" style="font-size: 15px; line-height: 1.6;">接下來介紹的內容</a><br></li><li><a href="#WizKMOutline_1581842540674959" ;="" style="font-size: 15px; line-height: 1.6;">結語</a><br></li></ul></div>
		</section>
		<!--more-->
		<section><h2 id="WizKMOutline_1581842540673232">一些小小的背景和大家介紹</h2><p>
		距離我第一次考證已經有段時間了，那個時候是在2014年，考的還不是最熟悉的C#而是：<code>Exam 480: Programming in HTML5 with JavaScript and CSS3</code>。
		</p><p>
		還記得當初第一次報名的時候，一個字一個字的詳讀官網報名時候show的一些terms和condition，並且懷著忐忑不安的心提早30分鐘到考試中心，擔心會不會有什麼東西沒帶或者沒做對導致考試失敗。
		</p><p>
		到現在，已經熟練到，註冊懶得看報名畫面的內容，就是一直next；然後懶得出門到考試中心，直接在家裡或者辦公室考試，整個的心態放鬆非常的多。
		</p><p>
		目前我手上有的證照大約有11張 (包含一些已經過期)，大部分都是微軟的，還有一門是Oracle的Java以及EC-Council的ECSP .NET，不過每一家的考試方式都大同小異，因此也可以作為參考。
		</p><figure><img class="img-responsive" src="/posts/2020/02/2020-02-16-microsoft-certification-01-should-i-get-certified-index-page-of-series-post/72881934-059e-49d8-843d-b3f6e8937db6.png" border="0" alt="chrome_2020-02-16_16-39-34.png"><br><figcaption>微軟的證照有這些</figcaption></figure></section><section><h2 id="WizKMOutline_1581842540673540">到底應不應該考證？</h2><p>
		這個問題是我常常被問到。到底考證有沒有什麼幫助？為什麼你會想要去考？以及我應不應該去考？
		</p><p>
		從某種程度來說，我個人覺得，這就有點像是，我要不要去上<em><strong kmcontenthide="1">大學或者考碩士的概念一樣</strong></em>，到底文憑是<em>重要還是不重要</em>？
		</p><p>
		考到了證照，不代表<em>會</em>，沒有考證照也不代表<em>不會</em>，那到底要考還是不考？
		</p><p>
		這個完全取決於想要從中間得到什麼，因此來看一下考證的優缺點。
		</p><section><h3 id="WizKMOutline_1581842540674827">考證的好處/用途/目的</h3><dl><dt>
					用來代表對於某個領域有一定的理解
				</dt><dd><p>
					理論上來說，考證就是要驗證對於某個領域到底是熟悉還是不熟悉。
					</p><p>
					所以，如果認真準備並且拿到證照可以表示對於這個領域的熟悉度已經有符合微軟認定的標準才拿到這個證照。
					</p><p>
					因此，他可以快速用來做篩選的動作，知道至少某個人的程度是如何。
					</p><p>
					這件事情其實可以用別的方式來呈現，例如透過side project呈現能力，不過如果看得人<em>不是這個領域</em>的話，那麼證照還是更容易可以證明某個人是否到某個level。
					</p></dd><dt>
					公司要求/個人商業要求
				</dt><dd><p>
					很有可能公司的政策會和是否有拿到證有關。
					</p><p>
					舉個例子來說，如果公司是微軟的合作夥伴，那麼取決於不同的等級，微軟會要求公司內部需要多少人有什麼證照。
					</p></dd></dl><p>
			以我自己的角度來說，當初會考證原因是：我想要知道，從微軟官方來看，他覺得某個技術或者某個角色<em>需要具備什麼能力</em>。
			</p><p>
			因為，現在網路發達，很多的學習都是碎片化的，或者是碰到了再去學。
			</p><p>
			這個有很大的一個盲點是，你會<em>不知道自己不知道什麼</em>。因此，用證照來梳理我至少<em>最低</em>需要知道什麼，是我自己為什麼會去考的原因。
			</p><p>
			當然，附帶的，有證書/badge可以在做自我介紹的時候show一下，感覺帥也是滿不錯的XD。
			</p>
			<div class="bs-callout bs-callout-info">
				有一個好處沒有特別提到是薪水/錢這塊 - 如果說公司有政策考過會加薪，那薪水可能會好一些，但是考證不能夠保證一定會薪水更高，所以沒有寫。
			</div>
			
		</section><section><h3 id="WizKMOutline_1581842540674961">考證的壞處是什麼以及怎麼克服</h3><p>
			說完了好處，來看看壞處：
			</p><dl><dt>
					會花不少時間
				</dt><dd><p>
					學習本身就會需要花時間，更別說還要排時間做考試這件事。
					</p><p>
					舉個例子來說，如果今天想要考AZ-203 (給Azure開發者證)，那麼官方課程是6天的課程，換句話說，最少最少也要花6天認真看才能夠基本cover全部內容，這還不包括自己的一些額外練習的lab時間。
					</p><p>
					所以，如果沒有辦法騰出時間，或者喜歡學習的話，會很痛苦。
					</p></dd><dt>
					會花不少錢
				</dt><dd><p>
					以台灣來說，一門考試費用是125美金。
					</p><p>
					考過當然開心，但是沒考過的話.......
					</p></dd></dl><p>
			上面提到的兩個壞處來說，我覺得第一個是沒辦法避免的，學習東西一定要花時間，所以除非把時間有先空下來，或者說本身對內容很熟悉，不然看東西是避免不了的。
			</p><p>
			至於錢的部分，有幾個解決方法：
			</p><dl><dt>
					找金主
				</dt><dd>
					大部分公司都鼓勵員工去學習以及進修，所以大部分都會願意幫忙出考證的費用 - 當然前提是要有考過啦。
				</dd><dt>
					找優惠 - 微軟
				</dt><dd><p>
					微軟自己本身也有不定期做優惠，像我第一次為什麼考試，就是因為剛好促銷，買一張考試卷，可以考3科 (換句話說，33折耶)。不過這個優惠後來都沒看到，有很多可能是可以重考一次免費之類的，要記得看清楚。
					</p><p>
					微軟的話記得要<em>切換到英文</em>，然後到這邊看：
					<a href="https://www.microsoft.com/en-us/learning/offers.aspx?intcmp=lexhpoffersmenubutton">https://www.microsoft.com/en-us/learning/offers.aspx?intcmp=lexhpoffersmenubutton</a></p><p>
					之前有發生過英文有一些優惠，但是中文網站沒有顯示。
					</p></dd><dt>
					找優惠 - 訓練單位
				</dt><dd><p>
					有些時候訓練單位(例如：恆逸或者trainocate)會有優惠。
					</p><p>
					例如，官方買是125美金，他們可能只需要3000元台幣就好。
					</p><p>
					這種就是可以打電話去問問看。
					</p></dd></dl><p></p></section><p>
		好啦，到這邊相信要不要考，大家應該都能夠做決定了，接下來在這篇結束前，和大家介紹一下常看到的術語。
		</p></section><section><h2 id="WizKMOutline_1581842540674840">微軟考證相關的一些術語</h2><p>
		先提術語是避免後面有些我有用到，偷懶就不打全稱。
		</p><dl><dt>
				MCP
			</dt><dd>
				MCP全稱是Microsoft Certified Professional - 基本上只要<em>考到1張證照</em>就是MCP。
                MCP也是有證書的 - 可以在Dashboard下載。
			</dd><dt>
				Microsoft Certification Dashboard
			</dt><dd><p>
				想要知道之前自己考過什麼，或者要下載證書之類的，都是從Dashboard進去。
				</p><p>
				只需要輸入：<a href="https://mcp.microsoft.com/">https://mcp.microsoft.com/</a> - 登入帳號就可以看到。
				</p><div class="bs-callout bs-callout-info">
					下面介紹到MCID的截圖，就是Dashboard的主頁
				</div></dd><dt>
				MCID/Candidate Id
			</dt><dd><p>
				每一個考生都有個ID，這個ID是唯一碼，如果需要和考試中心確認一些事情，有時候會被問到。
				</p><p>
				這個MCID可以從Dashboard看到
				</p><figure><img class="img-responsive" src="/posts/2020/02/2020-02-16-microsoft-certification-01-should-i-get-certified-index-page-of-series-post/e55ea621-1363-4c5e-bf44-a7e3cc0b79f1.png" border="0" alt=""><br><figcaption>MCID位置</figcaption></figure></dd><dt>
				考試單位
			</dt><dd><p>
				微軟的考試單位是Pearson Vue，因此報名考試都是到Pearson Vue去報名。
				</p><p>
				報名的過程可以讓您選擇要在那邊考試，這個時候向是恆逸或者Trainocate這種訓練單位就可以被選擇為可以考試的地點之一。這些單位屬於Pearson Vue <em>認證過的合法考試地點</em>。
				</p><div class="bs-callout bs-callout-info">
					如果是在教育訓練單位報名考試的話，那麼他們會幫您處理和Pearson Vue報名這段。
				</div></dd><dt>
				訓練單位
			</dt><dd><p>
				恆逸或者Trainocate這種有被Pearson Vue認證過的考試地點之外，他們也會提供一些官方認證課程。
				</p><p>
				有些認證課程會包含一次考試，這個時候可能會是給voucher自己取Pearson Vue報名也有可能是教育訓練單位直接幫您報名。
				</p></dd><dt>
				MCT
			</dt><dd><p>
				訓練單位的官方課程一定要由微軟認證的講師來授課，這些講師就是Microsoft Certified Trainer (MCT)。
				</p><div class="bs-callout bs-callout-info">
					在下不才就是MCT，如果對於申請MCT有興趣可以參考另外一篇：<a href="/posts/2019/12/certification-what-is-microsoft-certified-trainer-and-how-to-become-mct">什麽是Microsoft Certified Trainer (MCT)？有什麽用？怎麽申請？</a>
				</div></dd></dl></section><section><h2 id="WizKMOutline_1581842540674108">接下來介紹的內容</h2><p>
		接下來會把其他幾個重要的部分拆成不同篇，首先是了解和考試相關的基本介紹：
		</p><ol><li>微軟有那些證照可以考，以及開發者適合那些</li><li>怎麼申請考試</li><li>到訓練單位考試的注意事項</li><li>在家裡或者辦公室線上考試的注意事項</li><li>考試怎麼準備，以及考試題目的介紹</li></ol><p></p><p>
		在來是每一門考試的介紹以及可以準備的方向 - 這邊後面會在補充。
		</p></section><section><h2 id="WizKMOutline_1581842540674959">結語</h2><p>
		這篇基本上介紹了微軟考證的優缺點，以及為什麼可能會想要去考。
		</p><p>
		再來介紹了一些術語，避免掉後面大家不清楚介紹的時候在說什麼。
		</p><p>
		最後列出了我預計會和大家介紹的內容。
		</p>
		<p>
		當然，以上是個人看法啦，大家如果有不同想法也歡迎提出交流。
		</p> 
		<p>
		假設看到了這邊，還想要考的話，那麼下一個問題就是，有什麼可以考，以及要考什麼。
		</p></section>