Title: "[Azure DevOps] 00 費用模式介紹"
Published: 2020-02-10 19:00
Modified: 2020-02-10 19:00
Image: "/posts/2020/02/2020-02-10-video-tutorial-azure-devops-00-azure-devops-pricing-model-how-much-will-it-cost/cover.png"
Tags: ["azure","「教學影片」","「Azure DevOps」"]
Series: ["「教學影片」","「Azure DevOps」"]
PostDescription: "Azure DevOps是一個很好用，整合了DevOps環節都需要的服務。不過，當要開始導入到實際專案的時候，繞不過去的問題就是，他會需要多少錢？雖然有免費等級，但是超過了之後怎麼辦？以及之前介紹Test Plan感覺想用，那到底需要多少錢？這篇來看一下。要注意，金額會隨著時間而變化，因此，建議評估的時候還是要看一下最新的情況哦"
---
<section>
<p>
Azure DevOps是一個很好用，整合了DevOps環節都需要的服務

</p>
<p>
不過，當要開始導入到實際專案的時候，繞不過去的問題就是，他會需要多少錢？
雖然有免費等級，但是超過了之後怎麼辦？
以及之前介紹Test Plan感覺想用，那到底需要多少錢？

</p>
<p>
這篇來看一下
</p>
<p>
要注意，金額會隨著時間而變化，因此，建議評估的時候還是要看一下最新的情況哦
</p>
</section>
<section>
<div class="hidden-xs">
<iframe width="560" height="315" src="https://www.youtube.com/embed/HOu3x60ybnQ" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>

<div class="visible-xs">
<iframe width="460" height="315" src="https://www.youtube.com/embed/HOu3x60ybnQ" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
</section>