Title: "[活動]DevDays Asia 2019 - 第一天"
Published: 2019-05-21 22:11
Modified: 2019-05-21 22:11
Image: "/posts/2019/05/2019-05-21-review-event-devdaysasia2019-day-1/1596bc3e-af62-4c17-9b18-82c9314956d5.jpg"
Tags: ["「活動」", "microsoft-teams"]
Series: ["「活動」"]
PostDescription: "好久沒有去研討會了，這一篇來看看在DevDaysAsia 2019學習到了什麽以及有什麽好玩的地方。"
---
<section><figure><img class="img-responsive" src="/posts/2019/05/2019-05-21-review-event-devdaysasia2019-day-1/1596bc3e-af62-4c17-9b18-82c9314956d5.jpg" border="0" alt=""><br><figcaption>DevDaysAsia 2019</figcaption></figure><p>
		哇哈哈，又到了一年一度的微軟在臺灣的大會，説實話，從TechDays結束之後，DevDays Asia應該是最大的會議了。
		</p><p>
		DevDays Asia已經有辦好多年了，之前因爲總總原因一直沒有參加過。
		</p><p>
		今年，因爲公司有擺攤位，所以借著去幫忙的名義(還是有幫忙的好嗎XD)，去參加了活動。
		</p><p>
		這篇來分享一下第一天的情況。
		</p></section>
		<section>
<a id="KMContentPageTopID" name="KMContentPageTopID"></a><div id="divKMOutline" style="border-style: groove none; margin: 10px 0px;"><ul style="margin:0px 0px 0px 20px"><ul style="MARGIN: 0px 0px 0px 30px"><li><a href="#WizKMOutline_1558447830841989" ;="">會場以及報道</a></li><li><a href="#WizKMOutline_1558447830841602" ;="">大會的活動</a></li><li><a href="#WizKMOutline_1558447830841200" ;="">場次内容</a></li><ul style="MARGIN: 0px 0px 0px 30px"><li><a href="#WizKMOutline_1558447830841504" ;="">Key Note</a></li><li><a href="#WizKMOutline_1558447830841610" ;="">中午吃飯</a></li><li><a href="#WizKMOutline_1558447830841453" ;="">下午：Vision AI Dev Kit Workshop</a></li><li><a href="#WizKMOutline_1558447830841247" ;="">下午：Teams</a></li></ul><li><a href="#WizKMOutline_1558447830841941" ;="">結語</a></li></ul></ul></div>
		</section>
		<!--more-->
		<section><h2 id="WizKMOutline_1558447830841989">會場以及報道</h2><p>
		在這一次舉辦的位置在<em>中研院人文社會科學館</em>。
		</p><p>
		詳細可以看：<a href="https://www.microsoft.com/taiwan/events/2019devdays/default.aspx">https://www.microsoft.com/taiwan/events/2019devdays/default.aspx</a></p><p>
		大會滿貼心，有<em>南港展覽館</em>捷運站的<em>6號出口</em>有接駁車能夠直接送您到會場門口 - 如果做公車還需要自己走進去，因此，做捷運比較方便。
		</p><p>
		在<em>6號出口</em>就會看到有工作人員舉牌：
		</p><figure><img class="img-responsive" src="/posts/2019/05/2019-05-21-review-event-devdaysasia2019-day-1/664af0dd-1f28-458c-b21b-843c1fc67ebb.jpg" border="0" alt="IMG_20190521_075340.jpg"><br><figcaption>工作人員舉牌</figcaption></figure><p></p><p>
		小弟我因爲要幫忙攤位，所以 7:55到那邊，結果發現車上已經有一些學員了 - 實在太厲害了：
		</p><figure><img class="img-responsive" src="/posts/2019/05/2019-05-21-review-event-devdaysasia2019-day-1/4bafeee5-8b76-4b08-ba10-62230243e1b9.jpg" border="0" alt="IMG_20190521_075438.jpg"><br><figcaption>公車内部</figcaption></figure><p></p><p>
		坐了一下，直接送到門口：
		</p><figure><img class="img-responsive" src="/posts/2019/05/2019-05-21-review-event-devdaysasia2019-day-1/6e8fa883-661a-4da2-83b1-847b8719820c.jpg" border="0" alt="IMG_20190521_081031.jpg"><br><figcaption>門口的歡迎</figcaption></figure><p></p><p>
		然後走了樓梯，進入報道區域
		</p><figure><img class="img-responsive" src="/posts/2019/05/2019-05-21-review-event-devdaysasia2019-day-1/09b29c28-a0f8-4299-bfd9-f9e45ff879c6.jpg" border="0" alt="IMG_20190521_081111.jpg"><br><figcaption>報道隊伍</figcaption></figure><p></p><div class="bs-callout bs-callout-warning"><p>
			題外話：剛好QR Code掃描有點問題，因此使用的是姓名+公司來報道。
			</p><p>
			這就告訴我們，用什麽姓名註冊很重要 - 還好我記得用的是英文Orz。
			</p></div></section><section><h2 id="WizKMOutline_1558447830841602">大會的活動</h2><p>
		會場第一件事情當然是要瞭解有什麽活動(迷之聲:不是應該看有什麽場次嗎？)
		</p><p>
		這一次基本上玩法是：透過加入微軟的Line官方帳號，然後去每一個攤位以及教室拍照特定的圖章，然後識別成功會積點。
		</p><p>
		點數夠的話就可以換<em>背包</em>以及<em>衣服</em>。
		</p><figure><img class="img-responsive" src="/posts/2019/05/2019-05-21-review-event-devdaysasia2019-day-1/1a4050e2-add3-4288-a9a8-6399ed0a3d43.jpg" border="0" alt=""><br><figcaption>大會活動介紹</figcaption></figure><p>
		閑逛了一下，還是要趕快去攤位幫忙，用一張我們取景高手大大會讓大家歪脖子的照片，看看我們攤位的樣子:
		</p><figure><img class="img-responsive" src="/posts/2019/05/2019-05-21-review-event-devdaysasia2019-day-1/d20611ef-d873-48e9-8f68-69cd8b3b9b20.jpg" border="0" alt=""><br><figcaption>冰棒 + 攤位</figcaption></figure><p></p></section><section><h2 id="WizKMOutline_1558447830841200">場次内容</h2><p>
		好吧，集點什麽的就不重要了啦，重點還是這一次會講什麽
		</p><p>
		這一次是3天的活動，總共有3+1教室 - 多出來的1是做Lab用。
		</p><p>
		Key Note的話是在大主場，然後另外兩間做同步直播。
		</p><figure><img class="img-responsive" src="/posts/2019/05/2019-05-21-review-event-devdaysasia2019-day-1/11410241-4f77-44e3-9bed-2efc6ff76c48.jpg" border="0" alt="IMG_20190521_085257.jpg"><br><figcaption>3天完整的内容</figcaption></figure><section><h3 id="WizKMOutline_1558447830841504">Key Note</h3><p>
			Key Note沒有從頭聽到尾(畢竟早上攤位是最忙的，還是需要去幫忙一下XD)，所以有部分内容沒有聽到。
			</p><p>
			下面列出一些我覺得聽到有意思的地方：
			</p><dl><dt>
					Microsoft 365 Platform + Microsoft Graph
				</dt><dd><p>
					Microsoft Graph這個東西，多年以來一直覺得有聽到，那本質上他就是一個REST API的服務讓您可以取得自己在Microsoft 365 平臺上面的一些訊息。
					</p><p>
					所以可以用Microsoft Graph做一些自動化的東西，例如整合呈現不同平臺資訊的訊息，或者自動建立一些内容(例如依照某些條件自動建立Microsoft Teams的Team)
					</p><p>
					Demo有show一個在暑假會出來的一個服務：
					</p><ol><li>搜索資料的時候(不管是OneDrive還是Sharepoint)除了可以搜搜遠端的内容 - 還可以<em>包含在地端</em>的資料</li><li>搜索也可以搜索到第三方的内容(如果有裝)，第三方可以透過以Adaptive Card方式除了呈現更加漂亮，還可以讓操作感覺是一致。</li><li>可以訓練Word Online - 當輸入某些關鍵字，自動帶入那個搜索結果進入到Word</li></ol><p></p><p>
					上面提到的其實都是Microsoft Graph搭配出來的一些功能組合。
					</p></dd><dt>
					Microsoft Teams
				</dt><dd><p>
					可以感覺的出來微軟這一次很推Teams - 並且使用公司的成長速度也是微軟有史以來最快的一個產品。
					</p><p>
					Microsoft Teams可以和Graph API整合，達到說自動化一些事情，然後搭配Bot，能夠做到一些像是如何申請請假這種服務(稍後有更加詳細内容)。
					</p><p>
					在第一天有一個Track完全就是在講Teams的。
					</p></dd><dt>
					資料庫現代化 - 地端相關
				</dt><dd><p>
					這一次介紹了一些Sql Server 2019的功能
					</p><p>
					原生支援HDFS - 換句話説，可以直接把非結構化資料直接丟到Sql Server裡面。
					</p><p>
					需要的時候可以動態產生出SQL Schema，然後用SQL語法下查詢。
					</p><p>
					也允許加入外部的DB服務 - 目前只有Oracle
					</p><p>
					加入之後，可以用SQL語法去查詢 - 外部服務可以和HDFS產生的那個直接做JOIN - 因此就像是兩個本身就是SQL Server Table的方式去做操作。
					</p></dd><dt>
					資料庫現代化 - 雲端相關
				</dt><dd><p>
					Azure SQL Serverless - <em>只收運算費用</em> (不知道有沒有理解錯誤XD) - 連DB都<em>無伺服器了</em>。
					</p><p>
					Azure SQL Hypercale - 可以把 Scale up (VCore) 以及 Scale Out (replicate)<em>分開增加/減少</em>。
					</p><p>
					換句話説，當系統上線，這個時候很多Write可以透過增加VCore方式來減緩壓力。
					</p><p>
					當穩定之後，Read變多，透過Replicate來減緩壓力。
					</p></dd><dd></dd><dt>
					資料庫現代化 - iot相關
				</dt><dd><p>
					有一個Azure SQL Database Edge的版本
					</p><p>
					換句話説，在IoT直接做一些儲存以及運算
					</p><figure><img class="img-responsive" src="/posts/2019/05/2019-05-21-review-event-devdaysasia2019-day-1/8b6eb19d-ed83-4e7d-b674-21744a6a4fa7.jpg" border="0" alt=""><br><figcaption>Azure SQL Database Edge</figcaption></figure></dd><dd></dd><dt>
					MyAnalytics 以及 Workspace Analytics - 萬惡的分析工具 XD
				</dt><dd><p>
					這個東西其實大家應該都很需要，大家每天都很忙，可是都在忙什麽？
					</p><p>
					是忙著開會、忙著溝通還是只是忙著聊天XD。
					</p><p>
					MyAnalytics是給自己看的，瞭解自己每一天花的時間在那邊。
					</p><p>
					Worspace Analytics給老闆看的，看團隊都在忙什麽。
					</p><p>
					其實這個滿重要的，因爲知道問題在哪裏，才能想辦法去解決這個問題。
					</p><p>
					本質上，也是用Graph API取得不同產品的資訊，然後整理之後產生的報表。
					</p><p>
					有用Office 365不要錯過。
					</p></dd></dl></section><section><h3 id="WizKMOutline_1558447830841610">中午吃飯</h3><p>
			到這邊早上就差不多結束啦。
			</p><p>
			接下來就是最愛的吃飯時間：
			</p><figure><img class="img-responsive" src="/posts/2019/05/2019-05-21-review-event-devdaysasia2019-day-1/eb47e92c-96ec-45f9-a6cd-9f933c2d68a5.jpg" border="0" alt="IMG_20190521_114014.jpg"><br><figcaption>便當</figcaption></figure><p></p></section><section><h3 id="WizKMOutline_1558447830841453">下午：Vision AI Dev Kit Workshop</h3><p>
			這一場有點意思。
			</p><p>
			他其實透過一個IoT Device然後Custom Vision去訓練出能夠：
			</p><ol><li>識別有沒有帶工安帽</li><li>識別工安帽的位置</li></ol><p></p><p>
			這個我會開另外一篇介紹，因爲圖片有點多，敬請期待。
			</p></section><section><h3 id="WizKMOutline_1558447830841247">下午：Teams</h3><p>
			結束Lab之後，我就去了Teams的課程，這邊介紹了：
			</p><dl><dt>
					Microsoft Graph APIs
				</dt><dd><p>
					可以透過使用Graph Explorer (<a href="https://developer.microsoft.com/en-us/graph/graph-explorer">https://developer.microsoft.com/en-us/graph/graph-explorer</a>) 對Teams操作自動化。
					</p><p>
					因此，舉例來説，如果您有HR系統，要批次把人加入到Teams，那麽可以透過Graph API直接批次加入。
					</p><p>
					這個工具是一個很好用來Debug，因爲可以直接看到結果，然後可以點<em>Show More Samples</em>看到不同的使用範例：
					</p><figure><img class="img-responsive" src="/posts/2019/05/2019-05-21-review-event-devdaysasia2019-day-1/graph.png" width="1347" height="943" alt="C O https://developer.microsoft.com/en-us/graph/graph-explorer 
Microsoft I Microsoft Graph solutions, Graph Explorer Getting starteæ Docs API Reference 
More 
Graph Explorer 
Authentication 
You are currently using a sample account 
To access your own data: 
ign In with Microsofl 
Sample Queries 
Getting Started 
GET 
GET 
GET 
GET 
GET 
GET 
my profile 
my photo 
my mail 
all the items in my drive 
items trending around me 
my manager 
https://graph.microsoft.com/vl.0/me/ 
VI.o v 
Request Body Request Headers 
When you use the Microsoft Graph API, you agree to the Microsoft Graph Terms of use 
View the Microsoft Graph Terms of Use 
View the Microsoft Privacy Statement 
Response Preview Response Headers ">&nbsp; &nbsp;&nbsp;<br><figcaption>Graph Explorer</figcaption></figure><p></p><p>
					講師用的Flight demo，當有飛機的時候就自動建立一個Teams針對那個flight就有用到Graph Explorer
					</p></dd><dt>
					請假的Teams App - 範例
				</dt><dd><p>
					可以從<a href="https://aka.ms/TeamsDev">https://aka.ms/TeamsDev</a>進入到Teams的一個給開發人員的入口 - 裡面包含了很多資源的鏈接。
					</p><p>
					其中，透過點選<code>Demo Apps</code>裡面可以找到一個<em>Employee Leave App</em>的Github網址<a href="https://github.com/OfficeDev/msteams-sample-line-of-business-apps-csharp/tree/master/Professional%20Services">傳送門</a></p><figure><img class="img-responsive" src="/posts/2019/05/2019-05-21-review-event-devdaysasia2019-day-1/clip_image0010851dc39-f451-4582-b4f1-92841dd9162e.png" width="1380" height="407" alt="Human Resources 
Requesting and approving employee time 
off 
Employee Leave pp 
Information Technology 
Administer Teams from a Teams app 
Teams Admin 30t ">&nbsp; &nbsp;&nbsp;<br><figcaption>Human Resources -&gt; Employee Leave App</figcaption></figure><p>
					如果要直接下載然後試用的話可以透過下載這個zip：<a href="https://github.com/OfficeDev/msteams-sample-line-of-business-apps-csharp/blob/master/Professional%20Services/LeaveBot/Manifest/Leave%20App%20Manifest.zip">傳送門</a></p><div class="bs-callout bs-callout-info">
						至於怎麽使用 - 未來我會寫一系列介紹Teams開發 (應該啦) - 敬請期待。
					</div><p>
					那這個app就是用了Adaptive Card，能夠自動透過Teams申請休假，並且可以看到Summary
					</p><figure><img class="img-responsive" src="/posts/2019/05/2019-05-21-review-event-devdaysasia2019-day-1/c866ea16-2ce0-4ca8-9e7b-19fcd19fe472.png" border="0" alt="12.png"><br><figcaption>Summary頁面</figcaption></figure><p></p><p>
					請假系統可以丟掉了！！！！ - 還在用紙本嗎？爲了您們的HR健康，趕快換。
					</p></dd></dl></section></section><section><h2 id="WizKMOutline_1558447830841941">結語</h2><p>
		經過了充實的一天，我對於Teams的可能性還滿有興趣。
		</p><p>
		感覺越來越成熟，希望真的用起來不會像我一開始使用的時候卡卡的 (好啦，當初是Preview，卡卡也對啦)。
		</p>
		<p>
		工作人員也辛苦了，看到有些學員因爲集點不成功和工作人員吵架......
		</p> 
		<p>
		明天，我也會去參加，因爲我有一個特殊的任務............，粉絲頁能不能有1000就靠他了。
		</p><p>
		明天的也會在整理。
		</p></section>