Title: "[活動]DevDays Asia 2019 - 第二天"
Published: 2019-05-22 22:11
Modified: 2019-05-22 22:11
Image: "/posts/2019/05/2019-05-22-review-event-devdaysasia2019-day-2/fc50f711-a65e-45ec-8f7d-de294528e63d.jpg"
Tags: ["「活動」", "microsoft-teams", "「devdaysasia2019」"]
Series: ["「活動」", "「devdaysasia2019」"]
PostDescription: "好奇devdaysasia 2019 第2天發生了什麽事情嗎。快來看看。還發生了FB粉絲頁第一次的直播哦"
---
<section><figure><img class="img-responsive" src="/posts/2019/05/2019-05-22-review-event-devdaysasia2019-day-2/fc50f711-a65e-45ec-8f7d-de294528e63d.jpg" border="0" alt="Image from iOS (9).jpg"><br><figcaption>今天不在是空空的佈景啦</figcaption></figure></section><section><p>
		不知不覺第二天也過去了。
		</p><p>
		除了今天有去換到衣服以及背包之外，這一篇來和大家分享一下今天都發生了什麽事情。
		</p></section>
		<section>
<a id="KMContentPageTopID" name="KMContentPageTopID"></a><div id="divKMOutline" style="border-style: groove none; margin: 10px 0px;"><ul style="margin:0px 0px 0px 20px"><li><a href="#WizKMOutline_1558573210215671" ;="" style="font-size: 15px; line-height: 1.6;">今天的議程</a><br></li><li><a href="#WizKMOutline_1558573210216339" ;="" style="font-size: 15px; line-height: 1.6;">早上Key Note</a><br></li><ul style="MARGIN: 0px 0px 0px 30px"><li><a href="#WizKMOutline_1558573210216552" ;="" style="font-size: 15px; line-height: 1.6;">Champion consumer privacy rights to drive differentiation</a><br></li><li><a href="#WizKMOutline_1558573210216152" ;="" style="font-size: 15px; line-height: 1.6;">人工智慧產業應用</a><br></li><li><a href="#WizKMOutline_1558573210216841" ;="" style="font-size: 15px; line-height: 1.6;">借助 AI 掌握台灣企業的增長潛能</a><br></li></ul><li><a href="#WizKMOutline_1558573210216385" ;="" style="font-size: 15px; line-height: 1.6;">Development with SharePoint Framework</a><br></li><li><a href="#WizKMOutline_1558573210216984" ;="" style="font-size: 15px; line-height: 1.6;">中午時間</a><br></li><li><a href="#WizKMOutline_1558573210216222" ;="" style="font-size: 15px; line-height: 1.6;">下午茶時間</a><br></li><li><a href="#WizKMOutline_1558573210216864" ;="" style="font-size: 15px; line-height: 1.6;">下午 - Teams Lab</a><br></li><li><a href="#WizKMOutline_1558573210216161" ;="" style="font-size: 15px; line-height: 1.6;">結語</a><br></li></ul></div>
		</section>
		<!--more-->
		<section><h2 id="WizKMOutline_1558573210215671">今天的議程</h2><p>
		今天和昨天一樣，早上場次都是Key Note，到了下午之後就開始分堂。
		</p><p>
		在中午的時候其實有一個小舞臺 - 小弟我非常有幸會在上面以工程師的角度介紹我們公司10分鐘，第一次請了一位小編幫忙用了FB直播 - 哈哈，蠻好玩。
		</p><p>
		來詳細看看内容都有什麽吧
		</p><figure><img class="img-responsive" src="/posts/2019/05/2019-05-22-review-event-devdaysasia2019-day-2/2bcfd824-9f77-4ee0-bdb9-2c0b55b3e17b.jpg" border="0" alt="IMG_20190521_085257 (1).jpg"><br><figcaption>3天的議程圖 - 今天在中間</figcaption></figure></section><section><h2 id="WizKMOutline_1558573210216339">早上Key Note</h2><p>
		早上的Key Note總共有4場，分別爲：
		</p><ol><li>Champion consumer privacy rights to drive differentiation</li><li>人工智慧產業應用</li><li>借助 AI 掌握台灣企業的增長潛能</li><li>Development with SharePoint Framework</li></ol><p></p><section><h3 id="WizKMOutline_1558573210216552">Champion consumer privacy rights to drive differentiation</h3><p>
			這一堂講的是和<em>Privacy</em>有關係，以及如何透過使用Microsoft 365 讓合規變得更加簡單。
			</p><p>
			講到Privacy，大家應該想到的是GDPR，這個史上範圍最廣和Privacy有關的規定，因爲只要使用者屬於歐盟成員，那麽就會適用。
			</p><p>
			微軟在上線可以控制自己Privacy的網站(<a href="https://privacy.microsoft.com/en-us/">https://privacy.microsoft.com/en-us/</a>)觀察了有哪一些國家有上去關注並做了一個圖表：
			</p><figure><img class="img-responsive" src="/posts/2019/05/2019-05-22-review-event-devdaysasia2019-day-2/97e88a88-d058-4717-8ea3-775a73eb0ae4.jpg" border="0" alt="IMG_20190522_091038.jpg"><br><figcaption>使用人群的分佈</figcaption></figure><p></p><p>
			從上面可以看到，<em>日本人</em>很重視，是前三名的國家之一 - 換句話説，如果產品要打入日本市場 - 就需要考慮產品的Privacy。
			</p><p>
			微軟的Microsoft 365 就是：
			</p><ol><li>Windows 10</li><li>Office 365</li><li>Mobile Security Management</li></ol> 
			3個組合在一起。
			<p></p><p>
			透過使用Microsoft 365，部分的Privacy就會由微軟負責。
			</p><p>
			以美國NIST 800-53 爲例子，美國其中一個最嚴謹的規定，總共有1000個control要達標。
			</p><p>
			微軟負責 79%，而剩下21%要由使用者負責
			</p><figure><img class="img-responsive" src="/posts/2019/05/2019-05-22-review-event-devdaysasia2019-day-2/98b48e0c-0e00-4435-b23e-509473f33a2f.jpg" border="0" alt="IMG_20190522_091505.jpg"><br><figcaption>Shared Responsiblities</figcaption></figure><p></p><p>
			微軟提供了兩個工具讓大家能夠快速看自己的Compliance的情況，以及追蹤情況：
			</p><ol><li>Microsoft Secure Score</li><li>Compliance Manager - <a href="http://aka.ms/stp">http://aka.ms/stp</a></li></ol><figure><img class="img-responsive" src="/posts/2019/05/2019-05-22-review-event-devdaysasia2019-day-2/2f656a25-a1b4-471b-85b6-e2a95a373723.jpg" border="0" alt="IMG_20190522_092822.jpg"><br><figcaption>Compliance Manager</figcaption></figure><p></p></section><section><h3 id="WizKMOutline_1558573210216152">人工智慧產業應用</h3><p>
			這場介紹了一下人工智能的歷史，然後接下來都是一些應用的範例，包含了：
			</p><dl><dt>
					Cocktail Watermark
				</dt><dd>
					圖片加上一個看不到的浮水印，不影響圖片畫質，需要的時候找出來源以及防篡改。
				</dd><dt>
					Born Conductor
				</dt><dd>
					透過Microsoft Connect把使用者的動作記錄下來，然後搭配音樂調整手浮動的速度以及動作，讓大家都可以變成演奏家。
					<figure><img class="img-responsive" src="/posts/2019/05/2019-05-22-review-event-devdaysasia2019-day-2/99a15407-367e-4985-a5f3-609bffd14f03.jpg" border="0" alt="IMG_20190522_100423.jpg"><br><figcaption>訓練方式</figcaption></figure></dd><dt>
					NBA戰術預估
				</dt><dd>
					依照場上球員跑的動作，在跑到一半就可以透過模型預估接下來執行什麽戰術。
					<figure><img class="img-responsive" src="/posts/2019/05/2019-05-22-review-event-devdaysasia2019-day-2/490cd259-c361-46fb-89bc-a9449c444712.jpg" border="0" alt="IMG_20190522_101040.jpg"><br><figcaption>透過clustering找到label欄位，然後重新組合</figcaption></figure></dd><dt>
					修復老圖像/影音
				</dt><dd>
					透過把影片拆解出來，把有問題的點透過Inpainting的方式，把要修正的部分拿掉，然後在把照片重組，達到偷天換日。
					<figure><img class="img-responsive" src="/posts/2019/05/2019-05-22-review-event-devdaysasia2019-day-2/0cfbe125-ec9b-4143-b459-9aa4aec130a2.jpg" border="0" alt="IMG_20190522_101736.jpg"><br><figcaption>Inpainting概念</figcaption></figure></dd></dl><h3 id="WizKMOutline_1558573210216841">借助 AI 掌握台灣企業的增長潛能</h3><p>
			這一場其實透過的是在整個亞太區做的Survey去做分析，然後思考臺灣在AI這塊領域的情況。
			</p><p>
			個人滿喜歡這一場 - 因爲可以發現到臺灣整體和領先著的差異其實在思維這一塊 - 果然如果思考方向錯了，後面都錯了 (稍後有截圖)
			</p><p>
			總共樣本數1500人高階主管以及1500第一線員工，臺灣這邊則是 100/104
			</p><figure><img class="img-responsive" src="/posts/2019/05/2019-05-22-review-event-devdaysasia2019-day-2/8453475f-95e6-4826-a199-32bc195ac734.jpg" border="0" alt="IMG_20190522_103216.jpg"><br><figcaption>樣本數</figcaption></figure><p></p><p>
			很特別的是，竟然有29%的人認爲，其實AI只是炒作，但是實際上你我都知道，<em>AI是Game Changer</em>，這個趨勢是無法阻擋，因此如果沒有準備好，肯定會被淘汰。
			</p><figure><img class="img-responsive" src="/posts/2019/05/2019-05-22-review-event-devdaysasia2019-day-2/71749505-ca1e-43a1-8b5d-e0a87fc3d92b.jpg" border="0" alt="IMG_20190522_104227.jpg"><br><figcaption>AI將提高組織競爭力</figcaption></figure><p></p><p>
			臺灣和亞太領先者最大的差別在於<em>策略</em>這個層面。
			</p><p>
			由於臺灣屬於硬體業起家，因此很多思維都處於硬體方面。舉例來説，目前AI都是以采購案來處理。
			</p><p>
			開一個采購申請，買一個產品，解決一個問題，從此<em>公司也是AI公司</em>。
			</p><p>
			上面那樣不是不好，但是不是真的AI之道，真的AI之道是長期的，因爲是要想辦法把<em>企業資料數位化</em>、有<em>意識的搜集資料</em>，整合然後持續優化。
			</p><p>
			因此，AI案子是一種<em>5年、10年的戰略思考</em>，屬於持續投資類型。因爲是研發類型，因此不一定馬上有成效，所以從某種程度來説，需要燒錢一部分。
			</p><p>
			這個從報告也看得出來：
			</p><figure><img class="img-responsive" src="/posts/2019/05/2019-05-22-review-event-devdaysasia2019-day-2/364caa19-6bd4-46d1-8410-14f43ac23d08.jpg" border="0" alt="IMG_20190522_105426.jpg"><br><figcaption>臺灣 vs 亞太地區領先者</figcaption></figure><p></p><p>
			技能供需會發現開發是大大需要的，會發現硬體層面儲存大數據相關是<em>不那麽需要</em>。原因是有<em>雲</em>了，很多不用自己處理。
			</p><figure><img class="img-responsive" src="/posts/2019/05/2019-05-22-review-event-devdaysasia2019-day-2/cb98b58a-3c10-4283-b4ef-ec951ef0aa31.jpg" border="0" alt="IMG_20190522_110819.jpg"><br><figcaption>供需，可以看到綠色是供大於需，而紅色則是需大於供</figcaption></figure><p>
			最後，幾個總結：
			</p><ul><li>臺灣和亞太區差不多 - 但是如果和領先者比，那麽就差距很多</li><li>臺灣有强大的硬體能力 - 但是可能成也蕭何敗也蕭何，因此有些思維都是以硬體在思考</li><li>AI投資是長期的規劃 - 而不是一錘子買賣</li><li>過去沒有用雲 - 要補回來，因爲不用雲怎麽儲存大數據來做到數位化</li><li>過去沒有數位化 - 要補回來，沒有數位化怎麽整合這些資料用於建立Model</li></ul><p></p></section><section><h2 id="WizKMOutline_1558573210216385">Development with SharePoint Framework</h2><p>
			説實話，對Sharepoint沒有太多愛，不過感覺也越來越現代化了。
			</p><p>
			想看一些Demo，可以去<a href="https://sharepointlookbook.azurewebsites.net/">Sharepoint Look Book</a></p><p>
			介紹了Sharepoint Framework (SPFx) - 就是一個前端的框架，微軟和一般使用者都是用這一套，不像以前是分開
			</p><figure><img class="img-responsive" src="/posts/2019/05/2019-05-22-review-event-devdaysasia2019-day-2/64c3624c-4116-4f42-ad48-69abea7ad1bb.jpg" border="0" alt="IMG_20190522_113730.jpg"><br><figcaption>SPFx 概觀</figcaption></figure><p></p><p>
			可以開發兩種地方：
			</p><ol><li>Web Part - 網站中間的部分</li><li>Extension - Header以及footer的部分</li></ol><figure><img class="img-responsive" src="/posts/2019/05/2019-05-22-review-event-devdaysasia2019-day-2/93044067-7753-4673-aa60-f63cee748927.jpg" border="0" alt="IMG_20190522_113956.jpg"><br><figcaption>可開發的位置</figcaption></figure><p></p><p>
			全部變成前端開發 - 所以後端要失業了：
			</p><figure><img class="img-responsive" src="/posts/2019/05/2019-05-22-review-event-devdaysasia2019-day-2/c6efdda4-00af-414e-80f9-5b3aeb74ea05.jpg" border="0" alt="IMG_20190522_114302.jpg"><br><figcaption>Developer Toolchain</figcaption></figure><p></p><p>
			開發的流程
			</p><figure><img class="img-responsive" src="/posts/2019/05/2019-05-22-review-event-devdaysasia2019-day-2/ffbb6d4d-2873-4f80-98c1-7be16f871b8e.jpg" border="0" alt="IMG_20190522_114417.jpg"><br><figcaption>整個build的flow</figcaption></figure><p></p></section></section><section><h2 id="WizKMOutline_1558573210216984">中午時間</h2><p>
		到了中午，重要的當然是去吃飯啦，今天的便當是：
		</p><figure><img class="img-responsive" src="/posts/2019/05/2019-05-22-review-event-devdaysasia2019-day-2/7af246ca-6fec-4580-b197-e1579df78e8f.jpg" border="0" alt="Image from iOS (14).jpg"><br><figcaption>中午便當</figcaption></figure><p></p><p>
		等等，吃飯前還有其他活動，在12:20 ~ 12:30有一個10分鐘小舞臺，感謝公司可以讓我去介紹公司(騙粉絲頁讚數)。
		</p><p>
		還蠻好玩，還有請沒薪水小編(偷偷在部落格說XD)幫忙開直播 - 覺得講的不太好，不敢看回放XD。
		</p><iframe src="https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2Falantsai.blog%2Fvideos%2F181637326111293%2F&show_text=1&width=267" width="267" height="714" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media" allowFullScreen="true"></iframe></section><section><h2 id="WizKMOutline_1558573210216222">下午茶時間</h2><p>
		疑，怎麽剛中午就到了下午茶Orz。
		</p><p>
		原因是，剛好公司有點事情在討論，然後昨天Lab有認識一位女學員，有來和我們聊聊關於資料科學、AI - 當然就被我這個偽資料科學家嘴炮了一些微軟的服務像是Azure Machine Learning Studio XD。
		</p><p>
		不過昨天都沒發現有下午茶，奇怪了.....
		</p><figure><img class="img-responsive" src="/posts/2019/05/2019-05-22-review-event-devdaysasia2019-day-2/ee53f9ec-76e3-4bba-968e-c5766db35cae.jpg" border="0" alt="IMG_20190522_151034.jpg"></figure><figure><img class="img-responsive" src="/posts/2019/05/2019-05-22-review-event-devdaysasia2019-day-2/821ae109-5f68-45b7-b694-8db3e8bbf279.jpg" border="0" alt="IMG_20190522_151053.jpg"><br><figcaption>下午茶内容</figcaption></figure></section><section><h2 id="WizKMOutline_1558573210216864">下午 - Teams Lab</h2><p>
		吃完了下午茶，最後就是去參加Teams的Lab。
		</p><p>
		還蠻好玩的，用web的方式左邊是遠端的VM，右邊是操作指令。
		</p><p>
		做完之後還有：
		</p><ol><li>1年的E5 Office 365帳號可以玩</li><li>一張證書</li><li>90天遠端的那個學習VM</li></ol><p></p><p>
		任務：
		</p><figure><img class="img-responsive" src="/posts/2019/05/2019-05-22-review-event-devdaysasia2019-day-2/a3ef9f91-de6f-4136-bb4f-cce35ef7a49e.jpg" border="0" alt="IMG_20190522_153742.jpg"><br><figcaption>步驟</figcaption></figure><p></p><p>
		不過其實Lab有一些小小問題，bot那邊，用範例的Channel會<em>沒有反應</em>，要部署到另外一個就可以。(和大神一起debug發現的結果)
		</p><p></p><figure><img class="img-responsive" src="/posts/2019/05/2019-05-22-review-event-devdaysasia2019-day-2/906436cd-edcb-48e7-84f0-a1ee7ca63b5d.jpg" border="0" alt="IMG_20190522_171025.jpg"><br><figcaption>一度崩潰debug中 - demo魔咒無處不在</figcaption></figure><p></p><p>
		詳細我另開一篇介紹，敬請期待。
		</p></section><section><h2 id="WizKMOutline_1558573210216161">結語</h2><p>
		結束了豐富的一天，第三天是最後一天，不過已經出去浪2天了，第三天要趕快回去工作了啦。
		</p><p>
		所以，沒有第三天的内容，但是，第三天就來show一下這一次得到了些什麽東西。
		</p></section>