Title: "[回顧][課程][Study4]2018 北京 Azure bootcamp - Azure Migration 上雲之路"
Published: 2018-04-25
Modified: 2018-04-25
Image: /posts/2018/04/2018-04-25-review-stud420180421-beijing-azure-bootcamp-azure-migration/8418e9b9-4c31-4e30-9df8-91578f3d7541.jpg
Tags: ["azure","「簡報」","「回顧」"]
Series: ["「簡報」","「回顧」"]
PostDescription: "這篇短短的回顧一下這次在北京的Azure bootcamp分享完的感受。"
---
<section><img class="img-responsive" src="/posts/2018/04/2018-04-25-review-stud420180421-beijing-azure-bootcamp-azure-migration/8418e9b9-4c31-4e30-9df8-91578f3d7541.jpg" border="0" alt="31064290_10211093476394701_3699603924475445248_n.jpg"><br></section><section><p>
		這次Study4的4月的活動在北京辦了2018 年的Azure bootcamp。小弟我有幸在其中一堂分享了Azure Migration 上雲之路的内容。
		</p><p>
		這篇將會把整個活動的資源整理一下，并且對于這次的簡報感想做個總結。
		</p></section>
		<section>
<a id="KMContentPageTopID" name="KMContentPageTopID"></a><div id="divKMOutline" style="border-style: groove none; margin: 10px 0px;"><ul style="margin:0px 0px 0px 20px"><li><a href="#WizKMOutline_1524608309845361" ;="" style="font-size: 15px; line-height: 1.6;">活動相關資源</a><br></li><li><a href="#WizKMOutline_1524608309846191" ;="" style="font-size: 15px; line-height: 1.6;">感想</a><br></li><ul style="MARGIN: 0px 0px 0px 30px"><li><a href="#WizKMOutline_1524608309846830" ;="" style="font-size: 15px; line-height: 1.6;">學員反應使用的多是IaaS</a><br></li><li><a href="#WizKMOutline_1524608309846379" ;="" style="font-size: 15px; line-height: 1.6;">對於Bot的服務有興趣</a><br></li><li><a href="#WizKMOutline_1524608309846178" ;="" style="font-size: 15px; line-height: 1.6;">對於Azure云是願意嘗試</a><br></li></ul><li><a href="#WizKMOutline_1524608309846292" ;="" style="font-size: 15px; line-height: 1.6;">幾張圖片</a><br></li><li><a href="#WizKMOutline_1524608309846747" ;="" style="font-size: 15px; line-height: 1.6;">結語</a><br></li></ul></div>
		</section>
		<!--more-->
		<section><h2 id="WizKMOutline_1524608309845361">活動相關資源</h2><dl><dt>
				我的投影片 - slideshare
			</dt><dd><iframe src="//www.slideshare.net/slideshow/embed_code/key/3REYqLYrYnq3xp" width="595" height="485" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" style="border:1px solid #CCC; border-width:1px; margin-bottom:5px; max-width: 100%;" allowfullscreen> </iframe> <div style="margin-bottom:5px"> <strong> <a href="//www.slideshare.net/alantsai2007/2018-beijing-azure-bootcampazure-migration" title="2018 beijing azure bootcamp-azure migration" target="_blank">2018 beijing azure bootcamp-azure migration</a> </strong> from <strong><a href="https://www.slideshare.net/alantsai2007" target="_blank">Alan Tsai</a></strong> </div></dd><dd></dd><dt>
				直播錄影
			</dt><dd><a href="http://bxug.bopoda.com/p/panel/18042107">直播錄影</a></dd><dd></dd><dt>
				我電腦錄影
			</dt><dd><iframe width="560" height="315" src="https://www.youtube.com/embed/otWIa0pzzss" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe><br><a href="https://youtu.be/otWIa0pzzss">Youtube 影片鏈接</a></dd><dd></dd><dt>
				整個議程的資源
			</dt><dd><a href="https://github.com/Study4/2018AzureBootcamp/blob/master/README.md">投影片及所有直播影片</a></dd><dd></dd></dl></section><section><h2 id="WizKMOutline_1524608309846191">感想</h2><p>
		這次沒有做問卷，所以沒有辦法和之前那樣有一些數據可以看到，因此只能就我自己當天感覺做個介紹。
		</p><section><h3 id="WizKMOutline_1524608309846830">學員反應使用的多是IaaS</h3><p>
			在這次會議上面，我主要項目介紹的是從地到云，及如何調整一些程式的設定和PaaS服務結合，讓程式更加符合云的環境。
			</p><p>
			不過在講完之後，和一些學員及會後看到的一些内容，發現到其實很多都沒有這種云概念。大部分還是停留在，把VM丟上去IaaS的概念而已。換句話説，其實就是把Azure當一個<em>大的機房</em>而已。
			</p><p>
			因此多多利用PaaS服務的概念讓有些學員有感。
			</p><figure><img class="img-responsive" src="/posts/2018/04/2018-04-25-review-stud420180421-beijing-azure-bootcamp-azure-migration/bd297fc8-2af6-4a8a-ab11-a8536343f698.jpg" border="0" alt=""><br><figcaption>有學員分享覺得重新認識了Azure</figcaption></figure></section><section><h3 id="WizKMOutline_1524608309846379">對於Bot的服務有興趣</h3><p>
			和幾個學員聊過了之後，其實對於Bot framework是有興趣的，尤其是QnA Maker。其中一個學員提到裏面training的方式比他們目前在使用的云小蜜方便很多，因此他們是<em>特別</em>因爲看到有bot才來參加。
			</p></section><section><h3 id="WizKMOutline_1524608309846178">對於Azure云是願意嘗試</h3><p>
			大部分學員多多少少都有在用一些china的云，但是大部分還是對於Azure的云有興趣。特別是有些外企，因爲在國外已經有在使用有些服務，因此會考慮在國内也使用一樣的服務。
			</p></section></section><section><h2 id="WizKMOutline_1524608309846292">幾張圖片</h2>
<img class="img-responsive" src="/posts/2018/04/2018-04-25-review-stud420180421-beijing-azure-bootcamp-azure-migration/30831604_1879628335390295_1227043242_n.jpg" border="0" alt="31064290_10211093476394701_3699603924475445248_n.jpg">
            <img class="img-responsive" src="/posts/2018/04/2018-04-25-review-stud420180421-beijing-azure-bootcamp-azure-migration/4c68adfd-091c-4a4a-aa13-ca4b73d0a2e4.jpg" border="0" alt="31064290_10211093476394701_3699603924475445248_n.jpg"><br></section><section><img class="img-responsive" src="/posts/2018/04/2018-04-25-review-stud420180421-beijing-azure-bootcamp-azure-migration/c482a0f4-3048-4841-8fb0-448577b23960.jpg" border="0" alt="31113997_10155595959492711_599129791555174400_n.jpg"><br></section><section><img class="img-responsive" src="/posts/2018/04/2018-04-25-review-stud420180421-beijing-azure-bootcamp-azure-migration/7c45f21e-8fdc-41f6-bda5-2ccbad4ed203.jpg" border="0" alt="31045527_1887400987937298_6236213735501856768_n.jpg"><br></section><section><h2 id="WizKMOutline_1524608309846747">結語</h2><p>
		這篇其實主要還是在把這次活動資源做個整合，并且把幾個我自己參加完的感覺記錄一下。
		</p></section>

