Title: "[我和阿九(Azure)有約][38]Azure Blob Storage 如何省錢？搞懂Access Tier"
Published: 2020-06-08 20:00
Modified: 2020-06-08 20:00
Image: "/posts/2020/06/2020-06-08-video-tutorial-date-with-azure-38-azure-storage-blob-save-money-reduce-cost-what-is-access-tier/cover.png"
Tags: ["azure","「教學影片」","「我和阿九(Azure)有約」"]
Series: ["「教學影片」","「我和阿九(Azure)有約」"]
PostDescription: "費用相信是上雲的一個很大會被考量到的部分。那省錢不省錢完全取決於怎麼使用服務。在 Blob Storage 有個可能會被不小心忽略的地方，就是所謂的Access Tier。這篇來看看，Access Tier 是什麼？以及怎麼樣影響到費用"
---
<section>
<p>
費用相信是上雲的一個很大會被考量到的部分
</p>
<p>
那省錢不省錢完全取決於怎麼使用服務
</p>
<p>
在 Blob Storage 有個可能會被不小心忽略的地方，就是所謂的Access Tier

</p>
<p>
    這篇來看看，Access Tier 是什麼？以及怎麼樣影響到費用
</p>
</section>
<section>
<div class="hidden-xs">
<iframe width="560" height="315" src="https://www.youtube.com/embed/fJcd8O6sTeg" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
<div class="visible-xs">
<iframe width="460" height="315" src="https://www.youtube.com/embed/fJcd8O6sTeg" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
<div>
    <iframe src="//www.slideshare.net/slideshow/embed_code/key/tZCQC8iqahfc1w" width="595" height="485" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" style="border:1px solid #CCC; border-width:1px; margin-bottom:5px; max-width: 100%;" allowfullscreen> </iframe> <div style="margin-bottom:5px"> <strong> <a href="//www.slideshare.net/alantsai2007/azure-38-azure-blob-storage-access-tier-alan-tsai" title="我和阿九Azure有約 38 Azure Blob Storage 如何省錢？ 搞懂Access Tier (Alan Tsai的學習筆記)" target="_blank">我和阿九Azure有約 38 Azure Blob Storage 如何省錢？ 搞懂Access Tier (Alan Tsai的學習筆記)</a> </strong> from <strong><a href="https://www.slideshare.net/alantsai2007" target="_blank">Alan Tsai</a></strong> </div>
</div>
</section>