Title: "[微軟證照][04] 怎麼在家或者辦公室進行線上考試"
Published: 2020-06-16 18:00
Modified: 2020-06-16 18:00
Image: "/posts/2020/06/2020-06-16-microsoft-certification-04-how-to-take-exam-from-home-or-office/bd53e75e-b875-4b7d-8aa4-28d0a1042a34.png"
Tags: ["「證照」", "azure"]
Series: ["「證照」"]
PostDescription: "如果考試的時候可以在大家最熟悉的環境相信考過的成功率一定會提高。更別說可以節省交通的時間以及費用。但是，如果環境沒搞好可能也會造成當天考試緊張而導致沒考過。這篇來看一下，如果今天是訂在家裡或者辦公室考試，需要準備什麼以及如何進行前期的預演"
---
<section><figure><img class="img-responsive" src="/posts/2020/06/2020-06-16-microsoft-certification-04-how-to-take-exam-from-home-or-office/bd53e75e-b875-4b7d-8aa4-28d0a1042a34.png" border="0" alt=""><br><figcaption>封面</figcaption></figure><p>
		在上一篇 (<a href="/posts/2020/04/microsoft-certification-03-how-to-schedule-an-exam-use-az-203-as-example">[03] 怎麼申請考試</a>) 介紹了如何申請考試之後，理論上應該是先介紹有那些資源可以用來準備考試。</span></p><p>
		不過，剛好有人在 FB 問我說如果想要線上考試，應該怎麼做。
		</p><p>
		所以，我調整了一下順序，先和大家介紹一下要考試的時候，要準備什麼，以及大概流程是如何。
		</p><p>
		這篇先從如果是要在家裡或者在辦公室考試，要準備什麼。
		</p></section>
		<section>
<a id="KMContentPageTopID" name="KMContentPageTopID"></a><div id="divKMOutline" style="border-style: groove none; margin: 10px 0px;"><ul style="margin:0px 0px 0px 20px"><li><a href="#WizKMOutline_1592311694538271" ;="" style="font-size: 15px; line-height: 1.6;">需要什麼東西</a><br></li><li><a href="#WizKMOutline_1592311694538925" ;="" style="font-size: 15px; line-height: 1.6;">模擬考試當天的流程</a><br></li><ul><li><a href="#WizKMOutline_1592311694538360" ;="" style="font-size: 15px; line-height: 1.6;">PC 端的基本設備確認</a></li><li><a href="#WizKMOutline_1592311694538425" ;="" style="font-size: 15px; line-height: 1.6;">透過手機進行 人、證件以及環境的確認</a></li><li><a href="#WizKMOutline_1592311694538275" ;="" style="font-size: 15px; line-height: 1.6;">最後實際進行考試</a></li></ul><li><a href="#WizKMOutline_1592311694538696" ;="" style="font-size: 15px; line-height: 1.6;">考試當天</a><br></li><li><a href="#WizKMOutline_1592311694538387" ;="" style="font-size: 15px; line-height: 1.6;">注意事項/個人建議</a><br></li><li><a href="#WizKMOutline_1592311694538895" ;="" style="font-size: 15px; line-height: 1.6;">結語</a><br></li></ul></div>
		</section>
		<!--more--><section><h2 id="WizKMOutline_1592311694538271">需要什麼東西</h2><p>
		要在家裡或者辦公室考試第一件事情，當然是註冊考試的時候選擇的是透過家裡或者辦公室作為選項。
		</p><p>
		如果您當初申請的時候是選擇了 Test Center，那麼從界面上是<em>沒有辦法</em>修改（不確定能不能透過聯絡 PearsonVUE 來做調整），所以，一開始註冊考試的時候先想好是很重要。
		</p><p>
		再來，有幾個部分是會需要的東西：
		</p><ol><li>設備 - 基本上 只要有 <em>麥克風</em>、<em>攝像頭</em>以及<em>穩定的網路</em>就可以啦</li><li>環境 - 一定會需要在一個可以關上門的房間，然後四周不要有海報或者有文字的東西貼在墻上</li><li>手機 - 部分的驗證需要透過手機拍照，所以您至少會需要能夠上網拍照的手機</li><li>證件 - 可以使用 <em>駕照</em> 以及 <em>護照</em>，我個人都是使用 <em>護照</em>，沒用過駕照作為身份驗證</li></ol><p></p><p>
		這些東西都準備好了之後
		</p><p>
		我們來看一下，怎麼模擬實際考試當天怎麼運行。
		</p></section><section><h2 id="WizKMOutline_1592311694538925">模擬考試當天的流程</h2><p>
		我們可以透過工具裡面的測驗來模擬當天的整個流程。
		</p><p>
		那當然，測試的時候，請用考試當天<em>會使用</em>的網路及電腦來測試。
		</p><p>
		考試那天用的軟體叫做 <em>OnVue</em>，可以再這個網址看到：<a href="https://home.pearsonvue.com/Clients/Microsoft/Online-proctored.aspx">OnVue</a></p><p>
		這個軟體，也是當天實際要考試的時候使用的軟體，因為有版本的關係，所以如果您開啟的是舊的版本，這個軟體會提醒您要更新。
		</p><p>
		接下來分為幾個階段進行：
		</p><ol><li>PC 端的基本設備確認</li><li>透過手機進行 人、證件以及環境的確認</li><li>最後實際進行考試</li></ol><p></p><section><h3 id="WizKMOutline_1592311694538360">PC 端的基本設備確認</h3><dl><dt>
				建立測試的環境
			</dt><dd>
				進入到網址之後，點選第一個的：<kbd>Test my sytem</kbd> 按鈕。
				<figure><img class="img-responsive" src="/posts/2020/06/2020-06-16-microsoft-certification-04-how-to-take-exam-from-home-or-office/71f58636-31c3-41f0-b30e-12cfd8015806.png" border="0" alt="chrome_2020-06-16_19-17-07.png"><br><figcaption>進入 Run System Test</figcaption></figure></dd><dt>
				勾選確認目前使用的環境是考試會使用的，並且按下 <kbd>Download</kbd> 用來下載 OnVue
			</dt><dd><figure><img class="img-responsive" src="/posts/2020/06/2020-06-16-microsoft-certification-04-how-to-take-exam-from-home-or-office/2ecf31e3-b9d7-4310-b005-9ee6e1cc4f42.png" border="0" alt="chrome_2020-06-16_19-18-14.png"><br><figcaption>下載 OnVuew</figcaption></figure></dd><dt>
				執行下載下來的軟體 (名稱會是: OnVUE-xxxx.exe)
			</dt><dd><p>
					左邊輸入可以從網站複製的 Access Code
					</p><p>
					右邊可以輸入電話號碼 - 也可以不要輸入
					</p><figure><img class="img-responsive" src="/posts/2020/06/2020-06-16-microsoft-certification-04-how-to-take-exam-from-home-or-office/0a443ace-856a-4b9f-956f-d2c106641766.png" border="0" alt="OnVUE_2020-06-16_19-20-19.png"><br><figcaption>進入測試環節</figcaption></figure></dd><dt>
				確認身份年齡
			</dt><dd><figure><img class="img-responsive" src="/posts/2020/06/2020-06-16-microsoft-certification-04-how-to-take-exam-from-home-or-office/1df00f5a-6fca-485c-9b0a-19dcfb8c61e1.png" border="0" alt="OnVUE_2020-06-16_19-21-14.png"><br><figcaption>確認文件以及身份年齡</figcaption></figure></dd><dt>
				檢查設備
			</dt><dd><figure><img class="img-responsive" src="/posts/2020/06/2020-06-16-microsoft-certification-04-how-to-take-exam-from-home-or-office/57ee8211-f3e3-4f57-9993-712dffb280f7.png" border="0" alt="OnVUE_2020-06-16_19-22-05.png"><br><figcaption>檢查麥克風、網路、以及攝像頭</figcaption></figure></dd></dl></section><section><h3 id="WizKMOutline_1592311694538425">透過手機進行 人、證件以及環境的確認</h3></section><p>
		接下來的檢查就要透過手機，基本上就是分了幾個部分：
		</p><ol><li>需要自拍 - 取得考試人的相貌</li><li>確認證件 - 用證件確認考試人的身份</li><li>確認您的考試環境</li></ol><p></p><dl><dt>
				選擇什麼方式把網址給到手機
			</dt><dd><figure><img class="img-responsive" src="/posts/2020/06/2020-06-16-microsoft-certification-04-how-to-take-exam-from-home-or-office/9bd7d587-9798-4268-bfd9-340efd2a3c98.png" border="0" alt="OnVUE_2020-06-16_19-25-42.png"><br><img class="img-responsive" src="/posts/2020/06/2020-06-16-microsoft-certification-04-how-to-take-exam-from-home-or-office/c786146f-61cd-42cb-8dc1-54f45d1fb317.png" border="0" alt="OnVUE_2020-06-16_19-26-30.png"><br><figcaption>一般都選擇第二個自己輸入網址</figcaption></figure></dd><dt>
				在手機輸入網址以及 Access Code
			</dt><dd><figure><img class="img-responsive" src="/posts/2020/06/2020-06-16-microsoft-certification-04-how-to-take-exam-from-home-or-office/cab65322-2c4c-4b11-861f-3edcbd3486bc.jpg" border="0" alt=""><br><figcaption>手機進行操作</figcaption></figure></dd><dt>
				進行自拍，主要照到臉
			</dt><dd><figure><img class="img-responsive" src="/posts/2020/06/2020-06-16-microsoft-certification-04-how-to-take-exam-from-home-or-office/2ef04d38-baf3-40ad-a8a7-bd83774d78a5.jpg" border="0" alt=""><br><img class="img-responsive" src="/posts/2020/06/2020-06-16-microsoft-certification-04-how-to-take-exam-from-home-or-office/5557c39e-1ba1-4e16-8146-44084932f368.jpg" border="0" alt=""><br><figcaption>進行拍照</figcaption></figure><div class="bs-callout bs-callout-info">
					拍完會先確認要不要轉，在下一頁最後確認的時候，如果認為不好看或者他有驗證出錯（紅色框框），可以點頭像在重拍
					<figure><img class="img-responsive" src="/posts/2020/06/2020-06-16-microsoft-certification-04-how-to-take-exam-from-home-or-office/c11f9eca-9667-472a-bdf8-d19f93725bda.jpg" border="0" alt=""><br><figcaption>重拍</figcaption></figure></div></dd><dt>
				檢查證件
			</dt><dd>
				一開始可以選擇證件類型以及國籍，證件類型可以選擇 <em>駕照</em> 或者 是 <em>護照</em>，我沒用過駕照，都是用護照。
				<figure><img class="img-responsive" src="/posts/2020/06/2020-06-16-microsoft-certification-04-how-to-take-exam-from-home-or-office/626bb88f-c462-410f-a4e2-7b4bc0a5abd4.png" border="0" alt=""><br><figcaption>選擇護照以及Taiwan作為國籍</figcaption></figure><div class="bs-callout bs-callout-info">
					拍照邏輯同自拍的時候，先上傳，然後有問題或者想要重拍可以點選相片按鈕就會變成重拍的選項
				</div></dd><dt>
				檢查環境
			</dt><dd>
				這個部分要拍考試的房間的前、後、左以及右。
				例如，他要您拍前面的時候，會請您從 後面 拍過去。
				<figure><img class="img-responsive" src="/posts/2020/06/2020-06-16-microsoft-certification-04-how-to-take-exam-from-home-or-office/cc6b7c48-c292-415c-8ea8-642af72e0000.jpg" border="0" alt=""><br><img class="img-responsive" src="/posts/2020/06/2020-06-16-microsoft-certification-04-how-to-take-exam-from-home-or-office/5eb815f0-852a-4f7a-832b-65a3f5198f64.jpg" border="0" alt=""><br><figcaption>四面都拍完的結果</figcaption></figure></dd><dt>
				把手機放到旁邊沒辦法在一個手臂可以拿到的範圍
			</dt><dd>
				到這邊基本上都好了，接下來就是要把手機放到沒有辦法不站起來的情況下拿得到的距離（最少一個手臂遠）
				<figure><img class="img-responsive" src="/posts/2020/06/2020-06-16-microsoft-certification-04-how-to-take-exam-from-home-or-office/0183af0f-13f7-4d6d-8e25-168498680a1e.jpg" border="0" alt=""><br><figcaption>完成畫面</figcaption></figure></dd></dl></section><section><h3 id="WizKMOutline_1592311694538275">最後實際進行考試</h3><p>
		接下來操作又回到 PC 端的部分，進行最後的確認
		</p><dl><dt>
				刷新確認能夠到下一步
			</dt><dd>
				先按下 <kbd>Refresh</kbd> 讓他抓到最新資料

				<figure><img class="img-responsive" src="/posts/2020/06/2020-06-16-microsoft-certification-04-how-to-take-exam-from-home-or-office/0ad84b61-6c86-4cf4-a87f-0db60a5cced1.png" border="0" alt="OnVUE_2020-06-16_19-40-11.png"><br><figcaption>更新</figcaption></figure></dd><dt>
				最後確認
			</dt><dd>
				到了這邊，在接下去就是進入到考試環境了，所以記得把手機啊，筆紙那些都收好。
				<figure><img class="img-responsive" src="/posts/2020/06/2020-06-16-microsoft-certification-04-how-to-take-exam-from-home-or-office/38d3fa35-4095-400c-be7c-fa55686cf8bc.png" border="0" alt="OnVUE_2020-06-16_19-40-21.png"><br><figcaption>最後確認</figcaption></figure></dd><dt>
				提醒關掉其他軟體
			</dt><dd>
				再來就是提醒把所有軟體都關掉，建議是什麼都別開，包含像是有些會縮起來到有下角那種。
				<figure><img class="img-responsive" src="/posts/2020/06/2020-06-16-microsoft-certification-04-how-to-take-exam-from-home-or-office/f35eca22-1253-436f-bd46-4375a7085065.png" border="0" alt="OnVUE_2020-06-16_19-40-27.png"><br><figcaption>關掉所有軟體</figcaption></figure></dd><dt>
				啟動範例考試
			</dt><dd><p>
				一般來說到了這裡，會需要等一下，因為會有一個真的人和您互動（也不一定有互動），他會幫您檢查剛剛上傳的文件，並且會要求一些動作（後面在說明）。
				</p><p>
				不過現在可能因為COVID-19的關係，有時候他什麼都不說，就直接幫您 launch 考試，所以不一定。
				</p></dd></dl></section><section><h2 id="WizKMOutline_1592311694538696">考試當天</h2><p>
		上面剛剛走過的是大家隨時都可以進行模擬的環境，而實際到考試那天其實流程都一樣，不過會好奇一個問題：
		</p><p>
		Access Code 去那邊拿？
		</p><p>
		當登入到 mcp portal (<a href="https://mcp.microsoft.com/">https://mcp.microsoft.com/</a>)，如果您有考試，右邊會出現：
		</p><figure><img class="img-responsive" src="/posts/2020/06/2020-06-16-microsoft-certification-04-how-to-take-exam-from-home-or-office/fc8e8242-19cf-4d26-97c2-24ace638ffe6.png" border="0" alt="msedge_2020-06-16_20-15-12.png"><br><figcaption>考試列表</figcaption></figure><p></p><p>
		在考試前的 <em>30 分鐘</em> (30 分鐘就可以進去了)，點進去之後，會出現有個按鈕叫做 <kbd>Begin Exam</kbd>：
		</p><figure><img class="img-responsive" src="/posts/2020/06/2020-06-16-microsoft-certification-04-how-to-take-exam-from-home-or-office/6b3f3169-effd-4304-a384-f168e6fc51b4.jpg" border="0" alt=""><br><figcaption>開始考試</figcaption></figure><p></p><p>
		點下去之後，就會看到 Access Code 以及流程和上面一樣。
		</p></section><section><h2 id="WizKMOutline_1592311694538387">注意事項/個人建議</h2><dl><dt>
				第一次請考試前 30 分鐘就進去做這些 checkin 動作
			</dt><dd><p>
				雖然模擬的時候感覺好像很簡單對吧，但是在正式的時候，很有可能 <em><strong>拍照會一直失敗</strong></em>。
				</p><p>
				我記得我第一次的時候是前 15 分鐘進去 (因為忘記在那邊看到說 15 分鐘才可以進去)，結果證件那邊一直出錯，搞得很緊張。
				</p></dd><dt>
				考試前先把電腦重啟並且關掉有的沒的
			</dt><dd>
				以防有什麼軟體干擾它。
			</dd><dt>
				建議開啟 speaker
			</dt><dd><p>
				雖然一開始有讓輸入電話號碼，好像只會用電話溝通，但是其實那個軟體本身有 <em>通話功能</em>。
				</p><p>
				所以，如果沒開 speaker 會聽不到，就很麻煩。
				</p></dd><dt>
				環境越乾淨越好
			</dt><dd><p>
				基本上東西都最好保持 <em>1 個手臂的距離</em>，這個距離表示拿的時候要離開位置，所以監考官就會看到，然後看到就會 fail test XD。
				</p><p>
				然後最好<em>不要</em>能夠有看得到<em>字</em>的東西，就算中文也不要。如果實在移不開，就拿東西蓋著。
				</p><p>
				桌上不要有紙筆。
				</p><p>
				有 monitor 的，記得把電源拔掉，或者把他轉到另外一邊。
				</p><div class="bs-callout bs-callout-info">
					我除了在辦公室考過之外，也有在家裡考過，我家東西就比較亂，但是都蓋住了他也就不會說什麼。
				</div></dd><dt>
				在等待進入考試之前，監考官可能會請您做一些事情
			</dt><dd><p>
				模擬看不出這個效果，但是實際考試，在最後一步的時候，基本上就是等。
				</p><p>
				監考官可能會和您溝通 - 有可能透過 chat 或者是 直接 call 然後用講的。
				</p><p>
				一般我遇到的有：
				</p><ol><li>把電腦 360 度轉一圈</li><li>把眼睛拿下來然後放到攝像頭前面看一下鏡片</li></ol><p></p><p>
				有時候也有監考官完全不說話，直接就開始考試。
				</p></dd><dt>
				考試過程建議不要發出聲音或者捂住嘴巴太久
			</dt><dd><p>
				我有個習慣會小聲默念出考題，但是如果次數太多，監考官會請您不要年 XD
				</p><p>
				捂住嘴巴太久也是。
				</p><p>
				可能是怕您在打暗號或什麼之類。
				</p></dd><dt>
				如果有任何問題，考試過程可以透過上面一個選項和考官溝通
			</dt><dd><p>
				如果在考試過程發現怪怪的，例如滑鼠移動速度很慢之類，那可以透過考試時候上面有個按鈕可以和考官溝通。
				</p><p>
				大部分他的處理方式就是幫您重新 re-launch 考試，一般就沒問題了。
				</p></dd></dl></section><section><h2 id="WizKMOutline_1592311694538895">結語</h2><p>
		如果考試可以在一個自己熟悉的環境，相信考過的幾率肯定更高，更不用說可以減少掉很多交通的時間。
		</p><p>
		不過，如果您會害怕和考官用英文溝通的話，那麼在家考試可能要在思考一下，因為還是有可能會需要和他溝通 - 例如您遇到什麼問題之類。
		</p><p>
		但是除了這個之外，個人覺得在家考試還是方便太多，因此後面我的考試全部都是在家或者在辦公室考。
		</p><p>
		這篇看完怎麼做好準備之後，下篇來看看如果現場考試要準備什麼。
		</p></section>