Title: "[我和阿九(Azure)有約][39]Azure Blob Storage 如何省錢？設定 Access Tier 以及透過 Lifecycle Management 自動調整"
Published: 2020-06-10 20:00
Modified: 2020-06-10 20:00
Image: "/posts/2020/06/2020-06-10-video-tutorial-date-with-azure-39-azure-storage-blob-how-to-set-access-tier-and-use-lifecycle-managment-to-schedule-change/cover.png"
Tags: ["azure","「教學影片」","「我和阿九(Azure)有約」"]
Series: ["「教學影片」","「我和阿九(Azure)有約」"]
PostDescription: "上篇了解了 Access Tier 這個 概念之後以及其重要性。下一個問題就是：那應該如何設定？除了手動設定之外，有定期性的需要調整，有沒有什麼 schedule 可以用？這篇來看看 如何設定以及使用 Lifecycle Management"
---
<section>
<p>
上篇了解了 Access Tier 這個 概念之後以及其重要性

</p>
<p>
下一個問題就是：

</p>
<p>
那應該如何設定？


</p>
<p>
 除了手動設定之外，有定期性的需要調整，有沒有什麼 schedule 可以用？
這篇來看看 如何設定以及使用 Lifecycle Management
</p>
</section>
<section>
<div class="hidden-xs">
<iframe width="560" height="315" src="https://www.youtube.com/embed/T_k1wcSInBI" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
<div class="visible-xs">
<iframe width="460" height="315" src="https://www.youtube.com/embed/T_k1wcSInBI" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
<div>
    <iframe src="//www.slideshare.net/slideshow/embed_code/key/z1AwCyp9npd23Y" width="595" height="485" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" style="border:1px solid #CCC; border-width:1px; margin-bottom:5px; max-width: 100%;" allowfullscreen> </iframe> <div style="margin-bottom:5px"> <strong> <a href="//www.slideshare.net/alantsai2007/azure-39-azure-blob-storage-access-tier-lifecycle-management-alan-tsai" title="我和阿九Azure有約 39 Azure Blob Storage 如何省錢？ 設定 Access Tier 以及透過 Lifecycle Management 自動調整 (Alan Tsai 的學習筆記)" target="_blank">我和阿九Azure有約 39 Azure Blob Storage 如何省錢？ 設定 Access Tier 以及透過 Lifecycle Management 自動調整 (Alan Tsai 的學習筆記)</a> </strong> from <strong><a href="https://www.slideshare.net/alantsai2007" target="_blank">Alan Tsai</a></strong> </div>
</div>
</section>