Title: "[微軟證照][03]怎麼申請考試"
Published: 2020-04-30 18:00
Modified: 2020-04-30 18:00
Image: "/posts/2020/04/2020-04-30-microsoft-certification-03-how-to-schedule-an-exam-use-az-203-as-example/5429929b-098d-4c79-a87b-18513900db65.png"
Tags: ["「證照」", "azure"]
Series: ["「證照」"]
PostDescription: "了解了有什麼證照可以考之後，下一步就是瞄準某一張然後進行準備。不過，要學習，相信大家都沒有時間學。教大家一個肯定會抽出時間學習的方法，那就是把考試訂下去，為了不浪費錢，肯定就會好好學習XD。這篇來看看怎麼訂考試"
---
<section><figure><img class="img-responsive" src="/posts/2020/04/2020-04-30-microsoft-certification-03-how-to-schedule-an-exam-use-az-203-as-example/5429929b-098d-4c79-a87b-18513900db65.png" border="0" alt=""><br><figcaption>封面</figcaption></figure><p>
		在上一篇 (<a href="/posts/2020/04/microsoft-certification-02-what-certification-available-for-developer-and-difference-between-exam-and-certification">[02]微軟有那些證照可以考，以及開發者適合那些</a>) 了解樂證照類型之後，下一步當然是了解自己的目標是那一張證照。</p><p>
		原則上，建議可以從Associate等級開始考起，基本上只要有大約1~2年的使用經驗在加上系統學習，一般問題不大。
		</p><p>
		那麼，最大的問題肯定是：<em>沒有時間學習</em>。
		</p><p>
		依照我個人的經驗，這個解決方式就是：<em>把考試訂下來，那麼就有時間去學習</em>。因為怕考沒過浪費錢，因此訂了考試，就會逼自己去學XD。
		</p><p>
		所以，這篇先來以AZ-203的證照為例，看看怎麼申請考試。
		</p></section>
		<section>
<a id="KMContentPageTopID" name="KMContentPageTopID"></a><div id="divKMOutline" style="border-style: groove none; margin: 10px 0px;"><ul style="margin:0px 0px 0px 20px"><li><a href="#WizKMOutline_1588253010833959" ;="" style="font-size: 15px; line-height: 1.6;">要申請考試需要準備什麼？</a><br></li><li><a href="#WizKMOutline_1588253010833416" ;="" style="font-size: 15px; line-height: 1.6;">申請AZ-203為例</a><br></li><ul><li><a href="#WizKMOutline_1588253010833476" ;="" style="font-size: 15px; line-height: 1.6;">找到要考的試</a></li><li><a href="#WizKMOutline_1588253010833468" ;="" style="font-size: 15px; line-height: 1.6;">確認訊息 - 導向Person Vue</a></li><li><a href="#WizKMOutline_1588253010833230" ;="" style="font-size: 15px; line-height: 1.6;">選擇考試方式 - 去考試中心考</a></li><li><a href="#WizKMOutline_1588253010833674" ;="" style="font-size: 15px; line-height: 1.6;">選擇考試方式 - 在家裡或者辦公室考</a></li><li><a href="#WizKMOutline_1588253010833584" ;="" style="font-size: 15px; line-height: 1.6;">確認付款</a></li></ul><li><a href="#WizKMOutline_1588253010833813" ;="" style="font-size: 15px; line-height: 1.6;">結語</a><br></li></ul></div>
		</section>
		<!--more-->
		<section><h2 id="WizKMOutline_1588253010833959">要申請考試需要準備什麼？</h2><p>
		既然想要申請考試，第一當然要先了解需要什麼東西才能夠考。
		</p><dl><dt>
				微軟帳號
			</dt><dd>
				第一件事情當然是帳號 - 這樣才知道考試對應到誰。要特別注意，申請帳號的時候自己的英文姓名要寫的和<em>護照</em>上面一樣哦。
			</dd><dt>
				信用卡/Voucher
			</dt><dd>
				考試有費用，因此要嗎是線上刷卡（所以要信用卡），不然就是可能有透過上課或者購買Voucher來抵用費用。
			</dd><dt>
				確認考試時間
			</dt><dd>
				要考試肯定要排出時間，因此要先大概知道自己什麼時候有空，再來取訂考試。
			</dd></dl><p>
		上面這些都準備好了之後，接下來看看如何申請考試。
		</p></section><section><h2 id="WizKMOutline_1588253010833416">申請AZ-203為例</h2><p>
		接下來分為幾個部分，帶大家看看每一個步奏需要做什麼。分別為：
		</p><ol><li>找到要考的試</li><li>確認訊息 - 導向Person Vue</li><li>選擇考試方式 - 去考試中心考</li><li>選擇考試方式 - 在家裡或者辦公室考</li><li>確認付款</li></ol><p></p><section><h3 id="WizKMOutline_1588253010833476">找到要考的試</h3><p>
			基本上只要知道了想要考的是什麼，那麼只需要google搜索一下就會進入到考試說明頁面。
			</p><p>
			例如，我要考AZ-203，那麼搜索一下，就會進入到下面的頁面：<a href="https://docs.microsoft.com/en-us/learn/certifications/exams/az-203">https://docs.microsoft.com/en-us/learn/certifications/exams/az-203</a></p><p>
			再來，只需要：
			</p><ol><li>選擇國家 - 這個會影響到費用。目前來說，台灣一門是125美金</li><li>再來按下<code>Schedule Exam</code></li></ol><p></p><figure><img class="img-responsive" src="/posts/2020/04/2020-04-30-microsoft-certification-03-how-to-schedule-an-exam-use-az-203-as-example/d6bb0b49-eb96-4718-94ee-b8a53488f2c3.png" border="0" alt="chrome_2020-04-30_20-39-19.png"><br><figcaption>選定國家以及考試</figcaption></figure><div class="bs-callout bs-callout-warning"><p>
				這頁有很多這門證照以及考試可以準備的訊息，後面在介紹準備的時候在詳細說明。
				</p><p>
				建議，在看這頁的時候用英文，因為中文其實有些訊息是錯的 - 譬如關於AZ-203 retire時間在中文頁面就是錯的。
				</p></div></section><section><h3 id="WizKMOutline_1588253010833468">確認訊息 - 導向Person Vue</h3><p>
			按下Schedule Exam之後，他會要求登入微軟帳號，這個時候特別注意一下訊息是否都正確。
			</p><div class="bs-callout bs-callout-info">
				如果從來沒有申請過帳號應該會需要填入個人訊息，這個部分就沒截圖了。
			</div><p>
			這邊要特別注意的是<em>Legal Name</em>，千萬要寫的和官方文件 (例如護照) 一模一樣。
			</p><figure><img class="img-responsive" src="/posts/2020/04/2020-04-30-microsoft-certification-03-how-to-schedule-an-exam-use-az-203-as-example/c47e8af0-c976-44fb-9c81-df0756b70f18.png" border="0" alt="chrome_2020-04-30_20-44-27.png"><br><figcaption>檢查訊息是否正確</figcaption></figure><p>
			卷到最下面的<code>Save &amp; Continue</code>會再來檢查是否如果是微軟員工要綁定之類的訊息。
			</p><p>
			確認過後，就可以點下<code>Go to Pearson Vue</code></p><figure><img class="img-responsive" src="/posts/2020/04/2020-04-30-microsoft-certification-03-how-to-schedule-an-exam-use-az-203-as-example/70ba2f04-4cf8-4612-8f4f-758a8eda6475.png" border="0" alt="chrome_2020-04-30_20-46-04.png"><br><figcaption>最後確認訊息</figcaption></figure><p>
			稍等一下就會被SSO到Pearson Vue確定考試方式，這個時候基本上有兩個可以選：
			</p><ol><li>去考試中心考</li><li>在家裡或者辦公室考</li></ol><figure><img class="img-responsive" src="/posts/2020/04/2020-04-30-microsoft-certification-03-how-to-schedule-an-exam-use-az-203-as-example/29d12d93-e96f-4378-a84d-38624c9ab2e0.png" border="0" alt="chrome_2020-04-30_20-49-22.png"><br><figcaption>確認考試方式</figcaption></figure><p></p></section><section><h3 id="WizKMOutline_1588253010833230">選擇考試方式 - 去考試中心考</h3><p>
			選擇<code>At a local test center</code>就是去考試中心考。
			</p><p>
			選擇了之後會詢問要用什麼語言作為考試語言，基本上除非非常熟悉，不然都建議考英文
			</p><figure><img class="img-responsive" src="/posts/2020/04/2020-04-30-microsoft-certification-03-how-to-schedule-an-exam-use-az-203-as-example/565fa65f-bf29-40b2-bb41-ba31c561fdc6.png" border="0" alt="chrome_2020-04-30_20-51-03.png"><br><figcaption>選擇語言</figcaption></figure><p>
			在來就是確認考試訊息，直接按下<code>Next</code>即可。
			</p><p>
			再來是選擇考試中心，這邊預設會帶入之前確認訊息的時候輸入的地址，那可以改，可以輸入英文，也可以輸入中文。
			</p><p>
			例如：假設想要找<em>中山區</em>附近的考試中心，可以一次勾選最多3家一起比對時間
			</p><figure><img class="img-responsive" src="/posts/2020/04/2020-04-30-microsoft-certification-03-how-to-schedule-an-exam-use-az-203-as-example/c54357c8-0416-449d-822a-632f2396d1c3.png" border="0" alt="chrome_2020-04-30_20-55-51.png"><br><figcaption>選擇考試中心</figcaption></figure><p></p><p>
			再來，從左邊選擇考試中心，然後右邊選擇日期，最後在右下角選擇時段
			</p><figure><img class="img-responsive" src="/posts/2020/04/2020-04-30-microsoft-certification-03-how-to-schedule-an-exam-use-az-203-as-example/f54732a7-ef42-4ae7-85e2-92ebfe39e3bf.png" border="0" alt="chrome_2020-04-30_20-57-39.png"><br><figcaption>找到考試中心以及時間</figcaption></figure><p></p><p>
			每一個考試中心能夠考的時段不同，因此可以多看幾家。
			</p><p>
			接下來就進入到付款的方式，我們先回去看如果一開始選擇在家裡或者辦公室考試會長什麼樣子。
			</p></section><section><h3 id="WizKMOutline_1588253010833674">選擇考試方式 - 在家裡或者辦公室考</h3><p>
			如果一開始選擇的是<em>At my home or office</em>，那麼會有一個<code>Run pre-check</code>的按鈕出現，讓您檢查環境用。
			</p><div class="bs-callout bs-callout-info">
				這個先忽略，後面介紹考試中心注意事項的時候在介紹。
			</div><p>
			再來會進入一個terms and condition確認的頁面，基本上就是一些個資使用之類。基本上都打鉤才能夠往下。
			</p><p>
			再來會選擇考試語言，同考試中心的設定一樣。
			</p><p>
			再來確認考試科目以及費用 - 按下<code>Next</code>即可。
			</p><p>
			在來，可以選擇<em>proctor</em>的語言，以前只有英文，現在也有日文。這個指的是，監考老師會使用的語言。
			</p><p>
			再來，選擇一個日期，然後選擇時間即可：
			</p><figure><img class="img-responsive" src="/posts/2020/04/2020-04-30-microsoft-certification-03-how-to-schedule-an-exam-use-az-203-as-example/4b96c4d0-e3e7-4baa-b9aa-7fc47b17dd31.png" border="0" alt="chrome_2020-04-30_21-06-18.png"><br><figcaption>選擇日期和時間</figcaption></figure><p>
			再來就會進入到要checkout階段。
			</p></section><section><h3 id="WizKMOutline_1588253010833584">確認付款</h3><p>
			再來會進入到最後確認畫面，以及可以加購官方的考古題，以及確認個人訊息。
			</p><figure><img class="img-responsive" src="/posts/2020/04/2020-04-30-microsoft-certification-03-how-to-schedule-an-exam-use-az-203-as-example/ed999903-f3ca-435a-9820-f53ddf28d30e.png" border="0" alt="chrome_2020-04-30_21-11-59.png"><br><figcaption>確認購買內容</figcaption></figure><div class="bs-callout bs-callout-info">
				如果您有Voucher，不用擔心，這頁只是初步確認，下面可以使用這些voucher。
			</div><p>
			按下之後有個popup會說明關於取消、改期之類的規則。一般來說，至少要考試<em>6個工作天</em>前改期就不用任何費用。
			</p><div class="bs-callout bs-callout-info">
				目前因為COVID-19的關係，所以目前好像就算1天前改也不用收費用。
			</div><p>
			下個頁面就是設定Voucher或者輸入信用卡的地方。
			</p><ol><li>如果已經有Voucher，那麼可以透過remove的方式在加入</li><li>如果目前沒有Voucher，可以選擇<code>Add voucher or promo code</code></li><li>如果沒有voucher，那麼可以輸入信用卡訊息</li></ol><figure><img class="img-responsive" src="/posts/2020/04/2020-04-30-microsoft-certification-03-how-to-schedule-an-exam-use-az-203-as-example/10fa0c3c-2853-429c-bbf7-376bfe81876b.png" border="0" alt="chrome_2020-04-30_21-16-42.png"><br><figcaption>最後設定voucher</figcaption></figure><p>
			確認好訊息之後，按下<code>Next</code>之後還不會扣款，還有一個最後確認畫面，那邊確認之後才是正式schedule成功。
			</p><p>
			同事間，在您的mail會有個確認信件：
			</p><figure><img class="img-responsive" src="/posts/2020/04/2020-04-30-microsoft-certification-03-how-to-schedule-an-exam-use-az-203-as-example/6f411c79-2a40-41c8-8469-4c98f01c6506.png" border="0" alt=""><br><figcaption>確認訂下考試</figcaption></figure><p></p></section></section><section><h2 id="WizKMOutline_1588253010833813">結語</h2><p>
		到了這邊，我們的考試就已經訂好了。
		</p><p>
		接下來就是要準備考試的內容，所以，下一篇來介紹一下有什麼資源可以讓大家準備考試。
		</p></section>