Title: "[活動] 2020 Global Azure 記錄 - Azure API Management - 協助邁向Open API及Micro Service架構的好用服務"
Published: 2020-04-27 19:11
Modified: 2020-04-27 19:11
Image: "/posts/2020/04/2020-04-27-review-event-2020-global-azure-api-management-helps-create-open-api-and-towards-micro-service-architecture/c8246859-0fb0-4dc1-992b-cb50635bf8cf.jpg"
Tags: ["「活動」", "azure",「簡報」]
Series: ["「活動」",「簡報」]
PostDescription: "好久沒寫文章了，從回顧一下這次的Global Azure活動開始。如果想要做Open API或者往micro-service架構走的話。那麼API Management這種PaaS服務就是神器啊。簡單介紹當天內容"
---
<section><figure><img class="img-responsive" src="/posts/2020/04/2020-04-27-review-event-2020-global-azure-api-management-helps-create-open-api-and-towards-micro-service-architecture/c8246859-0fb0-4dc1-992b-cb50635bf8cf.jpg" border="0" alt=""><br><figcaption>Azure API Management -  協助邁向Open API及Micro Service架構的好用服務</figcaption></figure><p>
		好久沒有寫參加活動的文章啦，雖然這一次也沒拍什麼太特別的照片。
		</p><p>
		不過也算是記錄一下當天介紹的內容以及簡單介紹一下整體活動。
		</p></section>
		<section>
<a id="KMContentPageTopID" name="KMContentPageTopID"></a><div id="divKMOutline" style="border-style: groove none; margin: 10px 0px;"><ul style="margin:0px 0px 0px 20px"><li><a href="#WizKMOutline_1587998908245893" ;="" style="font-size: 15px; line-height: 1.6;">什麼是Global Azure?</a><br></li><li><a href="#WizKMOutline_1587998908246612" ;="" style="font-size: 15px; line-height: 1.6;">活動當天</a><br></li><li><a href="#WizKMOutline_1587998908246695" ;="" style="font-size: 15px; line-height: 1.6;">簡報內容介紹</a><br></li><ul><li><a href="#WizKMOutline_1587998908246666" ;="" style="font-size: 15px; line-height: 1.6;">啥是API Managment?</a></li><li><a href="#WizKMOutline_1587998908246726" ;="" style="font-size: 15px; line-height: 1.6;">做好API應該要考慮哪些事情?並且API Managment如何做到</a></li><li><a href="#WizKMOutline_1587998908247358" ;="" style="font-size: 15px; line-height: 1.6;">API Management如何協助架構往Micro-Service走</a></li></ul><li><a href="#WizKMOutline_1587998908247883" ;="" style="font-size: 15px; line-height: 1.6;">結語</a><br></li></ul></div>
		</section>
		<!--more-->
		<section><h2 id="WizKMOutline_1587998908245893">什麼是Global Azure?</h2><p>
		Global Azure這個名詞想必非常的陌生，但是他的前身應該大家都知道，也就是<em>Azure Bootcamp</em>。
		</p><div class="bs-callout bs-callout-info">
			還記得上一次以speaker身份是在2018年，在北京舉行的。
			介紹了：<a href="https://www.slideshare.net/alantsai2007/2018-beijing-azure-bootcampazure-migration">投影片</a>、<a href="https://www.youtube.com/watch?v=otWIa0pzzss">影片</a>。
		</div><p>
		這一次統一都是在23~25號之間舉行，並且因為疫情的關係感覺全部都轉換成為線上的活動了。
		</p><p>
		詳細可以看看：<a href="https://globalazure.net/">https://globalazure.net/</a></p></section><section><h2 id="WizKMOutline_1587998908246612">活動當天</h2><p>
		這次因為疫情的關係，所以，活動本身也是線上，不過有開放少數名額能夠來現場一起共襄盛舉。
		</p><p>
		活動頁面：<a href="https://azuretw.dev/events/1">【Taiwan】Global Azure 線上版</a></p><p>
		當天其實是直播，而地點是在：<em>集思北科大會議中心 - 202 噶瑪廳</em>，進入建築物可以看到還有展示牌：
		</p><figure><img class="img-responsive" src="/posts/2020/04/2020-04-27-review-event-2020-global-azure-api-management-helps-create-open-api-and-towards-micro-service-architecture/51d62758-ed3c-4faf-a18c-56d4cfda6137.jpg" border="0" alt=""><br><figcaption>Global Azure 展廳</figcaption></figure><p></p><p>
		工作人員其實很辛苦，在08:00就來設定設備以及機器，這次因為還有小部分簡報還沒做完，所以就沒有提早來幫忙準備環境：
		</p><figure><img class="img-responsive" src="/posts/2020/04/2020-04-27-review-event-2020-global-azure-api-management-helps-create-open-api-and-towards-micro-service-architecture/e6203736-02f4-4ecb-96ee-d9e40859900f.jpg" border="0" alt=""><br><figcaption>辛苦的各位工作人員</figcaption></figure><p></p><p>
		再來就是測試設備啦，還要巴結一下那天的導播 - 祈求有鏡頭XD
		</p><figure><img class="img-responsive" src="/posts/2020/04/2020-04-27-review-event-2020-global-azure-api-management-helps-create-open-api-and-towards-micro-service-architecture/07f4e767-1031-42c9-81b4-6a17e2500c88.jpg" border="0" alt=""><br><figcaption>測試連線</figcaption></figure><p></p><p>
		有點可惜，後來沒有拍到實際開始活動之後的照片，不過在場地內其實工作人員+來參與的學員大約也有10~20人。
		</p></section><section><h2 id="WizKMOutline_1587998908246695">簡報內容介紹</h2><p>
		好啦，接下來簡單介紹一下這一次介紹的內容。
		</p><p>
		這一次我個人選擇的主題是：<em>Azure API Management - 協助邁向Open API及Micro Service架構的好用服務</em></p><p>
		<iframe src="//www.slideshare.net/slideshow/embed_code/key/uVbwM9SCLeVLpr" width="595" height="485" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" style="border:1px solid #CCC; border-width:1px; margin-bottom:5px; max-width: 100%;" allowfullscreen> </iframe> <div style="margin-bottom:5px"> <strong> <a href="//www.slideshare.net/alantsai2007/20200425-globalazureazure-api-managementopen-apimicro-service" title="20200425 GlobalAzure-Azure API Management-協助邁向Open API及Micro Service架構的好用服務" target="_blank">20200425 GlobalAzure-Azure API Management-協助邁向Open API及Micro Service架構的好用服務</a> </strong> from <strong><a href="https://www.slideshare.net/alantsai2007" target="_blank">Alan Tsai</a></strong> </div>
		</p><p>
		詳細可以參考投影片，不過基本上就是介紹了：
		</p><ol><li>啥是API Managment?</li><li>做好API應該要考慮哪些事情?並且API Managment如何做到</li><li>API Management如何協助架構往Micro-Service走</li></ol><section><h3 id="WizKMOutline_1587998908246666">啥是API Managment?</h3><p>
		API Management這個服務其實是可以想成 Azure上面的一個 Reverse Proxy 的 PaaS 服務，但是這個服務除了傳統意義上面的Reverse Proxy做得到的事情之外，還能夠幫助我們做到很多其他管理層面的事情。
		</p><p>
		這個服務感覺很少人介紹到，但是，用的好的話能夠減少掉我們非常多的開發成本，讓開發者只要專注在開發邏輯的部分，而不用特別去開發管理的功能。
		</p><p>
		API Management本身不協助我們Host API (那個是App Service的工作)，但是可以讓我們用邏輯層的概念保護我們實際的API來達到一些管理的需求。
		</p><figure><img class="img-responsive" src="/posts/2020/04/2020-04-27-review-event-2020-global-azure-api-management-helps-create-open-api-and-towards-micro-service-architecture/9d1edee0-b790-4388-be10-7990a68d0b1b.jpg" border="0" alt=""><br><figcaption>總共3個大塊：Developer Portal、Gateway以及Publish用的Azure Portal做設定。</figcaption></figure></section><section><h3 id="WizKMOutline_1587998908246726">做好API應該要考慮哪些事情?並且API Managment如何做到</h3><p>
			其實要思考到Developer(使用者 - 會用來使用API的人)，以及Provider(提供者)的不同需求。
			</p><p>
			例如，作為Provider可能會希望可以用API來賣錢，這個時候怎麼控制那些API能夠用多少量就變得很重要。
			</p><p>
			反過來說，Developer就會需要知道自己用了多少，並且能夠管理自己的訂閱了什麼。
			</p><p>
			如果白話一點說就是：
			</p><figure><img class="img-responsive" src="/posts/2020/04/2020-04-27-review-event-2020-global-azure-api-management-helps-create-open-api-and-towards-micro-service-architecture/60b94671-c85c-4a98-9261-14e1deb98845.jpg" border="0" alt=""><br><figcaption>做好可以提供使用的API不是只有寫如何使用這個API而已</figcaption></figure><p></p></section><section><h3 id="WizKMOutline_1587998908247358">API Management如何協助架構往Micro-Service走</h3><p>
			一開始一定是以Monolithic的架構開發最快，因為debug成本最低。
			</p><p>
			但是，到了一定程度之後，會想要開始拆，因為這樣維護比較方便。
			</p><p>
			這個時候怎麼拆不影響現行服務就變成非常重要，所以用API Managment做邏輯上切割就變得非常方便。
			</p><figure><img class="img-responsive" src="/posts/2020/04/2020-04-27-review-event-2020-global-azure-api-management-helps-create-open-api-and-towards-micro-service-architecture/37d7c9c4-6815-4c07-abb3-33084046efc5.jpg" border="0" alt=""><br><figcaption>可以做A/B Testing，確認最後拆出來的版本沒有問題</figcaption></figure><p></p><p>
			其實滿認同Martin Fowler說的，一開始就走Micro-Service其實風險很高，因為一開始根本不知道產品會怎麼走。
			</p><p>
			但是從Monolithic開始，後面在拆解反而可能更加容易。
			</p><figure><img class="img-responsive" src="/posts/2020/04/2020-04-27-review-event-2020-global-azure-api-management-helps-create-open-api-and-towards-micro-service-architecture/ea994979-1c52-47f9-9144-93f4ebc54cbe.jpg" border="0" alt=""><br><figcaption>Martin Fowler介紹這件事</figcaption></figure></section></section><section><h2 id="WizKMOutline_1587998908247883">結語</h2><p>
		API Managment感覺起來也是一個很方便的PaaS服務，介紹完了之後，有3個學員和我互動。
		</p><p>
		有1個線上有提到問題，1個線下有問我問題，以及1個線下和我分享他覺得有管理真的很方便。
		</p><p>
		有機會的話在更詳細的和大家介紹每一個功能。(有興趣或者有其他做法歡迎留言交流哦)
		</p></section>