Title: "[微軟證照][02]微軟有那些證照可以考，以及開發者適合那些"
Published: 2020-04-28 18:00
Modified: 2020-04-28 18:00
Image: "/posts/2020/04/2020-04-28-microsoft-certification-02-what-certification-available-for-developer-and-difference-between-exam-and-certification/ccd82742-3ab7-4ca9-b2a5-141b621608e3.png"
Tags: ["「證照」", "azure"]
Series: ["「證照」"]
PostDescription: "上一篇看完了為什麼可能想要考證之後。如果也想要準備考試的話，那麼下一個問題就是：到底可以考一些什麼？這篇來看看考試和證照的差異，以及證照目前有那些可以選"
---
<section><figure><img class="img-responsive" src="/posts/2020/04/2020-04-28-microsoft-certification-02-what-certification-available-for-developer-and-difference-between-exam-and-certification/ccd82742-3ab7-4ca9-b2a5-141b621608e3.png" border="0" alt=""><br><figcaption>封面</figcaption></figure><p>
		在上一篇(<a href="/posts/2020/02/microsoft-certification-01-should-i-get-certified-index-page-of-series-post">[01]該不該考證照？要注意什麼？MCP是什麼？MCID是什麼？這個系列的索引文章</a>)介紹了為什麼可能想要考證照了之後，接下來的下一個問題就是：<em>那我可以考什麼？</em></p><p>
		在這一篇將會介紹一下微軟證照裡面，針對Developer的有那些，以及可以考慮往那一邊做準備。
		</p></section>
		<section>
<a id="KMContentPageTopID" name="KMContentPageTopID"></a><div id="divKMOutline" style="border-style: groove none; margin: 10px 0px;"><ul style="margin:0px 0px 0px 20px"><li><a href="#WizKMOutline_1588083452600716" ;="" style="font-size: 15px; line-height: 1.6;">考試以及證照的差異，以及如何查到資料</a><br></li><li><a href="#WizKMOutline_1588083452601740" ;="" style="font-size: 15px; line-height: 1.6;">MC開頭的證照</a><br></li><li><a href="#WizKMOutline_1588083452601452" ;="" style="font-size: 15px; line-height: 1.6;">Role Base的證照</a><br></li><li><a href="#WizKMOutline_1588083452601667" ;="" style="font-size: 15px; line-height: 1.6;">結語</a><br></li></ul></div>
		</section>
		<!--more-->
		<section><h2 id="WizKMOutline_1588083452600716">考試以及證照的差異，以及如何查到資料</h2><p>
		要介紹證照之前，需要了解幾個名詞：
		</p><dl><dt>
				Certification (證照)
			</dt><dd><p>
				經過了考試之後，微軟認證符合取得資格就會拿到證照。
				</p><p>
				比較高級的證照一般都要考2門試，並且一般來說高階的證照都會考到初中階需要考的試。
				</p></dd><dt>
				Exam (考試)
			</dt><dd>
				基本上要考過試才有辦法拿到證照。MC開頭的證照，大部分都是可以從4~5門試挑選2~3門來考就可以拿到證照。
			</dd></dl><p></p><p>
		每一門證照需要考什麼試，或者每一個試會組成什麼證照可以在官網這邊看到：
		<a href="https://www.microsoft.com/en-us/learning/browse-all-certifications.aspx">https://www.microsoft.com/en-us/learning/browse-all-certifications.aspx</a></p><div class="bs-callout bs-callout-info"><p>
			建議查看證照訊息都用英文，不要用中文，因為有時候因為翻譯的關係資訊是錯的。
			</p><p>
			例如說AZ-103最近應該是2020/08/31才應該retired，但是中文網站說2020/06/30 retired。
			</p></div><div class="bs-callout bs-callout-warning">
			一般來說，會改版的都是考試，而不是證照。所以，舉例來說，AZ-103和AZ-104考不同的內容，但是最後都是拿到一樣的證照：Microsoft Certified: Azure Administrator Associate
		</div></section><section><h2 id="WizKMOutline_1588083452601740">MC開頭的證照</h2><p>
		傳統來說，微軟的證照都是以MC (Microsoft Cerified) 開頭。
		</p><figure><img class="img-responsive" src="/posts/2020/04/2020-04-28-microsoft-certification-02-what-certification-available-for-developer-and-difference-between-exam-and-certification/9bef15ce-d8b8-47a6-9e72-d64d39baf4fd.jpg" border="0" alt=""><br><figcaption>範例證照的樣子</figcaption></figure><p></p><div class="bs-callout bs-callout-info">
			一般來說後面的證照也是以MC開頭，但是更習慣會用這個來區分Role Based以及舊型。
		</div><p>
		其中大約有以下幾個級別：
		</p><ul><li>MCSA (Microsoft Certified Solution Associate) - 偏初中級的證照</li><li>MCSD (Microsoft Certified Solution Developt) - 偏高級的開發證照</li><li>MCSE (Microsoft Certified Solution Expert) - 偏高級的MIS證照</li></ul> 
		在依照考取的科目不同，會有不同的名詞在等級的後面。例如說：<em>MCSA: Web Applications</em>屬於偏web開發，而<em>MCSA: Universal Windows Platform</em>則屬於偏走Windows App的開發者會考取。
		<p></p><p>
		以開發者來說，會考取的一般來說會是：<em>MCSD：App Builder</em></p><p>
		如果以Azure雲端來說，<em>以前</em>會考取的一般來說會是：<em>MCSE: Cloud Platform and Infrastructure</em>或者後面出現的：<em>MCSE: Core Infrastructure</em></p><p>
		有考過以前這種類型的證照，會知道其實它一張證照可以考的試很多，一般來說都是5門挑2門考完就有了。
		</p><p>
		所以可以代表Azure的MCSE來說，可能您只是focus在開發相關，但是您拿到證照頭銜和考Infra的人一樣，看起來不容易識別差異性。
		</p><p>
		因為這樣，所以後面新型的證照全部是以<em>角色</em>為出發點下去設計。
		</p><div class="bs-callout bs-callout-warning">
			題外話，MC開頭的基本上要被淘汰了，全部要改成用Role Base的證照 - 確定retire時間為2021/01
			<figure><img class="img-responsive" src="/posts/2020/04/2020-04-28-microsoft-certification-02-what-certification-available-for-developer-and-difference-between-exam-and-certification/c26a3918-1be6-4d1e-8c19-0384ebb6cdce.jpg" border="0" alt=""><br><figcaption>MC建議移轉到Role Base證照:<a href="https://query.prod.cms.rt.microsoft.com/cms/api/am/binary/RWtQJJ">https://query.prod.cms.rt.microsoft.com/cms/api/am/binary/RWtQJJ</a></figcaption></figure><p>
			不過說實話，個人覺得MCSD: App Builder和Azure Developer Associate在關注的地方還是不太一樣。
			</p></div></section><section><h2 id="WizKMOutline_1588083452601452">Role Base的證照</h2><p>
		Role Base的證照是這幾年開始出現的，基本概念非常的簡單，就是證照是以<em>某個角色或某個職稱</em>的人員下去設計的證照。
		</p><p></p><figure><img class="img-responsive" src="/posts/2020/04/2020-04-28-microsoft-certification-02-what-certification-available-for-developer-and-difference-between-exam-and-certification/49f3df66-1455-42cc-a9be-4cb8a4f4671a.jpg" border="0" alt=""><br><figcaption>範例Role Base的證照</figcaption></figure><p></p><p>
		相較於傳統MC開頭的來說，考試的內容相較會比較聚焦，而且看到證照就大約知道是哪方面。
		</p><p>
		以方向來說，總共有分幾種方向：
		</p><dl><dt>
				Azure以及特殊領域
			</dt><dd>
				這邊又有區分 Apps&amp;Infra、Data&amp;AI以及特殊領域(例如SAP或者IoT相關)項。常見的考試代碼有：
				<ol><li>App&amp;Infra以及特殊領域：都是AZ開頭</li><li>Data&amp;AI：都是DP或者AI開頭</li></ol></dd><dt>
				Modern Workspace
			</dt><dd>
				都是偏Microsoft/Office 365。考試代碼都是：MD或者MS開頭。
			</dd><dt>
				Business Application
			</dt><dd>
				偏Dynamic 365或者Power Apps相關。考試代碼都是：MB或者PL開頭。
			</dd></dl><p></p><p>
		證照等級又會區分三個部分：
		</p><dl><dt>
			Fundamental
		</dt><dd>
			入門：一般來說不考也可以。
		</dd><dt>
			Associate
		</dt><dd>
			中階：一般可以從這邊開始。
		</dd><dt>
			Expert
		</dt><dd>
			高階：最高等級的證照。
		</dd></dl><p></p> 
		詳細的拆解可以參考這份：
		<figure><img class="img-responsive" src="/posts/2020/04/2020-04-28-microsoft-certification-02-what-certification-available-for-developer-and-difference-between-exam-and-certification/b5bbedf6-524d-4817-94be-0a7f9ab2ad29.jpg" border="0" alt=""><br><figcaption>Role Base證照方向以及等級：<a href="https://query.prod.cms.rt.microsoft.com/cms/api/am/binary/RWtQJJ">https://query.prod.cms.rt.microsoft.com/cms/api/am/binary/RWtQJJ</a></figcaption></figure></section><section><h2 id="WizKMOutline_1588083452601667">結語</h2><p>
		希望透過這篇，對於Exam以及Certification的差異有更清楚的了解。
		</p><p>
		那對於Role Base以及以前比較舊型的證照也有更清楚的了解。
		</p><p>
		基本上，最新消息都是看對應的證照或者對應的考試來取得最新的消息。
		</p><p>
		了解了可以考什麼Exam來取得什麼Certification之後，下一篇來實際看看，要怎麼註冊一門考試。
		</p></section>