Title: "[Azure DevOps][Azure Test Plan] 01 測試有什麽難？爲什麽需要Azure Test Plan"
Published: 2019-10-17 21:00
Modified: 2019-10-17 21:00
Image: "/posts/2019/11/2019-11-17-video-tutorial-azure-devops-test-plan-01-why-is-plan-manual-test-hard-how-can-azure-test-plan-help/cover.png"
Tags: ["azure","「教學影片」","「Azure DevOps」", "test"]
Series: ["「教學影片」","「Azure DevOps」"]
PostDescription: "測試都是保證程式碼品質的一個最好的方式。假設，今天公司要導入手動測試 (Manual Test) 遇到的第一個問題就是，我要怎麽計劃這些測試？並且我要怎麽樣知道每一個人的執行狀況？Azure Test Plan 是 Azure DevOps的其中一個專門用來做這件事情的服務。這篇先瞭解測試有什麽困難點，以及Azure Test Plan的一些關鍵名詞。"
---
<section>
<p>
測試都是保證程式碼品質的一個最好的方式
</p>
<p>
假設，今天公司要導入手動測試 (Manual Test) 遇到的第一個問題就是，我要怎麽計劃這些測試？並且我要怎麽樣知道每一個人的執行狀況？
</p>
<p>
Azure Test Plan 是 Azure DevOps的其中一個專門用來做這件事情的服務
這篇先瞭解測試有什麽困難點，以及Azure Test Plan的一些關鍵名詞。
</p>
</section>
<section>
<div class="hidden-xs">
<iframe width="560" height="315" src="https://www.youtube.com/embed/GhqTIzDqV5A" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>

<div class="visible-xs">
<iframe width="460" height="315" src="https://www.youtube.com/embed/GhqTIzDqV5A" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
</section>