Title: "[Azure DevOps][Azure Test Plan] 03 執行測試以及查看結果"
Published: 2019-11-22 21:00
Modified: 2019-11-22 21:00
Image: "/posts/2019/11/2019-11-22-video-tutorial-azure-devops-test-plan-03-how-to-execute-test-according-to-test-plan/cover.png"
Tags: ["azure","「教學影片」","「Azure DevOps」", "test"]
Series: ["「教學影片」","「Azure DevOps」"]
PostDescription: "在上一篇介紹完了如何建立出Test Plan以及建立出Test Case之後。接下來要做的事情就是依照計劃執行測試，而測試的結果也非常重要。因此，這篇介紹如何依照計劃執行測試，並且看到執行的内容是什麽"
---
<section>
<p>
在上一篇介紹完了如何建立出Test Plan以及建立出Test Case之後
</p>
<p>
接下來要做的事情就是依照計劃執行測試，而測試的結果也非常重要
</p>
<p>
因此，這篇介紹如何依照計劃執行測試，並且看到執行的内容是什麽
</p>
</section>
<section>
<div class="hidden-xs">
<iframe width="560" height="315" src="https://www.youtube.com/embed/injEppB-9No" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>

<div class="visible-xs">
<iframe width="460" height="315" src="https://www.youtube.com/embed/injEppB-9No" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
</section>