Title: "[Azure DevOps][Azure Test Plan] 02 建立Test Plan以及Test Case"
Published: 2019-11-18 21:00
Modified: 2019-11-18 21:00
Image: "/posts/2019/11/2019-11-18-video-tutorial-azure-devops-test-plan-02-how-to-create-test-plan-and-test-case/cover.png"
Tags: ["azure","「教學影片」","「Azure DevOps」", "test"]
Series: ["「教學影片」","「Azure DevOps」"]
PostDescription: "在上一篇瞭解了測試有什麽困難，以及Azure Test Plan的一些關鍵字介紹。這一篇來實際看一下如何建立出Test Plan以及Test Case"
---
<section>
<p>
在上一篇瞭解了測試有什麽困難，以及Azure Test Plan的一些關鍵字介紹
</p>
<p>
這一篇來實際看一下如何建立出Test Plan以及Test Case
</p>
</section>
<section>
<div class="hidden-xs">
<iframe width="560" height="315" src="https://www.youtube.com/embed/O9NypvOXqCk" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>

<div class="visible-xs">
<iframe width="460" height="315" src="https://www.youtube.com/embed/GhqTIzDqV5A" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
</section>