Title: "[活動] 2020 Study4 8 Dev 8月活動 - 架構這件事 - Azure 可以幫助什麼 - 如何選擇使用什麼 Azure 服務"
Published: 2020-08-25 19:11
Modified: 2020-08-25 19:11
Image: "/posts/2020/08/2020-08-25-review-event-stud4-how-azure-can-help-with-architecture-when-to-use-what-services/054cda87-c80e-47c0-9c86-a22735a17cd5.png"
Tags: ["「活動」", "azure"]
Series: ["「活動」"]
PostDescription: "Azure 有超過 600 個以上的服務，最常遇到的問題就是：應該要使用什麼服務呢？程式最基本的組成就是運算和存儲，光運算延伸相關的服務就有超過 10 幾種，該用 VM、App Service、AKS、Azure Function 還是？存儲也一樣，什麼時候該用 Azure SQL Database、Storage、CosmosDB 還是其他資源呢？這節將會介紹當思考上雲的時候應該需要考量的點，以及從那邊出發能夠設計出 Cloud Optimized Application"
---
<section><figure><figcaption><img class="img-responsive" src="/posts/2020/08/2020-08-25-review-event-stud4-how-azure-can-help-with-architecture-when-to-use-what-services/054cda87-c80e-47c0-9c86-a22735a17cd5.png" border="0" alt="00.png" style="font-size: 15px; line-height: 1.6;">Study4Deb 8月活動</figcaption></figure></section><section><p>
		好久沒有參加/舉辦 Study4 的活動了，這次由 Poy 大大邀約想要做一次 Study4 的線上和線下的結合活動。
		</p><p>
		也就是說，有線上直播的同時，也有現場的觀眾。
		</p><p>
		這次有幸能夠擔任其中一個講者，主題是：<em>架構這件事 - Azure 可以幫助什麼</em></p><p>
		這篇就來記錄一下當天的情況。
		</p></section>
		<section>
<a id="KMContentPageTopID" name="KMContentPageTopID"></a><div id="divKMOutline" style="border-style: groove none; margin: 10px 0px;"><ul style="margin:0px 0px 0px 20px"><li><a href="#WizKMOutline_1598361064956491" ;="" style="font-size: 15px; line-height: 1.6;">活動當天</a><br></li><li><a href="#WizKMOutline_1598361064956810" ;="" style="font-size: 15px; line-height: 1.6;">架構這件事 - Azure 可以幫助什麼 - 投影片以及錄影</a><br></li><ul><li><a href="#WizKMOutline_1598361064956574" ;="" style="font-size: 15px; line-height: 1.6;">架構這件事</a></li><li><a href="#WizKMOutline_1598361064956405" ;="" style="font-size: 15px; line-height: 1.6;">Azure 服務介紹</a></li><li><a href="#WizKMOutline_1598361064956636" ;="" style="font-size: 15px; line-height: 1.6;">兩個結合在一起</a></li></ul><li><a href="#WizKMOutline_1598361064956861" ;="" style="font-size: 15px; line-height: 1.6;">如何幽默的玩歪 Azure DevOps - 給適合挑戰各種工具極限的人 - 黃慧兒</a><br></li><li><a href="#WizKMOutline_1598361064956452" ;="" style="font-size: 15px; line-height: 1.6;">後端工程師的修練之路 - Andrew Wu</a><br></li><li><a href="#WizKMOutline_1598361064956285" ;="" style="font-size: 15px; line-height: 1.6;">結語</a><br></li></ul></div>
		</section>
		<!--more-->
		<section><h2 id="WizKMOutline_1598361064956491">活動當天</h2><p>
		活動的詳細議程可以看：<a href="http://study4.tw/Activity/Details/25">http://study4.tw/Activity/Details/25</a></p><p>
		這次主要有三位講者：
		</p><ol><li>架構這件事 - Azure 可以幫助什麼 - Alan Tsai</li><li>如何幽默的玩歪 Azure DevOps - 給適合挑戰各種工具極限的人 - 黃慧兒</li><li>後端工程師的修練之路 - Andrew Wu</li></ol><p></p><p>
		這次的活動是舉辦在 Build School 台北教室，地址是： 台北市大安區忠孝東路三段 96 號 11 樓之1，到達大樓門口就可以做電梯上去
		</p><figure><img class="img-responsive" src="/posts/2020/08/2020-08-25-review-event-stud4-how-azure-can-help-with-architecture-when-to-use-what-services/6baf4a95-eb17-459f-a696-8b4bdc50b101.jpg" border="0" alt="01.jpg" style="font-size: 15px; line-height: 1.6;"><figcaption>大樓門口</figcaption></figure><p>
		一出電梯就可以看到 Build School：
		</p><figure><img class="img-responsive" src="/posts/2020/08/2020-08-25-review-event-stud4-how-azure-can-help-with-architecture-when-to-use-what-services/97cf6c28-e967-47d3-bd13-03be87a0c314.jpg" border="0" alt="03.jpg" style="font-size: 15px; line-height: 1.6;"><figcaption>Build School Logo</figcaption></figure><p></p><p>
		第一件事情當然就是開始調設備，所以開始看到 Poy 從包包裡面拿出設備，然後請 Dann 哥出馬幫忙設定麥克風以及 Mixer，最後把桌椅什麼都排好。
		</p><figure><img class="img-responsive" src="/posts/2020/08/2020-08-25-review-event-stud4-how-azure-can-help-with-architecture-when-to-use-what-services/00d12012-bb2a-4529-afd4-18d936d90fce.jpg" border="0" alt="02.jpg" style="font-size: 15px; line-height: 1.6;"><figcaption>設定環境</figcaption></figure><p>
		Build School 整個活動空間在設計上就可以排不同的組合，很方便。
		</p><p>
		這個時候也有人陸陸續續就開始來報到了，這次我是第一場講師就沒太幫到報到的部分，不過因為疫情的關係都要請大家簽一個聲明書，所以就都比往常報到還要麻煩一些。
		</p><p>
		最後，現場大約有 20 人左右，線上也是差不多 20 ~40 人左右。
		</p></section><section><h2 id="WizKMOutline_1598361064956810">架構這件事 - Azure 可以幫助什麼 - 投影片以及錄影</h2><p>
		時間差不多到了之後，第一場就是我為後面的大大們來暖暖場啦 XD，這次和大家介紹架構和 Azure 這件事。
		</p><figure><img class="img-responsive" src="/posts/2020/08/2020-08-25-review-event-stud4-how-azure-can-help-with-architecture-when-to-use-what-services/db51e794-295b-4593-81ce-3570053d90f6.jpg" border="0" alt="04.jpg" style="font-size: 15px; line-height: 1.6;"><figcaption>又到了萬年不變的自我介紹 XD</figcaption></figure>
		<p>
		投影片：
		</p>
		<iframe src="//www.slideshare.net/slideshow/embed_code/key/1dPyHmegrIibbG" width="595" height="485" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" style="border:1px solid #CCC; border-width:1px; margin-bottom:5px; max-width: 100%;" allowfullscreen> </iframe> <div style="margin-bottom:5px"> <strong> <a href="//www.slideshare.net/alantsai2007/azure-azure" title="架構這件事 - Azure 可以幫助什麼 - 如何選擇使用什麼 Azure 服務" target="_blank">架構這件事 - Azure 可以幫助什麼 - 如何選擇使用什麼 Azure 服務</a> </strong> from <strong><a href="https://www.slideshare.net/alantsai2007" target="_blank">Alan Tsai</a></strong> </div>
		<p>
		錄影：
		<div class="hidden-xs">
<iframe width="560" height="315" src="https://www.youtube.com/embed/bohK8T_itzI" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
<div class="visible-xs">
<iframe width="460" height="315" src="https://www.youtube.com/embed/bohK8T_itzI" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
		</p> 
		<p>
		這次我拆分了三個部分和大家進行介紹：
		</p><ol><li>架構這件事</li><li>Azure 有那些服務以及選擇</li><li>兩個結合在一起</li></ol><p></p><section><h3 id="WizKMOutline_1598361064956574">架構這件事</h3><p>
		架構和服務在我看來就是兩個維度的事情：
		</p><ol><li>架構看的是大的，因此是跨越不同的平台以及語言，講的是整體 application 是怎麼運作。</li><li>服務的話則是細節的部分，今天用的是 Azure，那總要找出 Azure 裡面適合的服務。</li></ol><p></p><p>
		所以，先了解有那些架構，然後了解有那些服務之後，就可以看看怎麼把兩個組合起來，並且可以依照情況來拆解。
		</p><p>
		這次的投影片其實不算少，因為這次沒有 Demo，並且主要 focus 在服務介紹裡面，因此都是用投影片介紹。
		</p><p>
		那架構就簡單介紹了不同的特色，以及常見的幾種 Style，例如 N-Tier、Microservice 等。
		</p><p>
		其中我覺得蠻重要的一個點是，這次其實介紹的只有服務的部分，但是實際上程式碼是怎麼撰寫的也非常重要。
		</p><p>
		所以就算是，服務有提供那個等級，但是程式碼撐不起來也沒有用，所以<em>程式是內功</em>，<em>服務則是外功</em>，兩個合在一起才能夠成為絕世高手。
		</p><figure><img class="img-responsive" src="/posts/2020/08/2020-08-25-review-event-stud4-how-azure-can-help-with-architecture-when-to-use-what-services/8d43698c-e479-4d4e-b546-6b8c2f934916.jpg" border="0" alt=""><br><figcaption>內外合一</figcaption></figure><p>
		反過來說，今天內功練好了，其實用什麼環境都行，今天不用 Azure，想要用自己地端的環境可不可以？只要撐得起來情境當然沒問題。
		</p></section><section><h3 id="WizKMOutline_1598361064956405">Azure 服務介紹</h3><p>
		時間的關係，所以有些很重要的服務也沒介紹到，例如 Message 類型的服務，所以這次只有 Focus 在三個重點：
		</p><ol><li>Compute</li><li>Storage</li><li>Load Balance</li></ol><p></p><p>
			這次算是不錯，有找到好的總結資源，所以其實最後看這個就好了：
			</p><dl><dt>
					Compute 選擇
				</dt><dd><img class="img-responsive" src="/posts/2020/08/2020-08-25-review-event-stud4-how-azure-can-help-with-architecture-when-to-use-what-services/75b68513-5600-4edf-a440-ac97ba97f09c.jpg" border="0" alt=""><br></dd><dt>
					Storage 選擇
				</dt><dd><img class="img-responsive" src="/posts/2020/08/2020-08-25-review-event-stud4-how-azure-can-help-with-architecture-when-to-use-what-services/cdf482ea-e34c-44c6-9cfd-7705c88f9be3.jpg" border="0" alt=""><br><img class="img-responsive" src="/posts/2020/08/2020-08-25-review-event-stud4-how-azure-can-help-with-architecture-when-to-use-what-services/df7d0429-16f5-4265-82af-af27180d7bae.jpg" border="0" alt=""><br></dd><dt>
					Load Balance 選擇
				</dt><dd><img class="img-responsive" src="/posts/2020/08/2020-08-25-review-event-stud4-how-azure-can-help-with-architecture-when-to-use-what-services/dee84eb1-4a96-46be-ae74-253beb0288ef.jpg" border="0" alt=""><br></dd></dl><p></p></section><section><h3 id="WizKMOutline_1598361064956636">兩個結合在一起</h3><p>
			這個就沒什麼好說的，其實就和拼圖一樣的概念，架構是<em>藍圖</em>，服務就是一塊塊的<em>拼圖</em>。
			</p><p>
			只要搞定方向，把東西拼上就沒什麼問題拉。
			</p></section></section><section><h2 id="WizKMOutline_1598361064956861">如何幽默的玩歪 Azure DevOps - 給適合挑戰各種工具極限的人 - 黃慧兒</h2><figure><img class="img-responsive" src="/posts/2020/08/2020-08-25-review-event-stud4-how-azure-can-help-with-architecture-when-to-use-what-services/511dafdb-009b-40f6-a93a-fa1ea9e07c7f.jpg" border="0" alt="07.jpg"><br><figcaption>第二場上場了</figcaption></figure><p>
		相信大家對於 Azure DevOps 應該也不怎麼陌生吧，Azure DevOps 算是把整個 DevOps 環節串起來的最好服務之一。
		</p><p>
		我自己有影片介紹過裡面 Test Plan 那個部分：<a href="https://www.youtube.com/watch?v=GhqTIzDqV5A&amp;list=PL5S9BJ3mvUsLnWrALUjuzTdcVJk3SL7tx">Azure DevOps Test Plan 介紹</a>，
		有些人看了這個部分有在問我其他功能的介紹，由此可知其實滿多人在使用。
		</p><p>
		在這場黃慧兒介紹了一些 Azure DevOps 的基本概念，以及一些 User 遇到的問題的處理方式。
		</p><p>
		那也有提到了 Azure DevOps Extension - 透過寫擴充套件來整合別的服務進去 Azure DevOps - 這塊感覺也滿好玩的，有機會可以來試試看。
		</p></section><section><h3 id="WizKMOutline_1598361064956452">後端工程師的修練之路 - Andrew Wu</h3><p>
		最後一場壓軸就是 Andrew 大大了，來介紹一下他自己的心裡路程。
		</p><figure><img class="img-responsive" src="/posts/2020/08/2020-08-25-review-event-stud4-how-azure-can-help-with-architecture-when-to-use-what-services/c64a33f1-8b66-45f5-83c9-ff641b81a737.jpg" border="0" alt="08.jpg"><br><figcaption>Andrew 大大上場啦</figcaption></figure><p>
		這個其實很適合工作了 1~2 年之後的工程師來聽聽看，因為可以開始鋪路往更厲害的工程師走。
		</p><p>
		到底應該怎麼做才可以和 Andrew 一樣強呢？他用了一個案例，一步一步帶大家走過整個過程，在這個過程中，會發現<em>單個的知識點</em>，最後結合變成連在一起的個人<em>經驗</em>，而這才是有價值的地方。
		</p><p>
		只有單點知識是不夠的，怎麼把他整合變成自己的經驗才是最困難的地方，這個可以透過刻意練習來達到。
		</p><figure><img class="img-responsive" src="/posts/2020/08/2020-08-25-review-event-stud4-how-azure-can-help-with-architecture-when-to-use-what-services/e4fc983e-46e5-47f1-ba07-440ca897828d.png" border="0" alt="09-基礎知識以及刻意練習.png"><br><figcaption>思考的過程</figcaption></figure></section><section><h2 id="WizKMOutline_1598361064956285">結語</h2><p>
		有時間來參加研討會還是很好的一件事情，因為會激發看到和日常生活不一樣的事情。
		</p><p>
		如果沒有不同思想一直激發自己往上，很有可能就每天得過且過的過去，這當然也沒什麼不好以及不對，不過如果想要往更未來走，那麼偶爾充充電，或者聽聽別人怎麼做事會更激勵自己。
		</p><p>
		以上，就是這次的總結啦，有任何問題歡迎隨時討論哦。
		</p></section>