Title: "[Azure DevOps][Azure Test Plan] 04 Test & Feedback 套件介紹-Standalone模式"
Published: 2019-12-31 19:00
Modified: 2019-12-31 19:00
Image: "/posts/2019/12/2019-12-31-video-tutorial-azure-devops-test-plan-04-what-is-test-and-feedback-extension-intro-to-standalone-mode/cover.png"
Tags: ["azure","「教學影片」","「Azure DevOps」", "test"]
Series: ["「教學影片」","「Azure DevOps」"]
PostDescription: "在上一集看到了，當Test Plan建立好了，就可以開始進行測試。但是，每一個step之間怎麽不能夠記錄實際測試的截圖？還有，如果今天要做Exploratory Testing怎麽樣才能夠把每個問題記錄清楚，並且用統一的一種格式呢？這就是 Test & Feedback可以幫忙的地方。這集來看看基本介紹，以及Standalone模式 - 瞭解如何透過他得到統一格式的報告"
---
<section>
<p>
在上一集看到了，當Test Plan建立好了，就可以開始進行測試。
</p>
<p>
但是，每一個step之間怎麽不能夠記錄實際測試的截圖？
還有，如果今天要做Exploratory Testing怎麽樣才能夠把每個問題記錄清楚，並且用統一的一種格式呢？
</p>
<p>
這就是 Test & Feedback可以幫忙的地方。
這集來看看基本介紹，以及Standalone模式 - 瞭解如何透過他得到統一格式的報告
</p>
</section>
<section>
<div class="hidden-xs">
<iframe width="560" height="315" src="https://www.youtube.com/embed/2zyzvosJ21c" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>

<div class="visible-xs">
<iframe width="460" height="315" src="https://www.youtube.com/embed/2zyzvosJ21c" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
</section>