Title: "什麽是 Microsoft Certified Trainer (MCT)？有什麽用？怎麽申請？"
Published: 2019-12-15 21:00
Modified: 2019-12-15 21:00
Image: "/posts/2019/12/2019-12-15-certification-what-is-microsoft-certified-trainer-and-how-to-become-mct/44f8c23c-b56b-4c33-9afc-4aa90c66601c.jpg"
Tags: [「證照」]
Series: ["「證照」"]
PostDescription: "在今年6月份取得 MCT 的身份。有些朋友好奇 MCT 是怎麽取得？取得之後有什麽好處？這篇來一次搞懂 MCT 這個身份"
---
<section><figure><img class="img-responsive" src="/posts/2019/12/2019-12-15-certification-what-is-microsoft-certified-trainer-and-how-to-become-mct/44f8c23c-b56b-4c33-9afc-4aa90c66601c.jpg" border="0" alt="什麽是Microsoft Certified Trainer (MCT)？有什麽用？怎麽申請？.jpg"><br><figcaption>圖片來源：https://pixabay.com/en/despair-alone-being-alone-archetype-513528/</figcaption></figure></section><section><p>
		在今年6月的時候，有申請成爲微軟認證講師，也就是所謂的 Microsoft Certified Trainer (MCT)。
		</p><p>
		申請下來之後，對我目前其實沒有什麽直接的影響，只是多了一個可以讓我在分享的時候，自我介紹多了一個Badge可以放XD。
		</p><p>
		有些朋友看到這個之後，就來問我，到底 MCT 要怎麽申請，以及申請之後有沒有什麽好處？
		</p><p>
		這篇就來和大家介紹一下，什麽是 MCT、怎麽申請、申請下來有什麽好處以及它可以用來做什麽。
		</p></section>
		<section>
<a id="KMContentPageTopID" name="KMContentPageTopID"></a><div id="divKMOutline" style="border-style: groove none; margin: 10px 0px;"><ul style="margin:0px 0px 0px 20px"><li><a href="#WizKMOutline_1576511178645992" ;="" style="font-size: 15px; line-height: 1.6;">什麽是MCT？爲什麽會想要成爲MCT？</a><br></li><li><a href="#WizKMOutline_1576511178645327" ;="" style="font-size: 15px; line-height: 1.6;">成爲MCT有什麽好處？</a><br></li><li><a href="#WizKMOutline_1576511178645260" ;="" style="font-size: 15px; line-height: 1.6;">要申請MCT需要什麽條件？</a><br></li><li><a href="#WizKMOutline_1576511178645154" ;="" style="font-size: 15px; line-height: 1.6;">如何申請MCT</a><br></li><ul style="MARGIN: 0px 0px 0px 30px"><li><a href="#WizKMOutline_1576511178645275" ;="" style="font-size: 15px; line-height: 1.6;">1. 設定Profile</a><br></li><li><a href="#WizKMOutline_1576511178645994" ;="" style="font-size: 15px; line-height: 1.6;">2. 證明符合Requirement</a><br></li><li><a href="#WizKMOutline_1576511178645626" ;="" style="font-size: 15px; line-height: 1.6;">3. 同意Terms</a><br></li><li><a href="#WizKMOutline_1576511178645673" ;="" style="font-size: 15px; line-height: 1.6;">付錢pay</a><br></li></ul><li><a href="#WizKMOutline_1576511178645144" ;="" style="font-size: 15px; line-height: 1.6;">1年到了之後會發生什麽事情？</a><br></li><li><a href="#WizKMOutline_1576511178646631" ;="" style="font-size: 15px; line-height: 1.6;">結語</a><br></li><li><a href="#WizKMOutline_1576511178646676" ;="" style="font-size: 15px; line-height: 1.6;">參考資料</a><br></li></ul></div>
		</section>
		<!--more--><section><h2 id="WizKMOutline_1576511178645992">什麽是 MCT？爲什麽會想要成爲 MCT？</h2><p>
		MCT的全稱上面介紹過了，基本上會想要成爲 MCT 只有一個原因：<em>能夠教官方課程</em>。
		</p><p>
		微軟的每一張證照，其實有對應的官方課程，而要上這個官方課程，只有去<em>官方認證的教育機構</em>才可以上。
		</p><p>
		既然要上課，那麽就要有講師，因此要講哪一門的官方課程需要有兩件事情：
		</p><ol><li>是 MCT </li><li>有資格教那個課程 - 簡單來説只要有考過就會符合</li></ol><p></p><p>
		因此，絕大多數會成爲 MCT 都是和教育訓練機構有配合的講師才會想要申請(可能有些例外，像是我這樣才會覺得 MCT 沒有什麽直接影響，因爲不是因爲認識什麽教育機構有課可以教采取申請)。
		</p></section><section><h2 id="WizKMOutline_1576511178645327">成爲 MCT 有什麽好處？</h2><p>
		除了上面說的，最主要功能是能夠教官方課程之外，成爲了 MCT 有什麽其他好處嗎？
		</p><figure><img class="img-responsive" src="/posts/2019/12/2019-12-15-certification-what-is-microsoft-certified-trainer-and-how-to-become-mct/14a63e7a-6683-4f7e-8fe6-aaa3d293e411.jpg" border="0" alt=""><br><figcaption>MCT的好處：<a href="https://query.prod.cms.rt.microsoft.com/cms/api/am/binary/RE23o0Z">https://query.prod.cms.rt.microsoft.com/cms/api/am/binary/RE23o0Z</a></figcaption></figure><p>
		上圖是官方列出的所有好處，我這邊特別提幾個我覺得比較重要的部分：
		</p><dl><dt>
				MCT Software &amp; Services
			</dt><dd><p>
				這個對我來説最好的地方是每個月有4600元臺幣(150美金)的Azure可以使用。
				</p><div class="bs-callout bs-callout-warning"><p>
					這個地方注意一下，他是透過 <a href="http://my.visualstudio.com">http://my.visualstudio.com</a>啓用，但是有可能帳號沒有綁定正確，所以沒有看到。
					</p><p>
					我透過了微軟大約1~2個禮拜才搞定 - 所以如果當初沒有注意看這個好處就miss掉了。
					</p></div><p>
				其他軟體部分，我不太確定 MCT 有還是沒有，因爲我的帳號有同時間綁定MSDN，所以不知到那些事因爲MSDN有，還是因爲 MCT 才有。
				</p></dd><dt>
				Azure Pass Program
			</dt><dd><p>
				出去教Azure最麻煩的地方是如何提供讓使用者有Azure點數可以嘗試服務。讓他們自己開通試用有些人的信用卡不知道爲什麽又沒過，導致花很多時間在開通。
				</p><p>
				而Azure Pass Program是如果您會去教Azure，可以申請，然後透過這個開通好像可以不用信用卡。
				</p><div class="bs-callout bs-callout-warning">
					這個部分我還沒有真的使用過，所以有可能理解有錯。
				</div></dd><dt>
				Learning Download Center
			</dt><dd><p>
				這個地方可以讓您下載官方課程的一些相關内容 - 例如 ppt - 反過來説也可以用這些教材來準備考試。
				</p><div class="bs-callout bs-callout-warning">
					上面還有Microsoft Lab以及Course Access - 這兩個其實我不知道怎麽用，因爲看起來要登入，但是和微軟帳號又不能用。
				</div></dd><dt>
				Exams
			</dt><dd><p>
				所有的證照考試，自動有5折優惠。所以考證可以省一些錢。
				</p><div class="bs-callout bs-callout-info">
					最近微軟在推Role Base的證照，所以有2.5折優惠。
				</div></dd><dt>
				MCT Central
			</dt><dd>
				有一個提供訊息給 MCT 的管道叫做 MCT Central，所以有些最新消息都會放在上面。
			</dd></dl><p>
		上面列出是我覺得對我自己比較有幫助的地方，但是其他例如有買書的習慣，買書也有折扣。
		</p></section><section><h2 id="WizKMOutline_1576511178645260">要申請 MCT 需要什麽條件？</h2><p>
		假設上面的那些好處大家覺得有感，那麽下一個問題就是，需要什麽條件才能夠申請成爲 MCT？
		</p><p>
		基本上只需要幾個條件：
		</p><ol><li>擁有最新的微軟證照</li><li>可以證明教學能力</li><li>準備好錢</li></ol><dl><dt>
				擁有最新的微軟證照
			</dt><dd><figure><img class="img-responsive" src="/posts/2019/12/2019-12-15-certification-what-is-microsoft-certified-trainer-and-how-to-become-mct/055d6c79-1a6d-4fb1-98c7-c83ee86450ce.png" border="0" alt=""><br><figcaption>可以參考官方的資料：<a href="https://www.microsoft.com/zh-tw/learning/mct-certification.aspx">https://www.microsoft.com/zh-tw/learning/mct-certification.aspx</a></figcaption></figure></dd><dt>
				可以證明教學能力
			</dt><dd>
				有兩個方式可以證明(2則1)：
				<ol><li>
						取得和教學相關的證照
						<figure><img class="img-responsive" src="/posts/2019/12/2019-12-15-certification-what-is-microsoft-certified-trainer-and-how-to-become-mct/392eb782-920b-498a-a8bd-1e7f87a842b9.png" border="0" alt=""><br><figcaption>最新還是參考官方的資料：<a href="https://www.microsoft.com/zh-tw/learning/mct-certification.aspx">https://www.microsoft.com/zh-tw/learning/mct-certification.aspx</a></figcaption></figure></li><li>有推薦人證明有一年的教學經驗</li></ol></dd><dt>
				準備好錢
			</dt><dd>
				MCT 以台灣來説，1年需要1000美金。
			</dd></dl></section><section><h2 id="WizKMOutline_1576511178645154">如何申請 MCT</h2><p>
		上面的條件都符合了之後，並且也想申請的話，那麽可以怎麽申請呢？
		</p><p>
		基本上，申請是透過線上作業：<a href="https://mcp.microsoft.com/Authenticate/MCT/Enrollment#/profile">https://mcp.microsoft.com/Authenticate/MCT/Enrollment#/profile</a></p><p>
		總共有4個頁面：
		</p><ol><li>設定Profile</li><li>證明符合Requirement</li><li>同意Terms</li><li>付錢pay</li></ol><p></p><section><h3 id="WizKMOutline_1576511178645275">1. 設定Profile</h3><p>
			這頁只是設定一些個人的背景資料：
			</p><figure><img class="img-responsive" src="/posts/2019/12/2019-12-15-certification-what-is-microsoft-certified-trainer-and-how-to-become-mct/bb6c9250-9013-470a-b964-437a1ed5e223.png" border="0" alt="01.png"><br><figcaption>設定工作性質，以及打算訓練的對象</figcaption></figure><p></p></section><section><h3 id="WizKMOutline_1576511178645994">2. 證明符合Requirement</h3><p>
			這邊就兩個地方：
			</p><ol><li>要持有新的證照 - 由於會用微軟帳號登入，所以因該會自動驗證通過</li><li>有教學能力 - 要不是選擇某個證照來證明，或者請人幫忙證明</li></ol><p></p><p>
			如果是請人幫忙證明，就會需要填寫他的相關的訊息：
			</p><figure><img class="img-responsive" src="/posts/2019/12/2019-12-15-certification-what-is-microsoft-certified-trainer-and-how-to-become-mct/589f46ff-760d-449e-b86e-5201b58dd127.png" border="0" alt="02.png"><br><img class="img-responsive" src="/posts/2019/12/2019-12-15-certification-what-is-microsoft-certified-trainer-and-how-to-become-mct/f8e18123-f920-4f5a-a7be-5bac24f0cc64.png" border="0" alt="03.png"><br></figure><figure><figcaption>填寫需要請人證明的對方訊息</figcaption></figure><p></p><p>
			對方的mail會收到一封郵件
			</p><figure><img class="img-responsive" src="/posts/2019/12/2019-12-15-certification-what-is-microsoft-certified-trainer-and-how-to-become-mct/aef535a8-824f-422c-b942-ad58e98e83c5.jpg" border="0" alt=""><br><figcaption>郵件裡面的内容</figcaption></figure><p></p><p>
			裡面有個鏈接，點下去會出現填寫的表單
			</p><figure><img class="img-responsive" src="/posts/2019/12/2019-12-15-certification-what-is-microsoft-certified-trainer-and-how-to-become-mct/d2c351e8-1494-4b41-a743-6b8e62b9f2f7.jpg" border="0" alt=""><br><figcaption>填寫的表單</figcaption></figure><p></p></section><section><h3 id="WizKMOutline_1576511178645626">3. 同意Terms</h3><p>
			基本上就是閲讀完之後打勾即可
			</p><figure><img class="img-responsive" src="/posts/2019/12/2019-12-15-certification-what-is-microsoft-certified-trainer-and-how-to-become-mct/e1214d65-b229-4b2a-954a-7b6f9a174d03.png" border="0" alt="05.png"><br><figcaption>同意Terms</figcaption></figure><p></p></section><section><h3 id="WizKMOutline_1576511178645673">付錢pay</h3><p>
			這邊會帶入另外一個網站，接下來只需要準備好卡片刷下去就可以啦。
			</p><figure><img class="img-responsive" src="/posts/2019/12/2019-12-15-certification-what-is-microsoft-certified-trainer-and-how-to-become-mct/642b7571-015f-4b34-a1ae-ccd2cc62c853.png" border="0" alt="06.png"><br><figcaption>付錢</figcaption></figure></section><p>
		到了這邊，剩下就是等微軟通知了。如果通過的話，會一封mail寄送到信箱告知可以如何往下。
		</p></section><section><h2 id="WizKMOutline_1576511178645144">1年到了之後會發生什麽事情？</h2><p>
		MCT 只有1年的有效期，所以如果1年到了會發生什麽事情？
		</p><p>
		要保持 MCT 身份，基本上有兩條路可以走
		</p><dl><dt>
				續約 (Renew)
			</dt><dd><p>
				要續約的話，在 MCT 身份的1年之内，<em>一定要教過至少一門課</em>，並且使用Metrics That Matter得到授課評分
				</p><div class="bs-callout bs-callout-info">
					這塊目前我還沒有經歷過 - 以後有做過在和大家分享
				</div><p>
				除了上面提到的之外，還需要付一個續約費用，目前是<em>800美金</em>。
				</p></dd><dt>
				轉Aluminum
			</dt><dd><p>
				這個基本上保留了考試優惠，以及可以進入 MCT Central得到最新消息之外，其他都沒有。
				</p><div class="bs-callout bs-callout-info">
					所以感覺起來適合想要繼續考證照的人。
				</div><p>
				這個的費用是<em>99美金</em>。
				</p></dd></dl></section><section><h2 id="WizKMOutline_1576511178646631">結語</h2><p>
		以上是整個申請 MCT 的過程以及流程。
		</p><p>
		基本上，我的結論是，如果今天您想要教官方課程的話，那麽可以考慮申請 MCT，但是最好先找好教育訓練機構再來考慮申請。
		</p><p>
		像我比較沒有這些教育訓練機構的關係，也意外申請之後，最大的好處就是分享自我介紹的時候多了一個新的徽章可以show而已XD。
		</p></section><section><h2 id="WizKMOutline_1576511178646676">參考資料</h2><dl><dt>
				官方頁面
			</dt><dd><p>
				基本上這頁寫的滿清楚，只是字比較多，要閲讀一下而已XD
				</p><p><a href="https://www.microsoft.com/zh-tw/learning/mct-certification.aspx">https://www.microsoft.com/zh-tw/learning/mct-certification.aspx</a></p></dd></dl></section>