Title: "[faq]如何故障排除ASP .NET Core網站啟動失敗問題"
Published: 2019-03-19 22:01
Modified: 2019-03-19 22:01
Image: "/posts/2019/03/2019-03-19-faq-how-to-troubleshoot-asp-net-core-startup-problem/57f96b1b-15a8-4e49-92aa-ba759151335a.jpg"
Tags: ["asp-net-core", "net-core", "azure", "faq", "azure-app-service"]
Series: ["「faq」"]
PostDescription: "ASP .NET Core網站部署到正式機器網站起不來怎麽辦？
當出現An error occurred while starting the application到底是什麽error！！！！
這篇將來看看怎麽讓完整的錯誤訊息顯示出來"
---
<section><figure><img class="img-responsive" src="/posts/2019/03/2019-03-19-faq-how-to-troubleshoot-asp-net-core-startup-problem/57f96b1b-15a8-4e49-92aa-ba759151335a.jpg" border="0" alt="[faq]如何故障排除ASP .NET Core網站啟動失敗問題.jpg"><br><figcaption>圖片來源：https://pixabay.com/en/despair-alone-being-alone-archetype-513528/</figcaption></figure></section><section><p>
		辛辛苦苦開發的Asp .Net Core網站做完了，在local測試也沒什麽問題了，接下來肯定是要發佈到正式機器讓世界看看你的傑作。
		</p><p>
		但是，當發佈到Azure Web App上面，卻出現了<code>An error occurred while starting the application</code>，然後其他除了執行環境訊息之外什麽訊息都沒有。
		</p><p>
		這個時候該怎麽辦？我只是想要把網站run起來怎麽那麽困難！！！
		</p><p>
		這篇將介紹如何偵錯這類的問題。
		</p></section>
		<section>
<a id="KMContentPageTopID" name="KMContentPageTopID"></a><div id="divKMOutline" style="border-style: groove none; margin: 10px 0px;"><ul style="margin:0px 0px 0px 20px"><li><a href="#WizKMOutline_1553005376590728" ;="" style="font-size: 15px; line-height: 1.6;">問題描述</a><br></li><li><a href="#WizKMOutline_1553005376590573" ;="" style="font-size: 15px; line-height: 1.6;">解決方式 - TL;DR</a><br></li><li><a href="#WizKMOutline_1553005376591895" ;="" style="font-size: 15px; line-height: 1.6;">重現問題</a><br></li><li><a href="#WizKMOutline_1553005376591187" ;="" style="font-size: 15px; line-height: 1.6;">結語</a><br></li></ul></div>
		</section>
		<!--more-->
		<section style="display: none;">
			<div class="summarySnippet">
				<img class="img-responsive ss-image" src="https://d33wubrfki0l68.cloudfront.net/4d10df89a8b329b4117206a01b15d1234358bb08/1d47e/posts/2019/03/2019-03-19-faq-how-to-troubleshoot-asp-net-core-startup-problem/90f61ac7-8cd8-4934-b7e2-89d4b64406c8.png" border="0" alt="ASP .NET Core 啟動出錯：An error occurred while starting the application">
				<img class="img-responsive ss-image" src="/posts/2019/03/2019-03-19-faq-how-to-troubleshoot-asp-net-core-startup-problem/900d05aa-532b-4b64-b0c1-9875573a90b7.png" border="0" alt="Azure 設定值">
				<img class="img-responsive ss-image" src="/posts/2019/03/2019-03-19-faq-how-to-troubleshoot-asp-net-core-startup-problem/51730dcc-6570-4afc-abbd-174b8f241b2d.png" border="0" alt="看到完整的 ASP .NET Core 啟動錯誤">
				<h3>如何故障排除 ASP.NET Core 網站啟動失敗的訊息</h3>
				<div class="ss-content">
				<p>
					ASP .NET Core 部署上去之後出現錯誤但是看不到訊息怎麼處理？只顯示：<code>An error occurred while starting the application</code>
					
				</p>
				<p>
					可以嘗試三個方法：
					<ol><li>切換環境為開發環境：設定<code>ASPNETCORE_ENVIRONMENT</code>為<code>Development</code></li><li>開啓詳細錯誤訊息：設定<code>ASPNETCORE_DETAILEDERRORS</code>為<code>true</code></li><li>
				如果網站是host在IIS的話，那麽可以在<code>web.config</code>加入
<pre><code class="language-xml">
&lt;system.webServer&gt;
  &lt;handlers&gt;
    &lt;add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModule" resourceType="Unspecified" /&gt;
  &lt;/handlers&gt;
  &lt;aspNetCore processPath="dotnet" arguments=".\codes.dll"
              stdoutLogEnabled="true" stdoutLogFile=".\logs\stdoutput" /&gt;
&lt;/system.webServer&gt;
</code></pre><div class="bs-callout bs-callout-warning">
	特別注意，<code>stoutLogFile</code>的資料夾要<em>存在</em>，不存在的話不會有任何log記錄下來。再來是要記得找到問題之後這個要拿掉。
</div></li></ol>
				</p>
				</div>
				<h4 class="ss-version">適用於：ASP .NET Core</h4>
				<meta name = "ss-Language" content = "Chinese">
				<meta name="ss-queries" content = "ASP .NET COre 啟動失敗的實際錯誤訊息,如何看 ASP .NET Core 錯誤訊息,如何取得啟動失敗的詳細錯誤訊息">
			</div>
		</section>
		<section><h2 id="WizKMOutline_1553005376590728">問題描述</h2><p>
		在實際看到解法之前，先來看看看到的問題長什麽樣子。
		</p><p>
		當把網站實際執行的時候，看到<em>An error occurred while starting the application</em>就是這篇想要解決的問題。
		</p><figure><img class="img-responsive" src="/posts/2019/03/2019-03-19-faq-how-to-troubleshoot-asp-net-core-startup-problem/90f61ac7-8cd8-4934-b7e2-89d4b64406c8.png" border="0" alt="ASP .NET Core 啟動出錯：An error occurred while starting the application"><br><figcaption>啟動錯誤的截圖</figcaption></figure></section><section><h2 id="WizKMOutline_1553005376590573">解決方式 - TL;DR</h2><p>
		這類問題最大的麻煩是：<strong>看不到實際的問題是什麽</strong>。
		</p><p>
		因此解決方式也很簡單，只需要讓實際的錯誤訊息顯示出來即可。
		</p><p>
		但是可以怎麽做呢？有幾個做法：
		</p><ol><li>切換環境為開發環境：設定<code>ASPNETCORE_ENVIRONMENT</code>為<code>Development</code></li><li>開啓詳細錯誤訊息：設定<code>ASPNETCORE_DETAILEDERRORS</code>為<code>true</code></li><li>
				如果網站是host在IIS的話，那麽可以在<code>web.config</code>加入
<pre><code class="language-xml">
&lt;system.webServer&gt;
  &lt;handlers&gt;
    &lt;add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModule" resourceType="Unspecified" /&gt;
  &lt;/handlers&gt;
  &lt;aspNetCore processPath="dotnet" arguments=".\codes.dll"
              stdoutLogEnabled="true" stdoutLogFile=".\logs\stdoutput" /&gt;
&lt;/system.webServer&gt;
</code></pre><div class="bs-callout bs-callout-warning">
	特別注意，<code>stoutLogFile</code>的資料夾要<em>存在</em>，不存在的話不會有任何log記錄下來。再來是要記得找到問題之後這個要拿掉。
</div></li></ol><p></p><p>
		第一個做法，不太建議，原因是當透過切換環境，很有可能有其他的副作用。舉例來説，如果有<code>appsetting.development.json</code>，那麽很有可能因爲環境切換導致設定也被切換，造成問題無法重現。
		</p><p>
		因此比較建議的方式是用第二種，透過把顯示錯誤訊息打開來看到。
		</p><p>
		第三種除非沒有任何解決方案，要不然太麻煩。
		</p><p>
		如果今天是架設在Azure，然後想要透過方法二，那麽可以透過在<code>Application Settings</code>裡面做設定：
		</p><figure><img class="img-responsive" src="/posts/2019/03/2019-03-19-faq-how-to-troubleshoot-asp-net-core-startup-problem/900d05aa-532b-4b64-b0c1-9875573a90b7.png" border="0" alt="Azure 設定值"><br><figcaption>透過Application Setting</figcaption></figure><div class="bs-callout bs-callout-info">
			記得儲存完要重啓，有時候儲存完就有效果，但是最肯定就是自己手動重啓。
		</div><p></p><p>
		如果今天是架設在其他地方，那麽只需要可以設定這個key和value到環境變數即可。
		</p><p>
		都設定完成了之後，在重新瀏覽網站將會看到完整的錯誤訊息，看到訊息應該就會修理了
		</p><figure><img class="img-responsive" src="/posts/2019/03/2019-03-19-faq-how-to-troubleshoot-asp-net-core-startup-problem/51730dcc-6570-4afc-abbd-174b8f241b2d.png" border="0" alt="看到完整的 ASP .NET Core 啟動錯誤"><br><figcaption>詳細錯誤訊息樣子</figcaption></figure><p></p><p>
		如果想要模擬重現這個問題，可以往下看
		</p></section><section><h2 id="WizKMOutline_1553005376591895">重現問題</h2><p>
		這邊可以非常簡單模擬出這個問題，只需要：
		</p><dl><dt>
				建立一個Asp .Net Core的web專案
			</dt><dd><p>
				Visual Studio建立一個Asp .NET Core的web 專案，我這邊選擇了一個Web API的範本
				</p><figure><img class="img-responsive" src="/posts/2019/03/2019-03-19-faq-how-to-troubleshoot-asp-net-core-startup-problem/9c2b4ada-6580-4243-95be-d60e48b70824.png" border="0" alt="devenv_2019-03-19_21-47-17.png"><br><figcaption>Web API範本的專案</figcaption></figure></dd><dt>
				在<code>Startup.cs</code>裡面丟一個exception
			</dt><dd><p>
				這邊選擇在最下面的<code>Configure</code>方法裡面，在結束前加上一個 <code>throw new Exception()</code></p><figure><img class="img-responsive" src="/posts/2019/03/2019-03-19-faq-how-to-troubleshoot-asp-net-core-startup-problem/3ccc9504-9f0c-440c-9461-455159544a7a.png" border="0" alt=""><br><figcaption>加入故意炸掉的邏輯</figcaption></figure></dd></dl></section><section><h2 id="WizKMOutline_1553005376591187">結語</h2><p>
		當網站啟動的時候出現錯誤不用擔心，只需要透過設定環境變數<code>ASPNETCORE_DETAILEDERRORS</code>為<code>true</code>就可以了。
		</p><p>
		當然，最好還是程式裡面有完整的log機制，最好只要透過查log記錄就可以找到問題。
		</p></section>