Title: "[活動]Insider Dev Tour 2019 Taipei - 幕後花絮"
Published: 2019-06-29 19:11
Modified: 2019-06-29 19:11
Image: "/posts/2019/06/2019-06-29-review-event-insider-devtour-2019-taipei/9b751472-cf31-40df-95db-7105deb52bdb.jpg"
Tags: ["「活動」", "net-core"]
Series: ["「活動」"]
PostDescription: "上禮拜的這個時候剛參加完Insider DevTour 2019 臺北場。相信沒機會參加的一定很好奇那天發生了什麽。好吧，這篇其實不會介紹太多技術的東西，主要是那天發生的事情以及一些投影片(沒有全部)給大家參考。來看看這天都做了什麽"
---
<section><figure><img class="img-responsive" src="/posts/2019/06/2019-06-29-review-event-insider-devtour-2019-taipei/9b751472-cf31-40df-95db-7105deb52bdb.jpg" border="0" alt="01.jpg"><br><figcaption>Insider DevTour 2019 Taipei</figcaption></figure><p>
		不知不覺一個禮拜就過去了，還記得上個禮拜 (06/22) 的時候是今年Insider Dev Tour在台北的場次。
		</p><p>
		很榮幸，這一次除了作爲講師有上臺25分鐘介紹.NET Core 3在桌面應用程式(Desktop Applicaton)帶來的一些好處之外，也是現場的工作人員。相信有參加的人應該都還記得幫各位發吊牌的就是我啦。
		</p><p>
		言歸正傳，這一篇主要想總結一下那天的情況 - 由於大部分時間都是工作人員，因此應該沒有太多技術的部分 算是為這一次活動做個記錄，併且留下一些參考資料給有興趣的朋友去嘗試。
		</p><div class="bs-callout bs-callout-info"><h4 kmcontenthide="1">相關文章</h4><ol><li><a href="/posts/2018/06/review-beijing-insider-dev-tour-event">[活動]20180628北京Insider Dev Tour的擺攤記錄</a><br></li></ol></div></section>
		<section>
<a id="KMContentPageTopID" name="KMContentPageTopID"></a><div id="divKMOutline" style="border-style: groove none; margin: 10px 0px;"><ul style="margin:0px 0px 0px 20px"><li><a href="#WizKMOutline_1561807991284233" ;="" style="font-size: 15px; line-height: 1.6;">準備工作</a><br></li><li><a href="#WizKMOutline_1561807991284795" ;="" style="font-size: 15px; line-height: 1.6;">Keynote以及早上的場次</a><br></li><li><a href="#WizKMOutline_1561807991284100" ;="" style="font-size: 15px; line-height: 1.6;">午餐時間到了</a><br></li><li><a href="#WizKMOutline_1561807991284762" ;="" style="font-size: 15px; line-height: 1.6;">下午場次</a><br></li><li><a href="#WizKMOutline_1561807991284196" ;="" style="font-size: 15px; line-height: 1.6;">下午茶</a><br></li><li><a href="#WizKMOutline_1561807991285272" ;="" style="font-size: 15px; line-height: 1.6;">下下午場次</a><br></li><li><a href="#WizKMOutline_1561807991285856" ;="" style="font-size: 15px; line-height: 1.6;">結語</a><br></li><li><a href="#WizKMOutline_1561807991285509" ;="" style="font-size: 15px; line-height: 1.6;">參考資料</a><br></li></ul></div>
		</section>
		<!--more-->
		<section><h2 id="WizKMOutline_1561807991284233">準備工作</h2><div class="bs-callout bs-callout-info"><h4 id="WizKMOutline_1561807988919156" kmcontenthide="1">活動基本資訊</h4><ol><li>日期時間：2019/06/22 09:00~17:00</li><li>地點：北科大</li><li>活動鏈接：<a href="https://developer.microsoft.com/en-us/windows/campaigns/tw-taipei">https://developer.microsoft.com/en-us/windows/campaigns/tw-taipei</a></li></ol></div><p>
		這一次活動09:00點開始，但是作爲工作人員肯定要提早到達，因此作爲工作人員實際的集合時間是 07:20 在北科大門口。
		</p><p>
		首先安裝好5個展示標志，讓各位大大們知道場地在那邊：
		</p><figure><img class="img-responsive" src="/posts/2019/06/2019-06-29-review-event-insider-devtour-2019-taipei/8f509e02-c925-484c-b3d4-79b7e8d2e1bc.jpg" border="0" alt=""><br><figcaption>展示標志</figcaption></figure><p></p><p>
		搬桌子，準備好各位大大們的早餐 - 麥當勞 豬/鷄漢堡 + 紅茶/可樂：
		</p><figure><img class="img-responsive" src="/posts/2019/06/2019-06-29-review-event-insider-devtour-2019-taipei/177f8cd4-3e42-4a61-8276-a8083c4bccf1.jpg" border="0" alt="03.jpg"><br><figcaption>準備好早餐</figcaption></figure><p></p><p>
		接下來就排好大家最喜歡的貼紙，然後請兩位大大幫忙，開始安排各位學員們可以報到 (這時候小弟我協助把吊牌給各位學員)：
		</p><figure><img class="img-responsive" src="/posts/2019/06/2019-06-29-review-event-insider-devtour-2019-taipei/cc591fa6-3552-4dd3-a6d1-9e38ddc7d72d.jpg" border="0" alt=""><br><figcaption>兩位辛苦的大大</figcaption></figure><p></p><p>
		忙了一段時間，keynote都開始了工作人員才開始吃早餐
		</p><figure><img class="img-responsive" src="/posts/2019/06/2019-06-29-review-event-insider-devtour-2019-taipei/d49ad14e-5838-4f17-adf2-c4d20c8dbbdf.jpg" border="0" alt="05.jpeg"><br><figcaption>忙完早上報到之後才開始吃早餐</figcaption></figure><p>
		轉一下畫面來看看Keynote期間後臺在做什麽？
		</p></section><section><h2 id="WizKMOutline_1561807991284795">Keynote以及早上的場次</h2><p>
		keynote講什麽其實都在忙沒聽到Orz，不過到是協助了另外一件好玩的事情。
		</p><p>
		大家還記得去年的Insider DevTour是由Duran大大cosplay的香蕉嗎？今年則是由於Graph API(今年重點)和Giraffe發音很相似，因此由西雅圖來的Justin扮演的長頸鹿。
		</p><p>
		其實穿那件衣服沒那麽方便，需要有個人幫忙拉鏈，然後啟動後面有個充氣機來充氣 - 還蠻好玩的
		</p><figure><img class="img-responsive" src="/posts/2019/06/2019-06-29-review-event-insider-devtour-2019-taipei/3428b075-df05-498f-9e95-9304611c2f43.jpg" border="0" alt=""><br><figcaption>幫忙試穿的時候拍照</figcaption></figure><p>
		然後介紹到Graph的時候，長頸鹿就上場啦 - 這年頭不止code要寫得好，還要能夠cosplay才行 - 估計這是這場大家拍照最多的時候XD
		</p><figure><img class="img-responsive" src="/posts/2019/06/2019-06-29-review-event-insider-devtour-2019-taipei/1b860147-4341-4345-b768-97dd51de65bf.jpg" border="0" alt="07.jpg"><br><figcaption>長頸鹿上場啦</figcaption></figure><p></p><p>
		Keynote結束之後，分別是：
		</p><ol><li>傳説中的美少女工程師 Fion 介紹 Graph API</li><li>Dino 大大介紹Teams</li><li>Poy大大介紹Edge</li></ol><p></p><p>
		兩位大神想必各位都認識就不放照片（其實是因爲去準備午餐去了），用美少女工程師結束早上的内容。
		</p><figure><img class="img-responsive" src="/posts/2019/06/2019-06-29-review-event-insider-devtour-2019-taipei/d75d6739-49ea-47b2-b7dc-55057869c64e.JPG" border="0" alt="09.JPG"><br><figcaption>認真的時候講什麽都帥氣 - 連相機都閃到照不出投影片内容了XD</figcaption></figure></section><section><h2 id="WizKMOutline_1561807991284100">午餐時間到了</h2><p>
		忙碌了一個早上，重點就是午餐要吃什麽！！！！！
		</p><p>
		這一次主辦單位准了56份Pizza，其中有6份屬於素食。
		</p><p>
		東西多到Pizza Hut的人出動三輛機車，載了兩趟才都送到，我們也出動了大概5~6個工作人員兩趟才都拿下來，搬好桌子準備好食物。
		</p><figure><img class="img-responsive" src="/posts/2019/06/2019-06-29-review-event-insider-devtour-2019-taipei/c67ed212-0877-4329-a8d9-af1191b5ead6.jpg" border="0" alt="10.jpg"><br><figcaption>全部排開是不是很氣派呀</figcaption></figure><p>
		不過這邊告訴大家兩個恐怖的事情:
		</p><ol><li>有一個素食Pizza不見了 - 本來我還數過總共6個，但是後來實際拆封變成了5個 - 消失的一個不知道跑到那邊去了 - 恐怖</li><li>貌似有會議蟑螂 - 午餐時間直接拿走了一整瓶飲料以及pizza</li></ol><p></p><p>
		是不是也好奇工作人員吃什麽？
		</p><p>
		幫忙完排Pizza之後，就去享用我的午餐，海南鷄飯以及貌似甘蔗汁的飲料：
		</p><figure><img class="img-responsive" src="/posts/2019/06/2019-06-29-review-event-insider-devtour-2019-taipei/c92c1aa1-2b2a-4856-b7c9-20b0c5bc4679.jpg" border="0" alt="11.jpg"><br><figcaption>工作人員的午餐海南鷄飯</figcaption></figure><p></p><p>
		吃完午餐有一個中午的小活動。
		</p></section><section><h2 id="WizKMOutline_1561807991284762">下午場次</h2><p>
		吃完了午餐之後就是下午的場次了，分別爲：
		</p><ol><li>保哥介紹Command Line以及WSL</li><li>傳説中的程式哲學家Jason介紹NodeJs</li><li>Chris大大介紹PWA</li></ol><p></p><p>
		保哥的場次我還滿有興趣，尤其是貌似Docker Windows跑Linux Container可以用WSL2，但是這個時候正在和工作人員整理中午的垃圾。
		</p><p>
		程式哲學家Jason大家應該不認識，要讓大家瞭解一下：
		</p><figure><img class="img-responsive" src="/posts/2019/06/2019-06-29-review-event-insider-devtour-2019-taipei/ca4b5baa-2f9a-46d8-8c8e-9308c4fece85.jpg" border="0" alt="12.jpg"><br><figcaption>Jason大大</figcaption></figure><p></p><p>
		Chris想必大家也都認識 - 這場小弟去準備我的場次所以沒有聽到。
		</p><p>
		在進入我的場次之前，要進入另外一個重要的環節，那就是下午茶時間到啦！！！！
		</p></section><section><h2 id="WizKMOutline_1561807991284196">下午茶</h2><p>
		一整排的好吃下午茶等著大家
		</p><figure><img class="img-responsive" src="/posts/2019/06/2019-06-29-review-event-insider-devtour-2019-taipei/130ac12f-0847-45de-8ffe-30d958a48baa.jpg" border="0" alt="13.jpg"><br><figcaption>下午茶時間</figcaption></figure><p>
		這個時候我已經躲起來去做最後一次demo測試 - 不過還滿驚嚇，因爲一開始做不成功，後來才可以。
		</p></section><section><h2 id="WizKMOutline_1561807991285272">下下午場次</h2><p>
		到要結束前的最後一節了，在這一節分別爲：
		</p><ol><li>小弟我介紹.NET Core開發Desktop Application</li><li>RD 郭董大大介紹用.NET CORE開發Web Application</li><li>R Ladies的Kristen介紹Machine Learning</li></ol><p></p><p>
		還滿特別，在當天我才注意到，其中一位從西雅圖來的講師，Alex其實就是主要準備以及負責我講的這一段的主要負責人。
		</p><p>
		有點班門弄斧的感覺，還好講完沒有Delay併且Alex還來和我説講的很好，總算沒有丟臉XD。
		</p><p>
		小弟我講的簡報可以在後面看到，如果有興趣要嘗試的人可以試試看
		</p><figure><img class="img-responsive" src="/posts/2019/06/2019-06-29-review-event-insider-devtour-2019-taipei/2e674afd-04fe-44e4-ab5b-49c9db1be862.jpg" border="0" alt="14.jpg"><br><figcaption>又在置入性行銷XD</figcaption></figure><p></p><p>
		後面兩位大大講完了，今天整個活動就圓滿結束啦。 (兩位大大大家應該都認識，就不在多言了)
		</p><p>
		後面散場就是請大家填寫問卷，換今天的禮物，帽子。
		</p></section><section><h2 id="WizKMOutline_1561807991285856">結語</h2><p>
		到這邊活動就結束了，剩下就是收拾好會議室，然後就是去慶功宴為這次做個完美的ending。
		</p><p>
		這一次非常感謝主辦單位的邀請，併且要感謝幕後的辛苦工作人員，如果沒有他們今天活動不會成功。
		</p><p>
		最後一張是慶功宴的照片。
		</p><figure><img class="img-responsive" src="/posts/2019/06/2019-06-29-review-event-insider-devtour-2019-taipei/79adb45d-502f-4f10-b995-931b075d6891.jpg" border="0" alt="15.jpg"><br><figcaption>慶功宴</figcaption></figure></section><section><h2 id="WizKMOutline_1561807991285509">參考資料</h2><p>
		還蠻多學員在問關於投影片的部分，這邊我會放我所知道的，更完整可能要等主辦單位 - 可以持續關注我這篇(有updae我會更新)，以及我的粉絲頁。
		</p>
		<dl>
			<dt>Alan Tsai - Future proof your desktop apps with .net core</dt>
			<dd>
				<iframe src="//www.slideshare.net/slideshow/embed_code/key/t3wxA2y82PVAhv" width="595" height="485" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" style="border:1px solid #CCC; border-width:1px; margin-bottom:5px; max-width: 100%;" allowfullscreen> </iframe> <div style="margin-bottom:5px"> <strong> <a href="//www.slideshare.net/alantsai2007/insider-dev-tour-taipei-2019-future-proof-your-desktop-apps-with-net-core" title="Insider Dev Tour Taipei 2019 - Future proof your desktop apps with .net core" target="_blank">Insider Dev Tour Taipei 2019 - Future proof your desktop apps with .net core</a> </strong> from <strong><a href="https://www.slideshare.net/alantsai2007" target="_blank">Alan Tsai</a></strong> </div>
			</dd>
			<dt>Poy - 使用最新 Edge 瀏覽器來進行開發​</dt>
			<dd><iframe src="//www.slideshare.net/slideshow/embed_code/key/atPW0IpD8ON3rE" width="595" height="485" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" style="border:1px solid #CCC; border-width:1px; margin-bottom:5px; max-width: 100%;" allowfullscreen> </iframe> <div style="margin-bottom:5px"> <strong> <a href="//www.slideshare.net/poy/edge-151424614" title="使用最新 Edge 瀏覽器來進行開發​" target="_blank">使用最新 Edge 瀏覽器來進行開發​</a> </strong> from <strong><a href="https://www.slideshare.net/poy" target="_blank">Poy Chang</a></strong> </div></dd>
		</dl>
		
		</section>