Title: "[活動]20180628北京Insider Dev Tour的擺攤記錄"
Published: 2018-06-30
Modified: 2018-06-30
Image: "/posts/2018/06/2018-06-30-review-beijing-insider-dev-tour-event/872a150a-50c5-4d2f-8072-ac3d1c052089.jpg"
Tags: ["「活動」","bot", "ai", "azure"]
Series: ["「活動」"]
PostDescription: "第一次以擺攤的身份參加活動。這次活動主辦單位非常的用心，并且最重要的是免費的。來看看北京的Insider Dev Tour是什麽樣子。"
---
<section><figure><img class="img-responsive" src="/posts/2018/06/2018-06-30-review-beijing-insider-dev-tour-event/872a150a-50c5-4d2f-8072-ac3d1c052089.jpg" border="0" alt="00.jpg"><br><figcaption></figcaption></figure><p>
		這麽多年以來，參加活動有以學員的身份、講師的身份及現場工作人員的身份參加過活動，但是還真沒有以擺攤的身份參加過。
		</p><p>
		因此這篇更多是在周邊的介紹，話説這個應該是我見過免費裡面最大手筆的一次活動，主辦單位很用心，一起來看看吧。
		</p></section>
	<section>
	<a id="KMContentPageTopID" name="KMContentPageTopID"></a><div id="divKMOutline" style="border-style: groove none; margin: 10px 0px;"><ul style="margin:0px 0px 0px 20px"><li><a href="#WizKMOutline_1530318779715227" ;="" style="font-size: 15px; line-height: 1.6;">什麽是Insider Dev Tour</a><br></li><li><a href="#WizKMOutline_1530318779715868" ;="" style="font-size: 15px; line-height: 1.6;">環境介紹</a><br></li><li><a href="#WizKMOutline_1530318779715936" ;="" style="font-size: 15px; line-height: 1.6;">當天情況</a><br></li><li><a href="#WizKMOutline_1530318779715167" ;="" style="font-size: 15px; line-height: 1.6;">吃的東西</a><br></li><li><a href="#WizKMOutline_1530318779715710" ;="" style="font-size: 15px; line-height: 1.6;">會議内容</a><br></li><li><a href="#WizKMOutline_1530318779715254" ;="" style="font-size: 15px; line-height: 1.6;">結束之後的神秘活動</a><br></li><li><a href="#WizKMOutline_1530318779715985" ;="" style="font-size: 15px; line-height: 1.6;">學習到的教訓</a><br></li><li><a href="#WizKMOutline_1530318779715806" ;="" style="font-size: 15px; line-height: 1.6;">結語</a><br></li><li><a href="#WizKMOutline_1530318779715407" ;="" style="font-size: 15px; line-height: 1.6;">參考資料</a><br></li></ul></div>
	</section>
		<!--more--><section><h2 id="WizKMOutline_1530318779715227">什麽是Insider Dev Tour</h2><p>
		長接觸微軟的應該會對這個活動一頭霧水，因爲這個是<em>第一次</em>舉辦的活動。可以想象成Azure Bootcamp那種性質，不過這個是面向Developer的活動。
		</p><p>
		在6月的時候在世界各地會由當地的微軟加上當地的社群大大們一起介紹最新的工具、技術，而且最佛心的地方是，<em>完全免費</em>。
		</p><p>
		在<a href="https://insiderdevtour.com/">官網</a>可以看到世界各地的舉辦時間，在<a href="https://insiderdevtour.com/Beijing">北京</a>時06/28，而在<a href="https://insiderdevtour.com/Taipei">臺北</a>則是06/30。
		</p></section><section><h2 id="WizKMOutline_1530318779715868">環境介紹</h2><p>
		在北京是舉辦在北京金茂万丽酒店的3樓，一路走過來都有看板指標，因此還蠻容易知道位置在哪裏。
		</p><figure><img class="img-responsive" src="/posts/2018/06/2018-06-30-review-beijing-insider-dev-tour-event/72b6d77e-e014-4531-a003-a9c9e3d818a3.jpg" border="0" alt="01.jpg"></figure><figure><img class="img-responsive" src="/posts/2018/06/2018-06-30-review-beijing-insider-dev-tour-event/49cd0e21-1f97-4e41-9782-a3ca7eb62af9.jpg" border="0" alt="03.jpg"><br></figure><figure><img class="img-responsive" src="/posts/2018/06/2018-06-30-review-beijing-insider-dev-tour-event/b43be75a-1326-4bb3-9087-1c2f347baec3.jpg" border="0" alt="04.jpg"><br></figure><figure><figcaption>門口，一進去就是一些書，感覺規格很高</figcaption></figure><p></p><p>
		報到處還蠻大的：
		</p><figure><img class="img-responsive" src="/posts/2018/06/2018-06-30-review-beijing-insider-dev-tour-event/57b0eaa4-7181-4b20-977d-3546b971ed39.jpg" border="0" alt="05.jpg"><br><figcaption>報到處</figcaption></figure><p></p><p>
		因爲是擺攤的性質因此我們在前一天就有先去會場，那可以看到這次總共有5個 partnent的攤位，我們是注冊完會碰到的第一家。然後旁邊還有微軟的holoLense的攤位
		</p><figure><img class="img-responsive" src="/posts/2018/06/2018-06-30-review-beijing-insider-dev-tour-event/355b2ffd-e680-438f-be5c-f28d2c297b86.jpg" border="0" alt="06.jpg"></figure><figure><img class="img-responsive" src="/posts/2018/06/2018-06-30-review-beijing-insider-dev-tour-event/a3a031b1-62ec-4113-b1ba-74fdce2b1dd8.jpg" border="0" alt=""></figure><figure><img class="img-responsive" src="/posts/2018/06/2018-06-30-review-beijing-insider-dev-tour-event/f7a1b882-d389-4a8a-bd82-9da56e7848c3.jpg" border="0" alt=""><br><figcaption>一些其他partner的攤位和努力測試中</figcaption></figure><p>
		在周邊有一些人形看板以及一些可以拍照打卡的地方
		</p><figure><img class="img-responsive" src="/posts/2018/06/2018-06-30-review-beijing-insider-dev-tour-event/36432eff-c692-4017-9230-d172e1c0de7d.jpg" border="0" alt="07.jpg"><br><figcaption></figcaption></figure><figure><img class="img-responsive" src="/posts/2018/06/2018-06-30-review-beijing-insider-dev-tour-event/33cd8ce8-a1d4-45e2-9a0d-91160b35d528.jpg" border="0" alt="08.jpg"><br></figure><div class="bs-callout bs-callout-info">
			話説人物看板太適合我了QQ，我不就是右手拿筆電，左手是空空的。其實當天會場是有模特兒和大家拍照的哦，這張不要被我媽看到要不然又要開始問我問題了XD。
		</div><p>
		主辦單位有給我們衣服以及對應的工作人員的牌子，這邊有個小插曲，本來給我XL的衣服，依照我多年參加活動的經驗，肯定穿不下，結果先換了XXL，還好有先試過，還是不行，最後是最大的XXXL才勉强ok，還是要減肥了啊。
		</p><figure><img class="img-responsive" src="/posts/2018/06/2018-06-30-review-beijing-insider-dev-tour-event/f4e1ab1d-1fd6-45d5-8fc5-5a62ad9b8cd5.jpg" border="0" alt=""><br><figcaption>名牌</figcaption></figure><p>
		因爲全場是英文，所以有同聲翻譯。我估計光這些翻譯人員費用就不少了，説不定以後全部用Cognitive Service的Speech就可以省下不少錢錢啦。
		</p><p><img class="img-responsive" src="/posts/2018/06/2018-06-30-review-beijing-insider-dev-tour-event/bc21d36f-a91e-4e92-926c-732a89e54f45.jpg" border="0" alt="25.jpg"><br></p></section><section><h2 id="WizKMOutline_1530318779715936">當天情況</h2><p>
		活動是8:30開始，因此工作人員說大約07:30要到，然後準備ready，誰知道，我們07:30到的時候已經有至少20幾個在會場了，真是太熱血了
		</p><p>
		結果我們一把DM放好，馬上就有幾個無辜（誤）的觀衆被我抓住快速介紹。
		</p><p>
		我們的攤位有幾個道具：
		</p><dl><dt>
				電視墻就輪播我們主要在做的内容。
			</dt><dd>
				一個一直循環的ppt
			</dd><dt>
				一臺電腦放我們dm的圖片
			</dt><dd>
				這臺還是surface哦，有些事特地爲了看surface過來看看，所以下次説服老闆買surface就有更好的理由了
			</dd><dt>
				我的筆電
			</dt><dd>
				本來是想説用來demo chatbot的web版本，不過大部分都是用我的微信在demo
			</dd><dt>
				我的平板
			</dt><dd>
				一直輪播demo的内容，感覺效果還不錯，有些看了之後會跑來問這個是什麽，尤其是裡面有些可口可樂的圖片。
			</dd><dt>
				可口可樂
			</dt><dd>
				我demo用的道具。
			</dd></dl><figure><img class="img-responsive" src="/posts/2018/06/2018-06-30-review-beijing-insider-dev-tour-event/0d56eebf-c7e3-415f-9e0a-b0e42160b3a4.jpg" border="0" alt="11.jpg"></figure><figure><img class="img-responsive" src="/posts/2018/06/2018-06-30-review-beijing-insider-dev-tour-event/65e6e706-bf2b-4b27-a2c4-86d6b55f1ab3.jpg" border="0" alt="10.jpg"><br><figcaption>介紹情況以及攤位</figcaption></figure><p></p><p>
		主要介紹分了兩個部分，<em>Azure</em>以及<em>Office 365</em>。Azure環繞在consulting以及solution，其中focus在container/DevOps/k8s這個部分，以及Chatbot 和 Media Service。
		</p><p>
		Office 365主要在搬遷以及功能介紹。
		</p><p>
		有准備了一個小demo讓大家玩玩看，知道說chatbot不是只是刻板的電商那種笨笨回答問題而已，可以用來串接内外系統，甚至透過ai加强用戶體驗。</p><p>
		我發現參加的人還滿多元的，有些人不是開發者，是學數學的，只是最近在碰Machine Learning，所以來問問我微軟有沒有什麽服務可以用（當然是Azure Machine Learning啦）。
		還有剛剛高考畢業，就來瞭解最新趨勢（小汗顔，我高考畢業之後應該是在看小説吧XD），也有完全不懂云的和完全不知道office 365的，一個一個像他們解説。
		</p><p>
		會場另外一個亮點應該是兩個貓（還是狗，搞不清楚）女吧，我説呢，怎麽會有右手電腦左手是空這麽寫實的看板 XD。突然找不到貓女的照片，反正大家的重點又不是在貓女XD 。
		</p></section><section><h2 id="WizKMOutline_1530318779715167">吃的東西</h2><p>
		基本上在中間的時間有茶歇（還擔心和深圳的AI大會一樣沒有中間休息）和當然最重要的午餐。
		</p><p>
		茶歇就是我們開工的時候啦，小弟我就像資訊展的介紹人員一樣，見一個抓一個，不過大家還算給面子，還愿意聽我自high介紹公司及產品。
		</p><p>
		會場有些馬卡龍（題外話，接地氣的話應該是國外的炊餅XD），以及咖啡，我沒有去拿，不過裡面有些漂亮的拉花，下面是幾張不知道從哪裏來的相片。
		</p><figure><img class="img-responsive" src="/posts/2018/06/2018-06-30-review-beijing-insider-dev-tour-event/31072b9b-260a-4e0c-80ce-adf34cbc08e8.jpg" border="0" alt="12.jpg"></figure><figure><img class="img-responsive" src="/posts/2018/06/2018-06-30-review-beijing-insider-dev-tour-event/ca100d6a-3692-42d1-a47d-aa7a4cc72f8b.jpg" border="0" alt="13.jpg"></figure><figure><img class="img-responsive" src="/posts/2018/06/2018-06-30-review-beijing-insider-dev-tour-event/06b63ab4-da17-440c-bf68-a8517a2ff279.jpg" border="0" alt="14.jpg"><br><figcaption>咖啡拉花，以及馬卡龍</figcaption></figure><p>
		午餐超霸氣，直接是酒店的buffet。我參加那麽多研討會還真沒吃過buffet的。人真多，所以分了兩樓，1樓和2樓。我是第二輪下去剛好和學院吃飯撞在了一起。
		</p><p>
		只好跑到餐廳外面的露天位子吃，超級熱，還沒有遮陽棚，刀子超級燙，不過這些在好吃面前全部不是問題。
		</p><figure><img class="img-responsive" src="/posts/2018/06/2018-06-30-review-beijing-insider-dev-tour-event/963b6727-12fb-49ed-8913-e758c8f97bb6.jpg" border="0" alt="15.jpg"></figure><figure><img class="img-responsive" src="/posts/2018/06/2018-06-30-review-beijing-insider-dev-tour-event/c8ca7dec-0fdc-4d05-90ca-f433fd245615.jpg" border="0" alt="16.jpg"></figure><figure><img class="img-responsive" src="/posts/2018/06/2018-06-30-review-beijing-insider-dev-tour-event/69f7983c-fef9-4a94-ad81-e4bbce2fea9f.jpg" border="0" alt="17.jpg"><br><figcaption>buffet</figcaption></figure></section><section><h2 id="WizKMOutline_1530318779715710">會議内容</h2><p>
		在中間休息時間，有偷偷的跑進去聼一下，剛好介紹到.Net Core 3的速度會快4倍的demo，以及現在發佈可以變成單一個exe檔案而不用像以前一樣會有很多dll在一起。
		</p><figure><img class="img-responsive" src="/posts/2018/06/2018-06-30-review-beijing-insider-dev-tour-event/2d10de13-1fe4-46cd-b231-c9325a9431e3.jpg" border="0" alt="18.jpg"></figure><figure><img class="img-responsive" src="/posts/2018/06/2018-06-30-review-beijing-insider-dev-tour-event/0639ec5a-7091-4ab0-aefb-bf52b7f58db4.jpg" border="0" alt="19.jpg"><br><figcaption>幾張議程的照片</figcaption></figure><p>
		還聼到了Visual Studio Code Share - 以後估計沒辦法用嘴巴遠程叫人寫code了，他應該會直接叫你開visual studio code share Orz。
		</p><p>
		在議程最後一個環節是QA，本來預計是17:30結束，但是最後弄到18:00多，可以看到很多人踴躍發問，排了兩排應該有20幾個人吧：
		</p><figure><img class="img-responsive" src="/posts/2018/06/2018-06-30-review-beijing-insider-dev-tour-event/8279c96c-6109-4ded-9009-574579c76762.jpg" border="0" alt="20.jpg"><br><figcaption>大家好認真</figcaption></figure></section><section><h2 id="WizKMOutline_1530318779715254">結束之後的神秘活動</h2><p>
		在結束之後剛好是MVP之夜，有15位學員可以一起去參加，小弟我用了工作人員的身份厚臉皮的進去和大家聊了一下。
		</p><figure><img class="img-responsive" src="/posts/2018/06/2018-06-30-review-beijing-insider-dev-tour-event/c62093ae-78f6-4676-8667-42d5f3dea45f.jpg" border="0" alt="21.jpg"></figure><figure><img class="img-responsive" src="/posts/2018/06/2018-06-30-review-beijing-insider-dev-tour-event/608cb1b2-7293-470a-8af8-83e3604a7170.jpg" border="0" alt="22.jpg"></figure><figure><img class="img-responsive" src="/posts/2018/06/2018-06-30-review-beijing-insider-dev-tour-event/6a24ab75-6381-4d93-8e76-a3fdd8d599d1.jpg" border="0" alt="23.jpg"><br><figcaption>神秘的地方</figcaption></figure><p>
		去的地方是個小酒吧，欸作爲一個不喝酒的人實在不是個好地方，老闆還給我一瓶10度的啤酒。話説，啤酒真不好喝啊，爲什麽大家這麽喜歡呢，不過倒是體驗了一下武俠小説説的，【運氣之後有股暖流從丹田擴散到全身的感覺】Orz。
		</p><figure><img class="img-responsive" src="/posts/2018/06/2018-06-30-review-beijing-insider-dev-tour-event/1ff40f1f-259a-4440-bb3b-96eab31379c9.jpg" border="0" alt="24.jpg"><br><figcaption>老闆給我推薦的不知道什麽東西的酒</figcaption></figure><p></p><p>
		和幾個大神聊了幾句，還有和個外國的一位container大神聊了幾句，他剛好是德國人，結果那天前德國剛好2比0輸給了韓國。他説那天去了酒吧，全部都是德國球迷但是都是中國人，
		只有他是外國人，開球前的唱國歌還把麥克風給他讓他唱 XD。
		</p>
		<p>也有幸見到了負責Speech這塊的大神，趕快説出最大的訴求，好希望服務能夠儘快落地到China XD</p>
		<p>也有MVP大神給了一些建議和幫助。</p>
		</section><section><h2 id="WizKMOutline_1530318779715985">學習到的教訓</h2><p>
		作爲第一次擺攤，把自己覺得要注意的地方和大家介紹一下：
		</p><dl><dt>
				前一天的晚上要好好睡
			</dt><dd>
				説到這個就悲傷，小弟我前一天晚上<em>根本沒睡</em>，另外一個同事好一點，大概睡了<em>1.5小時</em> Orz。還好人來瘋性格勉强的hold住了全場，但是辦完影噶直接 壽命 - 3 XD。
			</dd><dt>
				海報要有QR Code
			</dt><dd>
				還好我們在前一天發現，趕快回家用印表機列印了兩張qr code的紙，順便點了PS圖片的技能。
			</dd><dt>
				要準備喉糖
			</dt><dd>
				這個部分我是還好，不過有時候會場人多，講話大聲一點久了之後喉嚨會不舒服
			</dd><dt>
				準備好延長綫
			</dt><dd>
				這個部分主板單位還滿齊全，雖然一開始沒有給我們，但是去詢問的時候有
			</dd></dl></section><section><h2 id="WizKMOutline_1530318779715806">結語</h2><p>
		在這篇和大家分享了去擺攤的體驗。心態上以及感覺上和學院或工作人員還是有點區別。
		</p><p>
		還滿好玩的，尤其是chatbot的demo有些學員有興趣還有來多聊了幾句。下次有參加別的什麽活動在和大家分享。
		</p></section><section><h2 id="WizKMOutline_1530318779715407">參考資料</h2><p>
		因爲整個tour還沒結束，所以有些鏈接還沒有release，之後會在更新這篇，加入slide以及hands on lab的内容。
		</p><dl><dt>
				官方介紹
			</dt><dd>
				列出了有舉辦的國家以及時間：<a href="https://insiderdevtour.com">https://insiderdevtour.com/</a></dd><dt>
				北京的官方介紹
			</dt><dd><a href="https://insiderdevtour.com/Beijing">https://insiderdevtour.com/Beijing</a></dd><dt>
				台灣的官方介紹
			</dt><dd><a href="https://insiderdevtour.com/Taipei">https://insiderdevtour.com/Taipei</a></dd></dl></section>
