Title: "[微軟 MVP][00-1][番外篇] 從美國來的包裹需授權書 (POA) 的問題處理"
Published: 2020-07-20 19:00
Modified: 2020-07-20 19:00
Image: "/posts/2020/07/2020-07-20-microsoft-mvp-00-01-what-to-do-if-your-oversea-package-wait-for-clearance-need-power-of-attorney-form/8dd9f3ec-6d48-45cf-aa20-99669342327c.jpg"
Tags: ["「微軟 MVP」"]
Series: ["「微軟 MVP」"]
PostDescription: "MVP 當選之後有一包 Award Kit 會從美國寄來。本來非常期待回家的時候會看到然後可以開箱給大家看看，結果才發現原來入關的時候卡了 4天。為什麼會卡住呢？怎麼避免卡住呢？其實現在因為要實名認證，所以國外來的都會需要簽委任書。這篇簡單介紹一下我得到的心得 - 以及下次怎麼可以避免這件事"
---
<section><figure><img class="img-responsive" src="/posts/2020/07/2020-07-20-microsoft-mvp-00-01-what-to-do-if-your-oversea-package-wait-for-clearance-need-power-of-attorney-form/8dd9f3ec-6d48-45cf-aa20-99669342327c.jpg" border="0" alt="[微軟 MVP][01-1][番外篇] 從美國來的包裹需授權書 (POA) 的問題處理.jpg"><br><figcaption>圖片來源：https://pixabay.com/en/books-spine-colors-pastel-1099067/、https://www.freepik.com/free-photo/magnifying-glass-stock-market-graph-paper_3095564.htm</figcaption></figure></section><section><p>
		成為 MVP 之後會收到一個 Award Kit，裡面會包含像是證書以及一個獎杯。
		</p><p>
		這個 Award Kit 會從美國透過 FedEx 寄送到台灣。
		</p><p>
		這個寄送速度其實還滿快的，以我為例，大約不到一周就到台灣了，但是要送到手上之前會經過海關。
		</p><p>
		要過海關其實需要做一些事情，這些沒做之前是沒辦法收到手上。
		</p><p>
		我「運氣」很好，沒有收到 FedEx 的通知，所以東西卡在了海關卡了差不多 4天 Orz，要不是某天心血來潮還沒發現卡住了。
		</p><figure><img class="img-responsive" src="/posts/2020/07/2020-07-20-microsoft-mvp-00-01-what-to-do-if-your-oversea-package-wait-for-clearance-need-power-of-attorney-form/ca11d1ab-93bf-4743-a7c0-5a8879bcd829.jpg" border="0" alt=""><br><figcaption>需授權書 (POA) 委託聯邦快遞/報關代表進口商辦理貨件通關。建議採取的動作：進口商必須提出授權書或標準授權表格，授權FedEx報關進行通關</figcaption></figure><p>
		這篇簡單介紹一下該怎麼做可以避免這件事情。
		</p><div class="bs-callout bs-callout-info">
			這個其實不只是 MVP 的 Award Kit 有這個狀態，只要是國外進入到台灣的包裹都有這些事情要處理，所以都可以參考一下。
		</div></section>
		<section>
<a id="KMContentPageTopID" name="KMContentPageTopID"></a><div id="divKMOutline" style="border-style: groove none; margin: 10px 0px;"><ul style="margin:0px 0px 0px 20px"><li><a href="#WizKMOutline_1595290225319766" ;="" style="font-size: 15px; line-height: 1.6;">怎麼做避免卡在海關</a><br></li><li><a href="#WizKMOutline_1595290225319481" ;="" style="font-size: 15px; line-height: 1.6;">及時追蹤狀態，收到通知避免卡在海關而不知</a><br></li><li><a href="#WizKMOutline_1595290225319693" ;="" style="font-size: 15px; line-height: 1.6;">結語</a><br></li></ul></div>
		</section>
		<!--more-->
		<section><h2 id="WizKMOutline_1595290225319766">怎麼做避免卡在海關</h2><p>
		先說一下為什麼會卡在海關，原來是進口的貨物需要<em>經過實名認證</em>，所以沒有認證過的就會卡住。
		</p><p>
		有兩個方式能夠做這個實名認證的委任：
		</p><ol><li>貨品還沒進入海關之前 - 註冊 EZ WAY易利委 - 一鍵授權委任</li><li>不想用 APP - 想要快速過 - 填寫委託授權單</li></ol><p></p><p>
		基本上，Ez Way 是最方便和快速的做法。
		</p><dl><dt>
				貨品還沒進入海關之前 - 註冊 EZ WAY易利委 - 一鍵授權委任
			</dt><dd><p>
				EZ Way 是一個 APP，透過註冊這個 APP 進行實名認證之後，當貨物進入到海關的時候，就可以透過一鍵的方式進行實名確認。
				</p><p>
				如果貨品有進來的時候，APP 會 <em>自動推播</em>，您就可以一鍵快速進行確認。
				</p><p>
				也可以透過手動輸入單號的方式進行委任。
				</p><p>
				詳細註冊以及使用可以參考關務署的介紹：<a href="https://web.customs.gov.tw/cp.aspx?n=88C3016BD909355C&amp;s=D04FF9479AC43793">快遞收貨人實名認證</a></p><p>
				這個方式應該是最快速以及方便的做法。
				</p></dd><dt>
				不想用 APP - 想要快速過 - 填寫委託授權單
			</dt><dd><p>
				如果說貨品已經進入到海關，並且卡住的話，會看到下面的截圖：
				</p><figure><img class="img-responsive" src="/posts/2020/07/2020-07-20-microsoft-mvp-00-01-what-to-do-if-your-oversea-package-wait-for-clearance-need-power-of-attorney-form/a615a6da-e0de-424a-ab99-e9fb720b6732.jpg" border="0" alt="" style="font-size: 15px; line-height: 1.6;">&nbsp;<img class="img-responsive" src="/posts/2020/07/2020-07-20-microsoft-mvp-00-01-what-to-do-if-your-oversea-package-wait-for-clearance-need-power-of-attorney-form/d8985e9f-49c8-4424-a2c0-efe53b861d8c.jpg" border="0" alt=""><figcaption>中文以及英文的狀態</figcaption></figure><p></p><p>
				以這個為例，就需要和 FedEx 聯絡，<em>取得委任書</em>。
				</p><div class="bs-callout bs-callout-info"><p>
				和 FedEx 聯絡，可以透過：
				</p><ol><li>打電話：0800-075075</li><li>透過線上客服：<a href="https://www.fedex.com/zh-tw/customer-support.html">https://www.fedex.com/zh-tw/customer-support.html</a> - 只要輸入 「轉人工」 就可以切換到真人</li></ol> 
				就會有專人和您聯繫，給委任表。
				<p></p></div><p>
				拿到了委任表之後，就需要準備兩個檔案：
				</p><ol><li>填妥表單 - 大概會長得像：
					<figure><img class="img-responsive" src="/posts/2020/07/2020-07-20-microsoft-mvp-00-01-what-to-do-if-your-oversea-package-wait-for-clearance-need-power-of-attorney-form/45b9b10e-fc7a-40f4-8485-76be67a2ea57.jpg" border="0" alt=""><br><figcaption>委任書</figcaption></figure></li><li>身份證 正反面 影印本</li></ol><p></p><p>
				用 mail 的方式回傳上面兩個檔案（委任書要填寫完，基本上就是進口提單號碼以及簽名），就可以了。
				</p><div class="bs-callout bs-callout-info"><p>
						有了 <code>進口提單號碼</code> 應該就可以透過 Ez Way 的方式來委任。不過我自己還是用了填寫委任書的方式，因為聯絡我的 FedEx 說這樣比較快。
					</p><p>
					不過事後看起來，用 Ez Way 應該比較省事。
					</p></div></dd></dl></section><section><h2 id="WizKMOutline_1595290225319481">及時追蹤狀態，收到通知避免卡在海關而不知</h2><p>
				我的例子好像比較特別，一般卡在海關 FedEx 都會聯絡，但是不知道為什麼我的沒有。
				</p><p>
				如果擔心這個情況，那麼可以在 FeedEx 設定 Status Change。
				</p><p>
				這樣，只要包裹狀態有變，就會<em>收到通知</em>，而不用自己一直去檢查。
				</p><p>
				設定方式很簡單，只要從檢查目前包裹狀態那頁，點選：<code>取得狀態更新 (Get Status Update)</code></p><figure><img class="img-responsive" src="/posts/2020/07/2020-07-20-microsoft-mvp-00-01-what-to-do-if-your-oversea-package-wait-for-clearance-need-power-of-attorney-form/ea9181f2-5e2f-4268-a831-6cdf96bbb0cf.jpg" border="0" alt=""><br><figcaption>進入取得狀態更新的表單</figcaption></figure><p></p><p>
				填寫完了之後，只要有異動就會通知：
				</p><figure><img class="img-responsive" src="/posts/2020/07/2020-07-20-microsoft-mvp-00-01-what-to-do-if-your-oversea-package-wait-for-clearance-need-power-of-attorney-form/af130be2-581e-4149-8c3d-f0dc891f89d0.png" border="0" alt=""><br><figcaption>收到的異動通知</figcaption></figure><p></p></section><section><h2 id="WizKMOutline_1595290225319693">結語</h2><p>
					我是透過用紙本然後掃描寄 mail 的方式給對方，當天晚上就完成通關。
					</p><p>
					因為週末不送，因此是週一的時候送到。不過，平日在台北，所以只能夠下次回家再開箱給大家看看啦。
					</p></section>