Title: "[微軟 MVP][01] 什麼是微軟 MVP？該不該選呢？"
Published: 2020-07-07 19:00
Modified: 2020-07-07 19:00
Image: "/posts/2020/07/2020-07-08-microsoft-mvp-01-what-is-microsoft-most-valuable-professional-should-you-apply-for-it/9fda07f0-8220-41fc-a0af-09b91d7f5580.jpg"
Tags: ["「微軟 MVP」"]
Series: ["「微軟 MVP」"]
PostDescription: "終於當選微軟 MVP 當然要好好和大家介紹一下。要不要選總要先評估一下，畢竟時間很寶貴。所以，這篇先來看看什麼是微軟 MVP，以及有什麼好處。如果大家被吸引了就可以期待下偏關於怎麼準備
"
---
<section><figure><img class="img-responsive" src="/posts/2020/07/2020-07-08-microsoft-mvp-01-what-is-microsoft-most-valuable-professional-should-you-apply-for-it/9fda07f0-8220-41fc-a0af-09b91d7f5580.jpg" border="0" alt="[微軟 MVP][01] 什麼是微軟 MVP？該不該選呢？.jpg"><br><figcaption>圖片來源：https://pixabay.com/en/books-spine-colors-pastel-1099067/、https://www.freepik.com/free-photo/magnifying-glass-stock-market-graph-paper_3095564.htm</figcaption></figure></section><section><section><p>
		今年有幸當選 Azure 領域的微軟 MVP。 
		或許有很多朋友會好奇，什麼是 Microsoft Most Valuable Professional (微軟最有價值專家)？怎麼成為微軟 MVP？成為微軟 MVP 有什麼好處？是否要花時間去申請微軟 MVP 呢？
		</p><p>
		同學習任何技術一樣，學東西都有成本，而到底我該不該花這個成本下去申請這件事？
		</p><p>
		這幾篇微軟 MVP 的介紹希望也是讓大家了解，MVP 是什麼、以及該不該花這個時間下去申請。
		</p><p>
		這篇先從介紹開始，先了解什麼是微軟 MVP，以及帶來的好處。
		</p><div class="bs-callout bs-callout-info">
			以下內容是我自己的看法，所以大家加鹽（a pinch of salt）來看看就好哦。
		</div></section>
		<section>
<a id="KMContentPageTopID" name="KMContentPageTopID"></a><div id="divKMOutline" style="border-style: groove none; margin: 10px 0px;"><ul style="margin:0px 0px 0px 20px"><li><a href="#WizKMOutline_1594168750306255" ;="" style="font-size: 15px; line-height: 1.6;">什麼是微軟 MVP (Microsoft Most Valuable Professional)？</a><br></li><li><a href="#WizKMOutline_1594168750306276" ;="" style="font-size: 15px; line-height: 1.6;">怎麼可以查到誰是不是 MVP？</a><br></li><li><a href="#WizKMOutline_1594168750306854" ;="" style="font-size: 15px; line-height: 1.6;">MVP 的領域是什麼？</a><br></li><li><a href="#WizKMOutline_1594168750306985" ;="" style="font-size: 15px; line-height: 1.6;">為什麼想要成為微軟 MVP？</a><br></li><li><a href="#WizKMOutline_1594168750306626" ;="" style="font-size: 15px; line-height: 1.6;">結語</a><br></li></ul></div>
		</section>
		<!--more-->
		<section><h2 id="WizKMOutline_1594168750306255">什麼是微軟 MVP (Microsoft Most Valuable Professional)？</h2><p>
		微軟 MVP 在英文全稱是：<em>Microsoft Most Valuable Professional</em>，中文則是：<em>微軟最有價值專家</em>，一般來說都會簡寫成為：<em>Microsoft MVP</em> 或者是 <em>微軟 MVP</em>。
		</p><p>
		官方的介紹是：
		</p><div class="bs-callout bs-callout-info">
			Microsoft 最有價值專家 (或 MVP) 是與社群熱情分享其知識的技術專家。他們總是走在「時代尖端」並不斷學習新穎的科技技術。他們深入了解 Microsoft 產品和服務，並同時將各種平台、產品和解決方案整合在一起來解決真實世界問題。由 MVP 組成的全球社群包含 90 個國家/地區 4,000 多位技術專家和社群領導者，這些人的熱情、社群精神和求知心推動著整個社群。除了出色的技術能力，最重要的是 MVP 總是願意協助他人，所以才與眾不同。
		</div><p></p><p>
		如果要劃幾個重點：
		</p><dl><dt>
				群熱情分享其知識的技術專家
			</dt><dd><p>
				我個人認為熱情分享很重要。因為樂於分享所以成為專家。想分享就會去努力學習，要不然寫不出東西 XD。
				</p><p>
				這邊的分享不是只是說轉發一些文章就好，而是有些原創的東西，或者有加入自己的一些見解。
				</p><p>
				所以，因為自己要懂才有辦法寫的出來，所以不知不覺就會熟悉這個東西進而變成專家。
				</p>
			</dd><dt>
				深入了解 Microsoft 產品和服務
			</dt><dd><p>
				既然是微軟的 MVP，那麼可能會認為一定要熟悉微軟的產品。
				</p><p>
				不過這段話我認為從開發的技術角度來說<strong><em>不是很精準</em></strong>。
				</p><p>
				因為，不一定要會 .NET 才可以成為微軟 MVP，後面介紹獎項的時候在更深入探討。
				</p></dd><dt>
				MVP 組成的全球社群包含 90 個國家/地區 4,000 多位技術專家和社群領導者	
			</dt><dd>
				<p>
				總體人數真的不多，因為是經過認真審核通過才能上。
				</p>
			</dd><dt>
				MVP 總是願意協助他人，所以才與眾不同
			</dt><dd><p>
				這點很重要，MVP 不是授予那些技術能力很強的人。而是<strong><em>樂於分享</em></strong>的技術專家。
				</p><p>
				所以能成為 MVP 一定是樂於分享。因為分享給被人自己要整理並且變成好理解的內容，這個過程式很好的學習方式。因此 MVP 都相對來說很強。
				</p><p>
				相信有很多高手是在民間，但是很有可能高手不想要分享，那這種情況也沒辦法選上。
				</p></dd>
		</dl><p></p><p>
		所以，簡單總結來說，微軟 MVP 就是一群喜歡分享的技術專家。
		</p><p>
		對我自己來說：分享是一種快樂的事情，取之於網路用之於網路，並且還能學習到東西，何樂而不為呢？
		</p>
		<p>
		還有一件事情是：<em>MVP 不是微軟員工</em>，是微軟想要讚揚、表彰和感謝對技術社群做出了傑出貢獻的頂尖技術專家而頒發的一個獎項。
		</p> 
		</section><section><h2 id="WizKMOutline_1594168750306276">怎麼可以查到誰是不是 MVP？</h2><p>
		可以從 官網查到 <a href="https://mvp.microsoft.com/zh-tw/MvpSearch">https://mvp.microsoft.com/zh-tw/MvpSearch</a>，可以透過關鍵字、領域或者地區來查到。
		</p><p>
		所以如果想要找到某個區域的 MVP 就可以透過搜索的方式來找到。
		</p><div class="bs-callout bs-callout-info">
			MVP 可以設定要不要公開 profile，可能公開的就搜索不到，所以數字就參考就好。
		</div><p>
		找到 MVP 之後，點進去可以看得到他的貢獻，例如下面是我的：
		</p><figure><img class="img-responsive" src="/posts/2020/07/2020-07-08-microsoft-mvp-01-what-is-microsoft-most-valuable-professional-should-you-apply-for-it/996b8e4e-8be0-4804-822c-04f7adb26aea.png" border="0" alt=""><br><figcaption>我的貢獻：<a href="http://mvp.alantsai.net/">http://mvp.alantsai.net/</a></figcaption></figure><p></p><div class="bs-callout bs-callout-info">
			這邊一樣 MVP 可以選擇要不要公開貢獻，所以看不到什麼貢獻可能只是 MVP 沒有公開 - 我有些就沒有公開。
		</div></section><section><h2 id="WizKMOutline_1594168750306854">MVP 的領域是什麼？</h2><p>
		其實微軟 MVP是有分的，取決於您分享是什麼，您的領域（Category）是不一樣的。
		</p><p>
		所以，以我為例，我是 Azure MVP，所以我中選的分享領域是在 Azure。
		</p><p>
		總共有 11 個領域，<em>不是只有微軟技術</em>並且<em>只有工程師</em>才可以得獎。
		</p><p>
		以 Developer Technologies 這個領域來說，就有包含像是 PHP、Python、Java 這些語言，所以 <em>不一定是微軟自己開發的技術 (.NET)</em>。微軟現在很擁抱並且推動開源社群，並且像 Azure 服務裡面有針對性的提供便利，例如可以用 Java 寫 Azure Function，用 Python 搭配 Bot Framework SDK 來寫 Azure Bot 等。
		</p><p>
		以 Office Apps &amp; Services 來說，就有 Word、Project 這些非技術的產品。
		</p><figure><img class="img-responsive" src="/posts/2020/07/2020-07-08-microsoft-mvp-01-what-is-microsoft-most-valuable-professional-should-you-apply-for-it/eae2f8a7-2d15-4131-9181-ea9ab7fdb54b.png" border="0" alt=""><br><figcaption>11個領域：<a href="https://mvp.microsoft.com/zh-tw/Pages/mvp-award-update">https://mvp.microsoft.com/zh-tw/Pages/mvp-award-update</a></figcaption></figure><p>
		詳細永遠看官網，因為時間在變，領域也在變。
		</p></section><section><h2 id="WizKMOutline_1594168750306985">為什麼想要成為微軟 MVP？</h2><p>
		其實我個人認為，微軟 MVP 就是一種微軟對於這些愛分享的人的一種 <em>肯定以及 support</em>。
		</p><p>
		我們都知道，嘗試新技術有時候都需要一些資源，例如您今天想要學 Azure，那總要有些 credit 才能夠用，如果您和我一樣沒有什麼錢，那麼您可能就只能夠透過申請試用來使用或者學習。
		</p><p>
		這件事情是滿花時間，而且因為試用的限制，有些是沒有辦法很好的嘗試。而成為 MVP 之後，微軟會給您 Azure 資源可以去用於嘗試、學習以及推廣。
		</p><p>
		再來就是，您可以和產品組的直接溝通上，了解最新情報，以及每年可以去西雅圖參加 MVP Global Summit，<em>只需要出機票錢就好了</em>，在那邊可以認識到全世界的 MVP。
		</p><p>
		其他公司以及產品也感謝這些 MVP 的貢獻，所以也會提供一些 support。
		</p><p>
		總結來說，有官方和非官方的 support
		</p><p>
		官方來說就會提供：
		</p><ol><li>MSDN 訂閱</li><li>Office 365 訂閱</li><li>可以和產品組直接溝通上</li><li>可以參加每年的 MVP Global Summit - 自己只需要出機票</li></ol> 
		還有很多其他好處，這邊只列出一些我覺得很吸引我的部分。
		<p></p><p>
		非官方來說：
		</p><ol><li>JetBrains 提供了所有產品的 License 給 MVP - ReSharper 免費使用</li><li>Pluralsight 提供了免費 Subscription 可以讓您學習更多技術</li><li>OzCode 提供免費的軟體讓您 debug linq 更容易</li></ol> 
		這邊只列出一些知名的開發工具，更詳細可以參考例如：<a href="https://www.xavierdecoster.com/mvpperks/">https://www.xavierdecoster.com/mvpperks/</a><p></p><p>
		最後，當然就是可以使用微軟 MVP 這個頭銜（簡報看起來就是帥 XD）。
		</p></section><section><h2 id="WizKMOutline_1594168750306626">結語</h2><p>
		這篇介紹了什麼是微軟 MVP，怎麼查找到 MVP的資料，不同的 MVP 領域以及成為 MVP 有什麼好處。
		</p><p>
		如果說，您已經有在分享的習慣，那麼何不考慮申請一下。
		</p><p>
		以我為例子，對我來說就是一個人身的里程碑，某種程度也是受到一種肯定讓您可以做下去（要不然說實在分享這麼多年，耗費了大量時間，沒有得到什麼反饋，很容易做不下去，畢竟總還是要吃飯 XD）
		，更不要說有一些資源 support、更容易了解最新情況，以及可以去 MVP Global Summit
		</p><p>
		如果上面有打動您，那麼下個問題就是，怎麼樣可以申請？這個我們下篇 (<a href="/posts/2020/08/microsoft-mvp-02-how-to-become-microsoft-mvp-what-is-the-nomination-process">[02] 怎麼選微軟 MVP？</a>) 在看看。
		</p></section></section>