Title: "[我和阿九(Azure)有約][24]Azure Storage Account、Blob類別、存取方式 基本介紹"
Published: 2019-10-10 21:00
Modified: 2019-10-10 21:00
Image: "/posts/2019/10/2019-10-10-video-tutorial-date-with-azure-24-azure-storage-account-blog-access-modifier/cover.png"
Tags: ["azure","「教學影片」","「我和阿九(Azure)有約」"]
Series: ["「教學影片」","「我和阿九(Azure)有約」"]
PostDescription: "在上一篇瞭解了Azure Storage提供了哪些服務之後。今天就比較深入的來看看Azure Blob Storage。先從幾個比較關鍵的概念開始 - 瞭解什麽東西會影響到費用"
---
<section>
<p>
在上一篇瞭解了Azure Storage提供了哪些服務之後
</p>
<p>
今天就比較深入的來看看Azure Blob Storage
先從幾個比較關鍵的概念開始 - 瞭解什麽東西會影響到費用
</p>
</section>
<section>
<div class="hidden-xs">
<iframe width="560" height="315" src="https://www.youtube.com/embed/Ms9WSg6EWT8" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>

<div class="visible-xs">
<iframe width="460" height="315" src="https://www.youtube.com/embed/Ms9WSg6EWT8" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
</section>