Title: "[我和阿九(Azure)有約][21]Azure Sql Database 如何設定 AlwaysOn"
Published: 2019-10-07 21:00
Modified: 2019-10-07 21:00
Image: "/posts/2019/10/2019-10-07-video-tutorial-date-with-azure-21-azure-sql-database-how-to-turn-on-always-on/cover.png"
Tags: ["azure","「教學影片」","「我和阿九(Azure)有約」"]
Series: ["「教學影片」","「我和阿九(Azure)有約」"]
PostDescription: "在上一篇看完了如何使用Data Migration Assistant把資料庫搬遷上去了之後。在運行上，肯定會很擔心高可用的問題。這篇來瞭解一下如何透過Geo-Replication設定Always On。並且如何模擬FailOver。來看看用PaaS的好處 - 幾個按鈕就搞定複雜的設定"
---
<section>
<p>
在上一篇看完了如何使用Data Migration Assistant把資料庫搬遷上去了之後
在運行上，肯定會很擔心高可用的問題
</p>
<p>
這篇來瞭解一下如何透過Geo-Replication設定Always On
並且如何模擬FailOver
</p>
<p>
來看看用PaaS的好處 - 幾個按鈕就搞定複雜的設定
</p>
</section>
<section>
<div class="hidden-xs">
<iframe width="560" height="315" src="https://www.youtube.com/embed/Rnnne6UuRuI" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>

<div class="visible-xs">
<iframe width="460" height="315" src="https://www.youtube.com/embed/Rnnne6UuRuI" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
</section>