Title: "[我和阿九(Azure)有約][16]Web App CORS 設定"
Published: 2019-10-02 21:00
Modified: 2019-10-02 21:00
Image: "/posts/2019/10/2019-10-02-video-tutorial-date-with-azure-16-web-app-web-api-how-to-set-cors/cover.png"
Tags: ["azure","「教學影片」","「我和阿九(Azure)有約」"]
Series: ["「教學影片」","「我和阿九(Azure)有約」"]
PostDescription: "在上一篇介紹了如何透過Visual Studio 做 Remote Debugging。這一篇介紹一下Web API長用到的設定。怎麽設定CORS (Cross-Origin Resource Sharing)"
---
<section>
<p>
在上一篇介紹了如何透過Visual Studio 做 Remote Debugging
</p>
<p>
這一篇介紹一下Web API長用到的設定
怎麽設定CORS (Cross-Origin Resource Sharing)
</p>
</section>
<section>
<div class="hidden-xs">
<iframe width="560" height="315" src="https://www.youtube.com/embed/YZnHueAZniI" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>

<div class="visible-xs">
<iframe width="460" height="315" src="https://www.youtube.com/embed/YZnHueAZniI" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
</section>