Title: "[我和阿九(Azure)有約][20]Azure Sql Database 資料庫搬遷上雲 使用 Data Migration Assistant"
Published: 2019-10-06 21:00
Modified: 2019-10-06 21:00
Image: "/posts/2019/10/2019-10-06-video-tutorial-date-with-azure-20-azure-sql-database-migrate-db-to-cloud-using-data-migration-assistant-dma/cover.png"
Tags: ["azure","「教學影片」","「我和阿九(Azure)有約」"]
Series: ["「教學影片」","「我和阿九(Azure)有約」"]
PostDescription: "在上一篇介紹完了如何自己產生Sql Script以及用bacpac的方式來做資料migration。這篇來介紹另外一個工具，Data Migration Assistant。讓資料庫上雲不會卡卡。來看看它能夠做到什麽，以及有什麽不同"
---
<section>
<p>
在上一篇介紹完了如何自己產生Sql Script以及用bacpac的方式來做資料migration
這篇來介紹另外一個工具，Data Migration Assistant
讓資料庫上雲不會卡卡
</p>
<p>
來看看它能夠做到什麽，以及有什麽不同
</p>
</section>
<section>
<div class="hidden-xs">
<iframe width="560" height="315" src="https://www.youtube.com/embed/tqDqqBILXxk" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>

<div class="visible-xs">
<iframe width="460" height="315" src="https://www.youtube.com/embed/tqDqqBILXxk" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
</section>