Title: "[我和阿九(Azure)有約][23]Azure Storage 基本介紹"
Published: 2019-10-09 21:00
Modified: 2019-10-09 21:00
Image: "/posts/2019/10/2019-10-09-video-tutorial-date-with-azure-23-azure-storage-intro/cover.png"
Tags: ["azure","「教學影片」","「我和阿九(Azure)有約」"]
Series: ["「教學影片」","「我和阿九(Azure)有約」"]
PostDescription: "在上一篇介紹完了Azure SQL Database在費用計算上面的方式。暫時來説，Azure SQL Database就介紹到這邊。那對於一個軟體來説另外一個遇到問題就是，我的檔案要儲存在那邊？這篇來看一下Azure Storage的一個基本的介紹"
---
<section>
<p>
在上一篇介紹完了Azure SQL Database在費用計算上面的方式
暫時來説，Azure SQL Database就介紹到這邊
</p>
<p>
那對於一個軟體來説另外一個遇到問題就是，我的檔案要儲存在那邊？
這篇來看一下Azure Storage的一個基本的介紹
</p>
</section>
<section>
<div class="hidden-xs">
<iframe width="560" height="315" src="https://www.youtube.com/embed/6yjAniutgxo" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>

<div class="visible-xs">
<iframe width="460" height="315" src="https://www.youtube.com/embed/6yjAniutgxo" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
</section>