Title: "[我和阿九(Azure)有約][29]Azure Storage 使用Access Policy 來管理 SAS"
Published: 2019-10-15 21:00
Modified: 2019-10-15 21:00
Image: "/posts/2019/10/2019-10-15-video-tutorial-date-with-azure-29-azure-storage-use-access-policy-to-manage-sas/cover.png"
Tags: ["azure","「教學影片」","「我和阿九(Azure)有約」"]
Series: ["「教學影片」","「我和阿九(Azure)有約」"]
PostDescription: "上一篇介紹完了 SAS - 相信對於針對單一檔案開放權限應該沒什麽問題啦。但是，只是用SAS其實在管理上面不是很方便。Access Policy是爲了解決這個問題。這篇來看一下他可以做到什麽事情哦"
---
<section>
<p>
上一篇介紹完了 SAS - 相信對於針對單一檔案開放權限應該沒什麽問題啦
但是，只是用SAS其實在管理上面不是很方便
</p>
<p>
Access Policy是爲了解決這個問題
這篇來看一下他可以做到什麽事情哦
</p>
</section>
<section>
<div class="hidden-xs">
<iframe width="560" height="315" src="https://www.youtube.com/embed/0bgmazy2tsY" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>

<div class="visible-xs">
<iframe width="460" height="315" src="https://www.youtube.com/embed/0bgmazy2tsY" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
</section>