Title: "[我和阿九(Azure)有約][17]Azure Sql Database 基本介紹"
Published: 2019-10-03 21:00
Modified: 2019-10-03 21:00
Image: "/posts/2019/10/2019-10-03-video-tutorial-date-with-azure-17-azure-sql-database-intro/cover.png"
Tags: ["azure","「教學影片」","「我和阿九(Azure)有約」"]
Series: ["「教學影片」","「我和阿九(Azure)有約」"]
PostDescription: "在上一篇介紹完了Azure App Service的CORS設定之後。基本上App Service服務差不多了 - 還有一些細節以及監控相關就之後在介紹。這一篇來介紹所有軟體會需要的一個服務，也就是儲存資料用的資料庫。來看看Azure提供了哪些SQL相關的服務"
---
<section>
<p>
在上一篇介紹完了Azure App Service的CORS設定之後
基本上App Service服務差不多了 - 還有一些細節以及監控相關就之後在介紹
</p>
<p>
這一篇來介紹所有軟體會需要的一個服務，也就是儲存資料用的資料庫
來看看Azure提供了哪些SQL相關的服務
</p>
</section>
<section>
<div class="hidden-xs">
<iframe width="560" height="315" src="https://www.youtube.com/embed/EPoeF62zOeg" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>

<div class="visible-xs">
<iframe width="460" height="315" src="https://www.youtube.com/embed/EPoeF62zOeg" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
</section>