Title: "[我和阿九(Azure)有約][18]Azure Sql Database 建立第一個Database"
Published: 2019-10-04 21:00
Modified: 2019-10-04 21:00
Image: "/posts/2019/10/2019-10-04-video-tutorial-date-with-azure-18-azure-sql-database-create-first-database/cover.png"
Tags: ["azure","「教學影片」","「我和阿九(Azure)有約」"]
Series: ["「教學影片」","「我和阿九(Azure)有約」"]
PostDescription: "在上一篇介紹完了Azure Sql Database的基本概念之後。接下來就是實際操作建立起來是什麽感覺。這篇來看看如何建立一個Azure Sql Database"
---
<section>
<p>
在上一篇介紹完了Azure Sql Database的基本概念之後
接下來就是實際操作建立起來是什麽感覺
</p>
<p>
這篇來看看如何建立一個Azure Sql Database
</p>
</section>
<section>
<div class="hidden-xs">
<iframe width="560" height="315" src="https://www.youtube.com/embed/bboWrGMCU9k" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>

<div class="visible-xs">
<iframe width="460" height="315" src="https://www.youtube.com/embed/bboWrGMCU9k" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
</section>