Title: "[我和阿九(Azure)有約][19]Azure Sql Database 資料庫搬遷上雲 使用script以及bacpac"
Published: 2019-10-05 21:00
Modified: 2019-10-05 21:00
Image: "/posts/2019/10/2019-10-05-video-tutorial-date-with-azure-19-azure-sql-database-migrate-db-to-cloud-using-script-and-bacpac/cover.png"
Tags: ["azure","「教學影片」","「我和阿九(Azure)有約」"]
Series: ["「教學影片」","「我和阿九(Azure)有約」"]
PostDescription: "在上一篇介紹完了如何在Azure建立SQL Server以及Azure SQL Database。並且看了如何使用SSMS連線上去。但是，如果現有資料上不去的話，其實沒有任何意義。所以，這篇來看一下如何做資料Migration - 先從用scripts以及bacpac開始"
---
<section>
<p>
在上一篇介紹完了如何在Azure建立SQL Server以及Azure SQL Database
並且看了如何使用SSMS連線上去
</p>
<p>
但是，如果現有資料上不去的話，其實沒有任何意義
所以，這篇來看一下如何做資料Migration - 先從用scripts以及bacpac開始
</p>
</section>
<section>
<div class="hidden-xs">
<iframe width="560" height="315" src="https://www.youtube.com/embed/bKslMcJIcYQ" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>

<div class="visible-xs">
<iframe width="460" height="315" src="https://www.youtube.com/embed/bKslMcJIcYQ" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
</section>