Title: "[我和阿九(Azure)有約][25]Azure Storage 建立 Azure Blob Storage"
Published: 2019-10-11 21:00
Modified: 2019-10-11 21:00
Image: "/posts/2019/10/2019-10-11-video-tutorial-date-with-azure-25-azure-storage-create-blob-storage/cover.png"
Tags: ["azure","「教學影片」","「我和阿九(Azure)有約」"]
Series: ["「教學影片」","「我和阿九(Azure)有約」"]
PostDescription: "在上一篇瞭解了整個Azure Blob Storage的組成了之後。這篇來實際看一下建立出一個Azure Storage Account、建立Container、上傳檔案到Container是什麽感覺"
---
<section>
<p>
在上一篇瞭解了整個Azure Blob Storage的組成了之後
</p>
<p>
這篇來實際看一下:
<ul>
    <li>建立出一個Azure Storage Account</li>
    <li>建立Container</li>
    <li>上傳檔案到Container是什麽感覺</li>
</ul>
</p>
</section>
<section>
<div class="hidden-xs">
<iframe width="560" height="315" src="https://www.youtube.com/embed/mXY2dUZilP4" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>

<div class="visible-xs">
<iframe width="460" height="315" src="https://www.youtube.com/embed/mXY2dUZilP4" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
</section>