Title: "[我和阿九(Azure)有約][15]Web App 怎麽對部署上去的程式碼進行偵錯"
Published: 2019-10-01 21:00
Modified: 2019-10-01 21:00
Image: "/posts/2019/10/2019-10-01-video-tutorial-date-with-azure-15-web-app-how-to-debug-publish-code/cover.png"
Tags: ["azure","「教學影片」","「我和阿九(Azure)有約」"]
Series: ["「教學影片」","「我和阿九(Azure)有約」"]
PostDescription: "在上一篇介紹了一些azure的diagnosis工具來偵錯問題。但是有時候還是會希望像是在local debug一樣的來偵錯。是否能夠做到呢？這篇來看看remote debugging的功能"
---
<section>
<p>
在上一篇介紹了一些azure的diagnosis工具來偵錯問題
</p>
<p>
但是有時候還是會希望像是在local debug一樣的來偵錯
是否能夠做到呢？
這篇來看看remote debugging的功能
</p>
</section>
<section>
<div class="hidden-xs">
<iframe width="560" height="315" src="https://www.youtube.com/embed/YkKUGCl_TNg" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>

<div class="visible-xs">
<iframe width="460" height="315" src="https://www.youtube.com/embed/YkKUGCl_TNg" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
</section>