Title: "[我和阿九(Azure)有約][26]Azure Storage Azure Storage Explorer"
Published: 2019-10-12 21:00
Modified: 2019-10-12 21:00
Image: "/posts/2019/10/2019-10-12-video-tutorial-date-with-azure-26-azure-storage-azure-storage-explorer/cover.png"
Tags: ["azure","「教學影片」","「我和阿九(Azure)有約」"]
Series: ["「教學影片」","「我和阿九(Azure)有約」"]
PostDescription: "在上一篇瞭解了如何在Azure Portal建立出Account。並且在Portal上面對Blob進行了簡單操作。不過如果今天要管理很多Account用Portal不便利。這篇來看看另外一個工具，Azure Storage Explorer。看看能夠做到什麽"
---
<section>
<p>
在上一篇瞭解了如何在Azure Portal建立出Account
並且在Portal上面對Blob進行了簡單操作
</p>
<p>
不過如果今天要管理很多Account用Portal不便利
這篇來看看另外一個工具，Azure Storage Explorer
看看能夠做到什麽
</p>
</section>
<section>
<div class="hidden-xs">
<iframe width="560" height="315" src="https://www.youtube.com/embed/hIfKsASNrv8" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>

<div class="visible-xs">
<iframe width="460" height="315" src="https://www.youtube.com/embed/hIfKsASNrv8" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
</section>