Title: "[我和阿九(Azure)有約][22]Azure Sql Database 費用這件事"
Published: 2019-10-08 21:00
Modified: 2019-10-08 21:00
Image: "/posts/2019/10/2019-10-08-video-tutorial-date-with-azure-22-azure-sql-database-about-price-model/cover.png"
Tags: ["azure","「教學影片」","「我和阿九(Azure)有約」"]
Series: ["「教學影片」","「我和阿九(Azure)有約」"]
PostDescription: "在上一篇介紹完了如何設定Always On了之後。Azure SQL Database應該聽起來都是一個很好的選擇。這時候就會遇到一個問題，那它的費用模式是如何？怎麽收費？怎麽切換等級？這篇來看看"
---
<section style="display: none;">
  <div class="summarySnippet">
    <h3>Azure SQL Database 費用這件事</h3>
    <div class="ss-content">
      <p>
        Azure SQL Database 屬於 PaaS 的 SQL Database 服務，意味著很多的事情是不用自己來管理，只要會用就好。
      </p>
      <p>
          不過自己不用做，肯定是別人要幫忙管理，那就會牽扯到費用問題。
      </p>
      <p>
          或許就會延伸以下的一些問題：
        <ol>
          <li>費用模式是什麼？</li>
          <li>應該怎麼選擇？</li>
          <li>怎麼收費？</li>
          <li>怎麼調整費用？</li>
        </ol>
      </p>
    </div>
    <meta name = "ss-Language" content = "Chinese">
    <meta name="ss-queries" content = "Azure SQL Database 費用,Azure SQL Database 怎麼省錢,Azure SQL Database 調整收費方式">
  </div>
</section>

<section>
<p>
在上一篇介紹完了如何設定Always On了之後
Azure SQL Database應該聽起來都是一個很好的選擇
</p>
<p>
這時候就會遇到一個問題，那它的費用模式是如何？
怎麽收費？怎麽切換等級？

這篇來看看
</p>
</section>
<section>
<div class="hidden-xs">
<iframe width="560" height="315" src="https://www.youtube.com/embed/S8ACsijuqGI" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>

<div class="visible-xs">
<iframe width="460" height="315" src="https://www.youtube.com/embed/S8ACsijuqGI" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
</section>