Title: "[我和阿九(Azure)有約][30]Azure 番外篇 - Retro"
Published: 2019-10-16 21:00
Modified: 2019-10-16 21:00
Image: "/posts/2019/10/2019-10-16-video-tutorial-date-with-azure-30-special-retro-about-series/cover.png"
Tags: ["azure","「教學影片」","「我和阿九(Azure)有約」"]
Series: ["「教學影片」","「我和阿九(Azure)有約」"]
PostDescription: "這篇算是個番外篇。鐵人賽30天算是結束了，今天直接來個大亂入。這30天以來非常感謝給與我訂閲的大家 - 讓我可以在這個月每個指標都是 999% XD。這篇，看看這30天以來得到的結果是什麽，以及和大家分享一下一些可以期待的東西。別慌，這個系列不會結束，所以有興趣還是可以持續關注哦"
---
<section>
<p>
這篇算是個番外篇
鐵人賽30天算是結束了，今天直接來個大亂入

</p>
<p>
這30天以來非常感謝給與我訂閲的大家 - 讓我可以在這個月每個指標都是 999% XD
這篇，看看這30天以來得到的結果是什麽，以及和大家分享一下一些可以期待的東西

別慌，這個系列不會結束，所以有興趣還是可以持續關注哦
</p>
</section>
<section>
<div class="hidden-xs">
<iframe width="560" height="315" src="https://www.youtube.com/embed/1NbdNp5V180" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>

<div class="visible-xs">
<iframe width="460" height="315" src="https://www.youtube.com/embed/1NbdNp5V180" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
</section>