/*Index 頁面每篇最下面資訊的style*/
.post-preview > .post-meta{
    font-style: normal;
    background-color: #f9f9f9;
    padding: 5px;
    margin-top: 10px;
}

/*Index 頁面，把標題和内文做一點切割*/
.post-title{
    padding-bottom: 20px;
}

/*Index 頁面，tag滑上去的style*/
.post-preview > .post-meta > a:hover, .post-preview > .post-meta > a:focus{
    background-color: #337ab7;
    border: 1px solid #337ab7;
    color: white;
}

/*内頁 - 文章相關資訊的字體*/
.intro-header .post-heading .meta{
    font-style: normal;
}

/*上面header的占比*/
@media only screen and (min-width: 768px) {
    .intro-header .site-heading,
    .intro-header .post-heading,
    .intro-header .page-heading {
      padding: 100px 0px 90px 0px;
    }
}