Title: "[新手攻略] 2020 年 雙 11 為什麼要在京東台灣買？怎麼搶卷以及買到便宜商品。"
Published: 2020-11-10 19:00
Modified: 2020-11-10 19:00
Image: "/posts/2020/11/2020-11-10-buy-how-to-get-voucher-and-buy-cheap-in-jingdong/78c886d3-db7d-45b1-b69e-7a391688c900.jpg"
Tags: ["買東西攻略","「2020雙11」"]
Series: ["買東西攻略","「2020雙11」"]
PostDescription: "好久沒有買東西了，今年算是最近買最多的時候，都快買3萬多塊，都貢獻在京東了。這篇先來看看為什麼考慮在京東買，以及如果要買的話應該什麼方式進行。"
---
<section><figure><img class="img-responsive" src="/posts/2020/11/2020-11-10-buy-how-to-get-voucher-and-buy-cheap-in-jingdong/78c886d3-db7d-45b1-b69e-7a391688c900.jpg" border="0" alt=""><br><figcaption>雙 11</figcaption></figure><p>
		這篇出現的有點晚了，畢竟在一下就快到雙 11 了。我猶豫了一下到底要不要寫這篇，不過想了想，雙 11 到 13號才結束，或者錯過了雙 11 還有雙 12 對吧，可能優惠都是類似。
		</p><p>
		所以想說還是記錄一下，假設想要買電子產品，然後又和我一樣預算有限的話，那麼其實可以考慮從京東入手，真的便宜很多。
		</p><p>
		這篇就看一下，假設今天想從京東買，可以注意什麼，然後怎麼買（基本上都是搭配搶卷）比較划算。
		</p><div class="bs-callout bs-callout-warning">
			以下內容都是個人感受，所以大家看的時候還是保持懷疑的態度，重點是如果會怕的話，還是不要嘗試，小弟我也擔不起責任。	
		</div></section>

		<section>
<a id="KMContentPageTopID" name="KMContentPageTopID"></a><div id="divKMOutline" style="border-style: groove none; margin: 10px 0px;"><ul style="margin:0px 0px 0px 20px"><li><a href="#WizKMOutline_1605013673541411" ;="" style="font-size: 15px; line-height: 1.6;">為什麼會想要在京東買東西？好處是什麼？</a><br></li><li><a href="#WizKMOutline_1605013673541549" ;="" style="font-size: 15px; line-height: 1.6;">怎麼樣可以簡單領到優惠的卷</a><br></li><ul><li><a href="#WizKMOutline_1605013673541602" ;="" style="font-size: 15px; line-height: 1.6;">新人帳號</a></li><li><a href="#WizKMOutline_1605013673541177" ;="" style="font-size: 15px; line-height: 1.6;">台灣會場領劵</a></li><li><a href="#WizKMOutline_1605013673541296" ;="" style="font-size: 15px; line-height: 1.6;">社團的卷</a></li><li><a href="#WizKMOutline_1605013673541224" ;="" style="font-size: 15px; line-height: 1.6;">玩一些遊戲領運費卷</a></li></ul><li><a href="#WizKMOutline_1605013673541812" ;="" style="font-size: 15px; line-height: 1.6;">其他注意事項</a><br></li><li><a href="#WizKMOutline_1605013673541572" ;="" style="font-size: 15px; line-height: 1.6;">結語</a><br></li></ul></div>
		</section>
		<!--more-->
		<section><h2 id="WizKMOutline_1605013673541411">為什麼會想要在京東買東西？好處是什麼？</h2><p>
		在說怎麼買可以買到便宜之前，要先說一下，為什麼可能會想要在京東買東西，而不是從台灣直接買？
		</p><dl><dt>
				比較便宜
			</dt><dd><p>
				相信這個都是大家第一個想到的原因，就是買起來比較便宜，而實際上如果買的時間對，真的很便宜。
				</p><p>
				舉個例子來說，像筆電聯想的小新 Air 14：R5 4600U、16 GB 記憶體、512 GB SSD 猜猜看要多少錢？
				</p><figure><img class="img-responsive" src="/posts/2020/11/2020-11-10-buy-how-to-get-voucher-and-buy-cheap-in-jingdong/ff309196-e5ff-4fe8-ad3d-9ee70e468767.jpg" border="0" alt=""><br><figcaption>小新 Air 14</figcaption></figure><p>
				只要 <em>4666</em> 人民幣，折合台幣大約<em>2 萬元</em>，這還不包括如果你有券（我看到最優的卷可以減少 300 人民幣）以及搭配銀行信用卡（使用永豐大戶有 8%，扣掉海外手續費還有 6.5%）。
				</p><p>
				所以，實際上，如果扣一釦，到手差不多 4666 - 300 * 0.935 = 4082.21 人民幣，台幣大約是<em><strong>1 萬 8</strong></em>。這還不包括如果你有參加一些活動有京豆可以扣。
				</p><div class="bs-callout bs-callout-info">
					我看到都好想買，還好忍住了，在買要吃土了。
				</div><p>
				所以真的很便宜，在雙11的時候，還有預約商品免運，一堆人買音響真的都賺到了。（這個在這篇撰寫的時候應該已經結束了，不過可以期待雙12）。
				</p><p>
				筆電是個例子，其他像是手錶、手機、耳機、平板、機械鍵盤、吸塵器等真的都很便宜。
				</p></dd><dt>
				保固這件事
			</dt><dd><p>
				電子產品最怕遇到的是保固的問題，畢竟人如果倒霉，買啥都會壞 Orz。
				</p><p>
				如果今天是透過購買<em><strong>京東自營</strong></em>商品，然後送到台灣，那麼會有：
				</p><ol><li>收貨7天內非人為質量問題免費退貨</li><li>1年內非人為質量問題本地維修補</li></ol><p></p><p>
				所以，雖然相比台灣買比較麻煩一些，但是至少有個售後服務比較安心。
				</p><div class="bs-callout bs-callout-warning">
					必須說，我沒有用過這個售後，所以問題會不會很多我也不知道。
				</div></dd><dt>
				付款方式
			</dt><dd><p>
				如果地址是台灣地址，那麼可以使用國際信用卡，也就是台灣信用卡。
				</p><p>
				這個時候就可以看一些海外刷卡很優的卡片，例如永豐的大戶（8%），玉山的 U Bear （3.8%）。
				</p><p>
				相比於淘寶，京東本身是不收手續費（但是信用卡公司會收 1.5%）。
				</p></dd><dt>
				寄送方式
			</dt><dd><p>
				如果買的是京東的物流，那麼是直送到你家。
				</p><p>
				相比於自己搞集運，直送到家實在是在太方便了。
				</p><p>
				並且目前購買 <em>299</em> 免運費。
				</p><p>
				一般來說送到台灣時間是 7~10 天。
				</p><p>
				到台灣這邊是新竹貨運在送。
				</p></dd><dt>
				保價概念
			</dt><dd><p>
				買東西最嘔的時候就是剛買完，就降價。
				</p><p>
				京東買東西有保價，如果是京東自營的話，我記得是 7 天內保價。
				</p><div class="bs-callout bs-callout-warning">
					這個當然有些條款，不過以我這次為例，已經有保價成功一些商品。
				</div></dd></dl></section><section><h2 id="WizKMOutline_1605013673541549">怎麼樣可以簡單領到優惠的卷</h2><p>
		如果上面有打動到你的話，那想先別急著購買，可以看一下什麼方式可以得到優惠的卷，尤其是新人帳號的時候，可別錯過了。
		</p><section><h3 id="WizKMOutline_1605013673541602">新人帳號</h3><p>
			新人帳號顧名思義就是一個從來沒有買過東西的帳號。
			</p><p>
			新人帳號可以得到很多很優的卷，但是有幾個地方要注意一下：
			</p><dl><dt>
					先領完新人禮包
				</dt><dd>
					千萬記得，<em>先領完新人禮包</em>在去買東西，有些時候社團分享的卷只有新人才能領，所以要記得
				</dd><dt>
					最好使用手機註冊帳號
				</dt><dd>
					這個是我個人的經驗，用 PC 有時候會怪怪的
				</dd><dt>
					註冊新人帳號的手機最好是新的沒有用過京東
				</dt><dd>
					如果一頻繁註冊是有黑戶的可能，所以這個時候多利用小米的APP雙重開啟，或者新手機註冊
				</dd></dl><div class="bs-callout bs-callout-warning">
				黑戶後面提到，如果一直領不到卷有可能是因為進入黑戶了。還有一種可能是同類型的卷太多所以不給領了。
			</div><p></p><p>
			新人禮包可以在以下幾個地方領到：
			</p><ol><li>
					新人禮包頁 - <a href="https://pro.jd.com/mall/active/3G7k9LRGDCqEP5ZAbEzZTv82aG3C/index.html">https://pro.jd.com/mall/active/3G7k9LRGDCqEP5ZAbEzZTv82aG3C/index.html</a><figure><img class="img-responsive" src="/posts/2020/11/2020-11-10-buy-how-to-get-voucher-and-buy-cheap-in-jingdong/a6a918c1-f318-4368-904d-468df63a2da2.jpg" border="0" alt=""><br><figcaption>新人禮包</figcaption></figure></li><li>Visa 新人卷 （不一定需要用 Visa 卡） - <a href="https://pro.jd.com/mall/active/GKupgQaKdRt8LryXpSjCB8w3LHF/index.html">https://pro.jd.com/mall/active/GKupgQaKdRt8LryXpSjCB8w3LHF/index.html</a><figure><img class="img-responsive" src="/posts/2020/11/2020-11-10-buy-how-to-get-voucher-and-buy-cheap-in-jingdong/72dc4cfa-d354-40bb-9d15-5a2a17c502d5.jpg" border="0" alt=""><br><figcaption>Visa - 每天 00:00 和 12:00 搶</figcaption></figure></li><li>社團發出來的卷 - 這個要加入社團可以拿到第一手資訊，後面提。</li></ol><p></p><div class="bs-callout bs-callout-info">
				新手還有一個福利，第一次購買可以以 9.9 元在<em>京東國際</em>買到商品（是買到什麼每天輪換，可以參考一下），別錯過了。
				<a href="https://shop.m.jd.com/?shopId=10238445&amp;cu=true&amp;utm_source=l.facebook.com&amp;utm_medium=jingfen&amp;utm_campaign=t_1001853119_&amp;utm_term=c80c9f6923e9411fae348ecd7f160804">搶購鏈接</a><figure><img class="img-responsive" src="/posts/2020/11/2020-11-10-buy-how-to-get-voucher-and-buy-cheap-in-jingdong/d54b6ca8-80bd-4bb0-b67b-0fa014ca70eb.jpg" border="0" alt=""><br><figcaption>京東國際的進入點</figcaption></figure></div><p>
			理論上，最少這個時候應該會拿到：
			</p><ol><li>199 - 100：這個同等於 5 折</li><li>50 運費卷：搭配上面那個就不需要任何運費</li></ol> 
			如果在社群也有拿到優惠碼，有時候更多，像我有拿過 299 - 150 以及在一張 199 - 100。
			<p></p></section><section><h3 id="WizKMOutline_1605013673541177">台灣會場領劵</h3><p>
			畢竟買過一次就變成了舊人，這個時候就要從會場去領劵。
			</p><p>
			可以從<a href="https://pro.jd.com/mall/active/3M9L7PRxbp4A3Hy7iV8mPmtUgQuZ/index.html">https://pro.jd.com/mall/active/3M9L7PRxbp4A3Hy7iV8mPmtUgQuZ/index.html</a></p><p>
			或者是從官網的一個頁面進去：
			</p><figure><img class="img-responsive" src="/posts/2020/11/2020-11-10-buy-how-to-get-voucher-and-buy-cheap-in-jingdong/28d1f5e6-da86-44cc-a872-9ef7b380b791.jpg" border="0" alt=""><br><figcaption>首頁進入到會場</figcaption></figure><p></p><p>
			這邊會有一些卷可以搶，不過都有時間限制。
			</p><p>
			記得每天 00:00 來刷一下，舉例來說，這邊我有搶到過 199-100、1500-200、2000-300 的卷，都很殺。
			</p><div class="bs-callout bs-callout-info">
				記得用手機的方式進去，因為網站有時候會挑不出來，手機 app 比較准。
			</div></section><section><h3 id="WizKMOutline_1605013673541296">社團的卷</h3><p>
			在台灣，京東是有粉絲專頁以及社群，也可以私訊來問小編問題。
			</p><p>
			也常常舉辦一些活動可以參考。
			</p><p>
			建議都可以加入，並且也有一個 Line 社團，裡面有很多大大們會分享買到了什麼，以及有券也會分享。
			</p><p>
			例如，299-150（新人才有），999-200 之類的，50 運費卷。
			</p><dl><dt>
					一起京東剁手手
				</dt><dd><a href="https://www.facebook.com/groups/2586166861663222">FB Group</a></dd><dt>
					京東臺灣「爆品秒殺」
				</dt><dd><a href="https://www.facebook.com/groups/894880974194658">官方論壇</a></dd><dt>
					京東台灣
				</dt><dd><a href="https://www.facebook.com/jingdong.taiwan">官方帳號</a></dd><dt>
					京東台灣購物情報
				</dt><dd><a href="https://line.me/ti/g2/ofnl7p6Oc2P9FfnhDuVvaw?utm_source=invitation&amp;utm_medium=link_copy&amp;utm_campaign=default&amp;fbclid=IwAR0G-9fVwN4ncOZPjjvPU1kAxlkrkJ-jwMO3ROm1n9RsZ1lwy5ch79ydl2w">Line 群</a></dd></dl><p>
			有一些卷的鏈接（還不確定搶完了沒）
			</p><ol><li><a href="https://www.facebook.com/groups/2586166861663222/permalink/2786046315008608/?__cft__[0]=AZUZDdZ6cST9jCr2bWymPRS2WPV7VC99NAQv93TKPXiqhLtffI7UWpxF88mdUA7Svt6dvq6YXl-XFjzKMSKmYgnAGt1cIB7JtVg63J1EU4wZ3OFozL14tcmffMp1mtD106D_MbE9W62v-0QLXTbxukVM6afdwzI-CHZOBcrew7D44TFMhtEoVV8t4BiDtwSDVoY&amp;__tn__=%2CO%2CP-R">999-200</a></li><li><a href="https://www.facebook.com/groups/2586166861663222/permalink/2785177448428828/?__cft__[0]=AZWPUmvefdpP4WicfZcLgbOdTI1gLo9nzcvy_7dH4bvDDCcuH637iSv9tWlCv-SAPUWT3nKxGMN0YgDLFbZzRYMyl6l2VAqGZYfZypAReVGr6jxWAuTQgeT2i29R4yh310kcDCrkbsq0Frz68_GMmRzcCGIVFdrS9jC36A0-P4rCzTy6eze1E1qEzZfTFOnMtRg&amp;__tn__=%2CO%2CP-R">888-128</a></li><li><a href="https://www.facebook.com/groups/2586166861663222/permalink/2784301615183078/?__cft__[0]=AZVXUz3CL97Rqh0BKbIcKgID8TsWqQIYlgA7P0TOC7aBKpUPJsXvkK3kak4HN-VsvgyLGrtxk1WrldtBqcYkRoh0pcHTnO4rovx20EGED8BfMTrq4mVnvywsqzttv4tT0u6wzo8aPSprmaRvZQXxzOuZvuofjK7sAfwFS8VNy7ItpxZrV0P3f2eSrVFdmW-9B68&amp;__tn__=%2CO%2CP-R">新人 199-100、50 運費卷</a></li><li><a href="https://www.facebook.com/groups/2586166861663222/permalink/2784267088519864/?__cft__[0]=AZW37oTsj2Mc0FoQRYK0hsf-3AXW4CeE1P9nVwH0FTdBd-zRlSbOVNJS9bEKr9wsxf4o-3-XFAN3v2zLgg1-J370-N3nIMNBGP7w3k-5XRDyY8i8DJLYnAR7Jj0fdyPbBXRaDP9XwE-GrQdwC6oI6yR4WS_0kAWbW4W97v7r8S4Nw7U6mUR4om7sZA2ThxZRw4s&amp;__tn__=%2CO%2CP-R">299-80、50 運費卷、199-50</a></li></ol><p></p></section><section><h3 id="WizKMOutline_1605013673541224">玩一些遊戲領運費卷</h3><p>
			這個是雙 11 的活動，可以去做任務然後換運費卷。
			</p><p>
			一張可以抵 8 元。
			</p><p>
			我自己的經驗是一天大概兩張就領不太到了。
			</p><p>
			這個透過手機進去台灣的會場，在左邊才可以點到：
			</p><figure><img class="img-responsive" src="/posts/2020/11/2020-11-10-buy-how-to-get-voucher-and-buy-cheap-in-jingdong/7a0b9880-def0-4eba-be92-54a2e06e0ecb.jpg" border="0" alt=""><br><figcaption>手機操作</figcaption></figure><p></p></section><p>
		還有其他一些活動，但是有些就要花比較多時間，所以我就不介紹了。
		</p><p>
		也可以參考官方雙 11 的攻略：<a href="https://pro.jd.com/mall/active/pXdMCDbiEHPaVEAEmSG9Gw554PS/index.html">https://pro.jd.com/mall/active/pXdMCDbiEHPaVEAEmSG9Gw554PS/index.html</a></p></section><section><h2 id="WizKMOutline_1605013673541812">其他注意事項</h2><dl><dt>
				如果註冊完不能夠領取新人卷
			</dt><dd><p>
				代表您的帳號可能進入黑戶，避免方式就是，<em>盡量不要一直登出登入帳號</em>（可以考慮用小米的 app 雙開）。
				</p><p>
				如果真的黑戶了，可以聯絡粉絲頁的小編可以幫忙處理，但是要一些時間。
				</p></dd><dt>
				如果有時間可以加群刷京豆
			</dt>
			
			<dd>
				<p>
				可以最多抵掉 50% 的費用，貌似也蠻簡單但是我沒有研究過。有興趣可以從 Line 群或者 FB 找到加入方式。
				</p>
			</dd>

			<dt>
				記得要購買自營商品
			</dt><dd>
				<p>
買的時候要注意是不是自營商品，基本上物流是自營商品才有免運費那些可以用，然後售後也是自營才有上面提到的那些保固。
				<figure><img class="img-responsive" src="/posts/2020/11/2020-11-10-buy-how-to-get-voucher-and-buy-cheap-in-jingdong/7341dce7-54b2-4ba8-83e2-6c52ac24f82d.jpg" border="0" alt=""><br><figcaption>搜索的時候可以過濾</figcaption></figure><figure><img class="img-responsive" src="/posts/2020/11/2020-11-10-buy-how-to-get-voucher-and-buy-cheap-in-jingdong/512be1e9-eb0a-4c2d-b3ff-71a0e79bd9a0.jpg" border="0" alt=""><br><figcaption>購買的時候要注意</figcaption></figure></dd>

				</p>
				
			<dt>
				注意刷的信用卡
			</dt>
			<dd>
				<p>
				如果是 Master 卡，依照時間不同，可以減少 10 ~ 15 元。Visa 則是反卷的方式。多注意新人攻略有鏈接說明優惠內容，包含目前選擇超商取貨也是有優惠。

				</p>
			</dd>
			
		</dl></section><section><h2 id="WizKMOutline_1605013673541572">結語</h2><p>
		簡單來說，如果想要買，可以先：
		</p><ol><li>註冊新的帳號</li><li>領取新人禮包 - 記得 Visa 那頁可以搶 199-100 以及 50 運費卷，群組裡面有 199-100 新人領（FB 社團也有）</li><li>購買新人 9.9 元 - 如果有興趣的話</li><li>在台灣廠領劵 - 基本上晚上可以檢查，應該還會出 199-100</li><li>在手機玩運費卷遊戲</li><li>如果有時間可以研究怎麼加團弄京豆等</li></ol><p></p></section>