Title: "[我和阿九(Azure)有約][10]Web App 設定環境這件事"
Published: 2019-09-26 21:00
Modified: 2019-09-26 21:00
Image: "/posts/2019/09/2019-09-26-video-tutorial-date-with-azure-10-web-app-environment-and-setting/cover.png"
Tags: ["azure","「教學影片」","「我和阿九(Azure)有約」"]
Series: ["「教學影片」","「我和阿九(Azure)有約」"]
PostDescription: "上一篇瞭解了如何把程式碼部署到不同的環境之後。然後透過Deployment Slot來做到Blue Green Delployment。這一篇來看看環境設定這件事情，看看如何在Azure Configuration切換環境"
---
<section>
<p>
上一篇瞭解了如何把程式碼部署到不同的環境之後
</p>
<p>
然後透過Deployment Slot來做到Blue Green Delployment
這一篇來看看環境設定這件事情，看看如何在Azure Configuration切換環境
</p>
</section>
<section>
<div class="hidden-xs">
<iframe width="560" height="315" src="https://www.youtube.com/embed/fLPk1kVxS7k" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>

<div class="visible-xs">
<iframe width="460" height="315" src="https://www.youtube.com/embed/fLPk1kVxS7k" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
</section>