Title: "[我和阿九(Azure)有約][04]瞭解什麽是Resource Group"
Published: 2019-09-20 21:00
Modified: 2019-09-20 21:00
Image: "/posts/2019/09/2019-09-20-video-tutorial-date-with-azure-04-intro-to-first-service-auzre-resource-group/cover.jpg"
Tags: ["azure","「教學影片」,「我和阿九(Azure)有約」"]
Series: ["「教學影片」,「我和阿九(Azure)有約」"]
PostDescription: "上一篇瞭解了怎麽操作Azure Portal了之後
這一篇來實際看看Azure上面的第一個服務Resource Group
瞭解一下什麽是Resource Group，Resource Group能夠做什麽？爲什麽要使用Resource Group？"
---
<section>
<p>
上一篇瞭解了怎麽操作Azure Portal了之後
</p>
<p>
這一篇來實際看看Azure上面的第一個服務Resource Group
</p>
<p>
瞭解一下什麽是Resource Group，Resource Group能夠做什麽？爲什麽要使用Resource Group？
</p>
</section>
<section>
<div class="hidden-xs">
<iframe width="560" height="315" src="https://www.youtube.com/embed/R579REapVYU" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>

<div class="visible-xs">
<iframe width="460" height="315" src="https://www.youtube.com/embed/R579REapVYU" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
</section>