Title: "[我和阿九(Azure)有約][01]開篇"
Published: 2019-09-17 21:00
Modified: 2019-09-17 21:00
Image: "/posts/2019/09/2019-09-17-video-tutorial-date-with-azure-01-intro/cover.jpg"
Tags: ["azure","「教學影片」,「我和阿九(Azure)有約」"]
Series: ["「教學影片」,「我和阿九(Azure)有約」"]
PostDescription: "以開發者為導向，介紹Azure PaaS服務的系列教學影片。"
---
<section>
<p>
iThome 第11屆鐵人賽 的系列教學影片 - 我和阿九(Azure)有約 的第一篇開篇影片
</p>
<p>
主要介紹一下個人背景，以及這個系列要介紹什麽東西。
</p>
</section>
<section>
<div class="hidden-xs">
<iframe width="560" height="315" src="https://www.youtube.com/embed/Xa-5o_umtPI" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>

<div class="visible-xs">
<iframe width="460" height="315" src="https://www.youtube.com/embed/Xa-5o_umtPI" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
</section>