Title: "[我和阿九(Azure)有約][05]瞭解什麽是 App Service"
Published: 2019-09-21 21:00
Modified: 2019-09-21 21:00
Image: "/posts/2019/09/2019-09-21-video-tutorial-date-with-azure-05-intro-to-app-service/cover.jpg"
Tags: ["azure","「教學影片」,「我和阿九(Azure)有約」"]
Series: ["「教學影片」,「我和阿九(Azure)有約」"]
PostDescription: "什麽是App Service呢？
他是由什麽東西組成的呢？
App Service支援那些環境呢？如果非Windows (.NET) 是否可以呢？"
---
<section>
<p>
什麽是App Service呢？
</p>
<p>
他是由什麽東西組成的呢？
</p>
<p>
App Service支援那些環境呢？如果非Windows (.NET) 是否可以呢？
</p>
<p>這篇來看一下</p>
</section>
<section>
<div class="hidden-xs">
<iframe width="560" height="315" src="https://www.youtube.com/embed/N8R-4GqgPo4" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>

<div class="visible-xs">
<iframe width="460" height="315" src="https://www.youtube.com/embed/N8R-4GqgPo4" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
</section>