Title: "[我和阿九(Azure)有約][09]Web App部署這件事 用Deployment Slot做到Blue Green 部署"
Published: 2019-09-25 21:00
Modified: 2019-09-25 21:00
Image: "/posts/2019/09/2019-09-25-video-tutorial-date-with-azure-09-achieve-blue-green-deployment-using-deployment-slot/cover.png"
Tags: ["azure","「教學影片」","「我和阿九(Azure)有約」"]
Series: ["「教學影片」","「我和阿九(Azure)有約」"]
PostDescription: "在上一篇瞭解了如何透過publish檔案用Visual Studio部署程式上去之後。這一篇來看看所謂的Deployment Slot。瞭解一下如何幫助部署程式，以及如何用它做到Blue Green Deployment"
---
<section>
<p>
在上一篇瞭解了如何透過publish檔案用Visual Studio部署程式上去之後
</p>
<p>
這一篇來看看所謂的Deployment Slot
瞭解一下如何幫助部署程式，以及如何用它做到Blue Green Deployment
</p>
</section>
<section>
<div class="hidden-xs">
<iframe width="560" height="315" src="https://www.youtube.com/embed/_KwncjKk0cs" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>

<div class="visible-xs">
<iframe width="460" height="315" src="https://www.youtube.com/embed/_KwncjKk0cs" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
</section>