Title: "[我和阿九(Azure)有約][02]Subscription是什麽？怎麽可以免費使用Azure"
Published: 2019-09-18 21:00
Modified: 2019-09-18 21:00
Image: "/posts/2019/09/2019-09-18-video-tutorial-date-with-azure-02-what-is-subscripiton-and-how-to-use-azure-for-freeo/cover.jpg"
Tags: ["azure","「教學影片」,「我和阿九(Azure)有約」"]
Series: ["「教學影片」,「我和阿九(Azure)有約」"]
PostDescription: "要開始使用Azure之前第一件事情就是要搞定Subscription。怎麽可以建立出Subscription？以及怎麽樣可以免費開始使用Azure？這篇將會介紹"
---
<section>
<p>
要開始使用Azure之前第一件事情就是要搞定Subscription。
</p>
<p>
怎麽可以建立出Subscription？以及怎麽樣可以免費開始使用Azure？
</p>
<p>
這篇將會介紹
</p>
</section>
<section>
<div class="hidden-xs">
<iframe width="560" height="315" src="https://www.youtube.com/embed/cdom9qTzMbk" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>

<div class="visible-xs">
<iframe width="460" height="315" src="https://www.youtube.com/embed/cdom9qTzMbk" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
</section>