Title: "[我和阿九(Azure)有約][14]Web App 網站部署上去出錯了怎麽辦"
Published: 2019-09-30 21:00
Modified: 2019-09-30 21:00
Image: "/posts/2019/09/2019-09-30-video-tutorial-date-with-azure-14-web-app-how-to-troubleshoot-published-web-site-error/cover.png"
Tags: ["azure","「教學影片」","「我和阿九(Azure)有約」"]
Series: ["「教學影片」","「我和阿九(Azure)有約」"]
PostDescription: "在上一篇介紹了Kudu的服務以及能夠做到什麽之後。最後提到了其實很多kudu功能整合到了Portal上面。在這一篇將會用一個案例來看一下，當網站出錯之後怎麽用這些服務來做問題排除"
---
<section>
<p>
在上一篇介紹了Kudu的服務以及能夠做到什麽之後
最後提到了其實很多kudu功能整合到了Portal上面
</p>
<p>
在這一篇將會用一個案例來看一下，當網站出錯之後怎麽用這些服務來做問題排除
</p>
</section>
<section>
<div class="hidden-xs">
<iframe width="560" height="315" src="https://www.youtube.com/embed/5cJlXgC6US8" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>

<div class="visible-xs">
<iframe width="460" height="315" src="https://www.youtube.com/embed/5cJlXgC6US8" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
</section>