Title: "[我和阿九(Azure)有約][06]建立Web App"
Published: 2019-09-22 18:00
Modified: 2019-09-22 18:00
Image: "/posts/2019/09/2019-09-22-video-tutorial-date-with-azure-06-how-tocreate-web-app-and-chose-price/cover.png"
Tags: ["azure","「教學影片」","「我和阿九(Azure)有約」"]
Series: ["「教學影片」","「我和阿九(Azure)有約」"]
PostDescription: "在上一篇瞭解了什麽是App Service之後
在這一篇將會介紹如何建立出App Service Web App
介紹費用選擇的差異以及如何建立出來之後調整scale up以及scale out"
---
<section>
<p>
在上一篇瞭解了什麽是App Service之後
</p>
<p>
在這一篇將會介紹如何建立出App Service Web App
</p>
<p>
介紹費用選擇的差異以及如何建立出來之後調整scale up以及scale out
</p>
<p>這篇來看一下</p>
</section>
<section>
<div class="hidden-xs">
<iframe width="560" height="315" src="https://www.youtube.com/embed/Yd2D2M1YvV0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>

<div class="visible-xs">
<iframe width="460" height="315" src="https://www.youtube.com/embed/Yd2D2M1YvV0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
</section>