Title: "[我和阿九(Azure)有約][12]Web App 使用 App Service Editor 檢視修改程式碼"
Published: 2019-09-28 21:00
Modified: 2019-09-28 21:00
Image: "/posts/2019/09/2019-09-28-video-tutorial-date-with-azure-12-web-app-user-service-editor-to-modify-publish-code/cover.png"
Tags: ["azure","「教學影片」","「我和阿九(Azure)有約」"]
Series: ["「教學影片」","「我和阿九(Azure)有約」"]
PostDescription: "在上一篇更深入瞭解了Web App的設定，包含怎麽避免Deployment Slot Swap。的時候，設定不會跑掉，以及怎麽快速編輯設定。這篇來看一下維護的時候也常會需要用到的部分。如何透過App Service Editor看到/編輯部署上去的程式。以及爲什麽使用它，和FTP差異在那邊"
---
<section>
<p>
在上一篇更深入瞭解了Web App的設定，包含怎麽避免Deployment Slot Swap
的時候，設定不會跑掉，以及怎麽快速編輯設定。
</p>
<p>
這篇來看一下維護的時候也常會需要用到的部分
如何透過App Service Editor看到/編輯部署上去的程式
以及爲什麽使用它，和FTP差異在那邊
</p>
</section>
<section>
<div class="hidden-xs">
<iframe width="560" height="315" src="https://www.youtube.com/embed/ZWjzVmUhzpQ" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>

<div class="visible-xs">
<iframe width="460" height="315" src="https://www.youtube.com/embed/ZWjzVmUhzpQ" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
</section>