Title: "[我和阿九(Azure)有約][11]Web App 設定的小細節"
Published: 2019-09-27 21:00
Modified: 2019-09-27 21:00
Image: "/posts/2019/09/2019-09-27-video-tutorial-date-with-azure-11-web-app-setting-some-tips-and-tricks/cover.png"
Tags: ["azure","「教學影片」","「我和阿九(Azure)有約」"]
Series: ["「教學影片」","「我和阿九(Azure)有約」"]
PostDescription: "上一篇瞭解了怎麽透過設定環境的方式切換設定。不過可能有一些設定不想要放在AppSetting裡面讓開發者看到怎麽辦？這篇來看看Configuration的一些使用小技巧，讓有些設定放在Azure就好"
---
<section>
<p>
上一篇瞭解了怎麽透過設定環境的方式切換設定
</p>
<p>
不過可能有一些設定不想要放在AppSetting裡面讓開發者看到怎麽辦？
這篇來看看Configuration的一些使用小技巧，讓有些設定放在Azure就好
</p>
</section>
<section>
<div class="hidden-xs">
<iframe width="560" height="315" src="https://www.youtube.com/embed/4JbAfG2ufoA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>

<div class="visible-xs">
<iframe width="460" height="315" src="https://www.youtube.com/embed/4JbAfG2ufoA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
</section>