Title: "[我和阿九(Azure)有約][03]熟悉如何操作 Portal 基本設定以及如何找到想要的服務"
Published: 2019-09-19 21:00
Modified: 2019-09-19 21:00
Image: "/posts/2019/09/2019-09-19-video-tutorial-date-with-azure-03-how-to-use-azure-portal/cover.jpg"
Tags: ["azure","「教學影片」,「我和阿九(Azure)有約」"]
Series: ["「教學影片」,「我和阿九(Azure)有約」"]
PostDescription: "有了Azure Subscription之後，接下來就是可以開始使用Azure來建立服務。
不過在使用之前，第一個遇到的問題是，怎麽操作Azure Portal？
這一篇將會介紹：
1. 如何使用Azure Portal來切換語言、Subscription
2. 如何找到服務
3. 如何把常用服務加入到我的最愛清單"
---
<section>
<p>
有了Azure Subscription之後，接下來就是可以開始使用Azure來建立服務。
</p>
<p>
不過在使用之前，第一個遇到的問題是，怎麽操作Azure Portal？
</p>
<p>
這一篇將會介紹：
</p>
<ol>
    <li>如何使用Azure Portal來切換語言、Subscription</li>
    <li>如何找到服務</li>
    <li>如何把常用服務加入到我的最愛清單</li>
</ol>
</section>
<section>
<div class="hidden-xs">
<iframe width="560" height="315" src="https://www.youtube.com/embed/_3zsYvTQN9Y" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>

<div class="visible-xs">
<iframe width="460" height="315" src="https://www.youtube.com/embed/_3zsYvTQN9Y" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
</section>