Title: "[我和阿九(Azure)有約][13]Web App Kudu簡單介紹"
Published: 2019-09-29 21:00
Modified: 2019-09-29 21:00
Image: "/posts/2019/09/2019-09-29-video-tutorial-date-with-azure-13-web-app-how-to-use-kudu-for-diagnose/cover.png"
Tags: ["azure","「教學影片」","「我和阿九(Azure)有約」"]
Series: ["「教學影片」","「我和阿九(Azure)有約」"]
PostDescription: "在上一篇介紹了什麽是App Service Editor，以及如何透過Service Editor來快速檢視/編輯部署上去的程式。其中，介紹到了網址的部分看到了kudu這個工具。那kudu是什麽？它能夠做到什麽事情呢？這個是今天要看看的内容"
---
<section>
<p>
在上一篇介紹了什麽是App Service Editor，以及如何透過Service Editor來快速檢視/編輯部署上去的程式
其中，介紹到了網址的部分看到了kudu這個工具
</p>
<p>
那kudu是什麽？它能夠做到什麽事情呢？
這個是今天要看看的内容
</p>
</section>
<section>
<div class="hidden-xs">
<iframe width="560" height="315" src="https://www.youtube.com/embed/vpXpJzhdDYM" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>

<div class="visible-xs">
<iframe width="460" height="315" src="https://www.youtube.com/embed/vpXpJzhdDYM" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
</section>