Title: "[我和阿九(Azure)有約][08]發佈到發佈到Web App Publish篇"
Published: 2019-09-24 21:00
Modified: 2019-09-24 21:00
Image: "/posts/2019/09/2019-09-24-video-tutorial-date-with-azure-08-deploy-application-to-web-app-using-publish/cover.png"
Tags: ["azure","「教學影片」","「我和阿九(Azure)有約」"]
Series: ["「教學影片」","「我和阿九(Azure)有約」"]
PostDescription: "在上一篇介紹完了如何用最常見的方式FTP來部署了之後
這一篇來看一下如何透過Visual Studio做publish的方式快速更新上去"
---
<section>
<p>
在上一篇介紹完了如何用最常見的方式FTP來部署了之後
</p>
<p>
這一篇來看一下如何透過Visual Studio做publish的方式快速更新上去
</p>
</section>
<section>
<div class="hidden-xs">
<iframe width="560" height="315" src="https://www.youtube.com/embed/028YRsBc7Fw" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>

<div class="visible-xs">
<iframe width="460" height="315" src="https://www.youtube.com/embed/028YRsBc7Fw" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
</section>