Title: "[我和阿九(Azure)有約][07]發佈到Web App FTP篇"
Published: 2019-09-23 21:00
Modified: 2019-09-23 21:00
Image: "/posts/2019/09/2019-09-23-video-tutorial-date-with-azure-07-deploy-application-to-web-app-using-ftp/cover.png"
Tags: ["azure","「教學影片」","「我和阿九(Azure)有約」"]
Series: ["「教學影片」","「我和阿九(Azure)有約」"]
PostDescription: "在上一篇瞭解了如何把Azure Web App建立出來之後
接下來的問題就是：怎麽把我建立好的網站或者服務部署上去？
在這一篇將來看一下如何透過最常見的方式，FTP，來把網站部署上去"
---
<section>
<p>
在上一篇瞭解了如何把Azure Web App建立出來之後
</p>
<p>
接下來的問題就是：怎麽把我建立好的網站或者服務部署上去？
</p>
<p>
在這一篇將來看一下如何透過最常見的方式，FTP，來把網站部署上去
</p>
</section>
<section>
<div class="hidden-xs">
<iframe width="560" height="315" src="https://www.youtube.com/embed/BA0XsiWOTrA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>

<div class="visible-xs">
<iframe width="460" height="315" src="https://www.youtube.com/embed/BA0XsiWOTrA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
</section>