<div class="container">
        <div class="row">
                <div class="col-md-12 text-center">
                    <ul class="list-inline text-center">
                        <li>
                            <a target="_blank" href="http://fb.alantsai.net">
                                    <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-facebook-official fa-stack-1x fa-inverse"></i>
                                    </span>
                            </a>
                        </li>
                        <li>
                            <a target="_blank" href="http://twitter.alantsai.net">
                                    <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                                    </span>
                            </a>
                        </li>
                        <li>
                            <a target="_blank" href="http://fb.alantsai.net">
                                    <span class="fa-stack fa-lg">
                                        <i class="fa fa-circle fa-stack-2x"></i>
                                        <i class="fa fa-github fa-stack-1x fa-inverse"></i>
                                    </span>
                            </a>
                        </li>
                        <li>
                            <a target="_blank" href="http://ln.alantsai.net">
                                    <span class="fa-stack fa-lg">
                                        <i class="fa fa-circle fa-stack-2x"></i>
                                        <i class="fa fa-linkedin fa-stack-1x fa-inverse"></i>
                                    </span>
                            </a>
                        </li>
                        <li>
                            <a target="_blank" href="http://weibo.com/alantsai">
                                    <span class="fa-stack fa-lg">
                                        <i class="fa fa-circle fa-stack-2x"></i>
                                        <i class="fa fa-weibo fa-stack-1x fa-inverse"></i>
                                    </span>
                            </a>
                        </li>
                        <li>
                            <a target="_blank" href="http://so.alantsai.net">
                                    <span class="fa-stack fa-lg">
                                        <i class="fa fa-circle fa-stack-2x"></i>
                                        <i class="fa fa-stack-overflow  fa-stack-1x fa-inverse"></i>
                                    </span>
                            </a>
                        </li>
                    </ul>
                    <p class="copyright text-muted">
                        Copyright © @DateTime.Now.Year <span xmlns:dct="http://purl.org/dc/terms/" property="dct:title">Alan Tsai 的隨手筆記</span>由<a xmlns:cc="http://creativecommons.org/ns#" href="http://blog.alantsai.net" property="cc:attributionName" rel="cc:attributionURL">Alan Tsai</a>製作，以<a rel="license" href="http://creativecommons.org/licenses/by/4.0/">創用CC 姓名標示 4.0 國際 授權條款</a>釋出。
                        <br />
                        @if (Context.String(BlogKeys.RssPath) != null) {
                            <a href="@Context.GetLink(Context.String(BlogKeys.RssPath))"><i class="fa fa-rss"></i> RSS Feed</a>
                        } 
                        @(Context.String(BlogKeys.RssPath) != null && Context.String(BlogKeys.AtomPath) != null ? "|" : "")
                        @if (Context.String(BlogKeys.AtomPath) != null) { 
                            <a href="@Context.GetLink(Context.String(BlogKeys.AtomPath))"><i class="fa fa-rss"></i> Atom Feed</a>
                        }
                        <br />
                        架設在 <a href="https://www.netlify.com">Netlify</a>
                        <br />
                        <strong><a href="https://wyam.io">由Wyam產生</a></strong>
                    </p>
                </div>
        </div>
</div>
