<section>
  <div class="text-center">
    <small>如果文章對您有幫助，就請我喝杯飲料吧</small>
    <br />
    <button class="btn btn-success" type="button"
      data-toggle="collapse" data-target="#donateSection" aria-expanded="false" aria-controls="donateSection">
      <i class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></i>請我喝杯飲料
    </button>
  </div>
  <div class="collapse" id="donateSection">
    <div class="well row">
      <div class="row">
        <figure class="col-md-4">
          <img src="/assets/images/donate/jekopay.jpg" class="img-responsive" alt="街口支付QR Code" />
          <figcaption>街口支付QR Code</figcaption>
        </figure>
        <figure class="col-md-4">
          <img src="/assets/images/donate/taiwan-pay.jpg" class="img-responsive" alt="台灣 Pay QR Code" />
          <figcaption>台灣 Pay QR Code</figcaption>
        </figure>
        <figure class="col-md-4">
          <img src="/assets/images/donate/line-pay.jpg" class="img-responsive" alt="Line Pay 一卡通 QR Code" />
          <figcaption>Line Pay 一卡通 QR Code</figcaption>
        </figure>
      </div>
      <div class="row">
        <figure class="col-md-4">
          <img src="/assets/images/donate/alipay.jpg" class="img-responsive" alt="街口支付QR Code" />
          <figcaption>支付寶QR Code</figcaption>
        </figure>
        <figure class="col-md-4">
          <img src="/assets/images/donate/weixinpay.jpg" class="img-responsive" alt="街口支付QR Code" />
          <figcaption>微信支付QR Code</figcaption>
        </figure>
      </div>
    </div>
  </div>
</section>