@model IDocument

@{
    var post = Model;
}

<p class="post-meta">
    <span>
        <i class="fa fa-calendar fa-fw"></i>@(post.Get<DateTime>(BlogKeys.Published).ToString("yyyy-MM-dd dddd"))
    </span>

    @{var tags = post.Get<string[]>(BlogKeys.Tags);}
    @foreach (var tag in tags)
    {
        IDocument tagDocument = Documents[Blog.Tags].FirstOrDefault(x => x.String(BlogKeys.Tag) == tag && x.Get<int>(Keys.CurrentPage) == 1);
        if(tagDocument != null)
        {                
            <span>
                <i class="fa fa-tag"></i>
                <a role="button" href="@Context.GetLink(tagDocument)">@tag</a>
            </span>
        }    
    }
</p>