@model IDocument

@{
    var post = Model;
    // 取得這篇的網址 - 如果有舊資料表示是從blogspot來的，因此網址用以前的網址
    // 如果沒有表示是新的網址，用新的。
    var uniqueSocialUrl = post.String(Keys.RedirectFrom);

    if(string.IsNullOrEmpty(uniqueSocialUrl))
    {
        uniqueSocialUrl = Context.GetLink(post, true);
    }
    else
    {
        uniqueSocialUrl = "http://" + post.String(Keys.Host) + "/" + uniqueSocialUrl;
    }
}

<div class="fb-like" data-action="like" data-href="@uniqueSocialUrl" 
                        data-layout="standard" data-share="true" data-show-faces="true"></div>