@{
    Layout = "_Layout.cshtml";
}

@section Header {
    @Html.Partial("_PostHeader.cshtml")
}


<div class="row">

    <div class="col-sm-8 right-border">
        <div class="post-preview">
            @RenderBody()
        </div>
    </div>

    <div class="col-sm-4 sidebar">
        <hr class="visible-xs-block" />

        @Html.Partial("_partial_tag")        
    </div>

</div>

@Html.Partial("_PostFooter.cshtml")