@Html.Partial("_partial_fbLike", Model)

<!-- Go to www.addthis.com/dashboard to customize your tools --> <div class="addthis_relatedposts_inline"></div>

@*Disqus start*@
@{
    var post = Model;
    // 取得這篇的網址 - 如果有舊資料表示是從blogspot來的，因此網址用以前的網址
    // 如果沒有表示是新的網址，用新的。
    var uniqueSocialUrl = post.String(Keys.RedirectFrom);

    if(string.IsNullOrEmpty(uniqueSocialUrl))
    {
        uniqueSocialUrl = @Context.GetLink(Model, true);
    }
    else
    {
        uniqueSocialUrl = "http://" + post.String(Keys.Host) + "/" + uniqueSocialUrl;
    }
}

<section class="comment">
<div id="disqus_thread"></div>
<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
    var disqus_shortname = 'alantsai'; // required: replace example with your forum shortname
    @*新的才設定identifier，要不然舊的comment出不來*@
    @if(uniqueSocialUrl == Context.GetLink(Model, true))
    {
        @:var disqus_identifier = '@Model.FilePath(Keys.RelativeFilePath).FileNameWithoutExtension.FullPath';
    }
    var disqus_title = '@Model.String(BlogKeys.Title)';
    var disqus_url = '@uniqueSocialUrl';

    // Adds the onNewComment callback to the disqus_config of the embed code
    // that sends 'New Comment' events over to Google Analytics.
    // The callback can also be used for any other analytics service like Parse.ly, Chartbeat, Mixpanel
    var disqus_config = function() {
            this.callbacks.onNewComment = [function(comment) {
                ga('send', {
                    'hitType': 'event',            // Required.
                    'eventCategory': 'Comments',   // Required.
                    'eventAction': 'New Comment',  // Required.
                    'eventLabel': 'New Comment'
                });
            }];
    };

    /* * * DON'T EDIT BELOW THIS LINE * * */
    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
    
    (function () {
        var s = document.createElement('script'); s.async = true;
        s.type = 'text/javascript';
        s.src = '//' + disqus_shortname + '.disqus.com/count.js';
        (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
    }());
</script>
<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
<a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
</section>
@*Disqus end*@