<section>
    <h5>訂閲</h5>
    <a title="RSS 訂閲" target="_blank" rel="noopener" href="/feed.rss"><i class="fa fa-rss fa-fw"></i>RSS</a>
    <a title="Atom 訂閲" target="_blank" rel="noopener" href="/feed.atom"><i class="fa fa-rss fa-fw"></i>Atom</a>
    <a target="_blank" rel="noopener" href="http://line.alantsai.net"><img style="cursor: pointer;" height="36" border="0" alt="加入好友" src="/assets/images/line-zh-hant.png"></a>
</section>
<section>
    <h5>搜索</h5>
    <script>
  (function() {
    var cx = '000610742867895967622:yqmvzqgdwzq';
    var gcse = document.createElement('script');
    gcse.type = 'text/javascript';
    gcse.async = true;
    gcse.src = 'https://cse.google.com/cse.js?cx=' + cx;
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(gcse, s);
  })();
</script>
<gcse:search></gcse:search>
</section>
<section>
    <h5>Facebook</h5>
    <div id="fb-root"></div>
    <div class="fb-page" data-href="https://www.facebook.com/alantsai.blog/" data-tabs="timeline" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/alantsai.blog/" class="fb-xfbml-parse-ignore"><a target="_blank" rel="noopener" href="https://www.facebook.com/alantsai.blog/">Alan Tsai的學習筆記</a></blockquote></div>
</section>

<section>
    <h5>Linkedin</h5>
    <script type="text/javascript" src="https://platform.linkedin.com/badges/js/profile.js" async defer></script>
    <div class="LI-profile-badge"  data-version="v1" data-size="medium" data-locale="zh_TW" data-type="vertical" data-theme="light" data-vanity="alantsai2007"><a class="LI-simple-link" target="_blank" rel="noopener" href='https://tw.linkedin.com/in/alantsai2007/zh-tw?trk=profile-badge'>Alan Tsai</a></div>
</section>

@Html.Partial("_partial_tag") 

<section>
    <h5>好站連結</h5>
    <ul>
        <li><a href="http://study4.tw">Study4</a></li>
        <li><a href="http://dog0416.blogspot.tw/">Matsurigoto</a></li>
        <li><a href="http://ina-work.blogspot.tw/">遜砲賴的爆肝筆記</a></li>
        <li><a href="http://skychang.github.io/">天空的垃圾場</a></li>
        <li><a href="https://michael80321.blogspot.tw/">Michael's World</a></li>
        <li><a href="https://kyleap.github.io/">程式宅急便</a></li>
        <li><a href="https://yi-shiuan.github.io/">饅頭小舖</a></li>
        <li><a href="https://08alan.github.io/">維持熱情不滅 - Alan Liu</a></li>
        <li><a href="https://dotblogs.com.tw/JamesFu">五餅二魚工作室</a></li>
        <li><a href="http://edwardkuo.imas.tw/">E.K TechThinking</a></li>
    </ul>
</section>

<section>
    <h5>證照</h5>
    <div data-iframe-width="150" data-iframe-height="270" data-share-badge-id="559a7c05-726c-4a06-8a9e-b063469178c6"></div>

    <div data-iframe-width="150" data-iframe-height="270" data-share-badge-id="2fbf4a03-2b66-4f64-85e0-7ae2af3eecb2"></div>

    <div data-iframe-width="150" data-iframe-height="270" data-share-badge-id="0341291b-63b8-4984-a6ed-7c2237bf5786"></div>

    <div data-iframe-width="150" data-iframe-height="270" data-share-badge-id="1d46889c-5036-4229-8832-1c5b1c6ca636"></div>

    <script type="text/javascript">
        (function() {
        var s = document.createElement('script');
        s.type = 'text/javascript';
        s.async = true;
        s.src = '//www.youracclaim.com/assets/utilities/embed.js';
        var o = document.getElementsByTagName('script')[0];
        o.parentNode.insertBefore(s, o);
        })();
    </script>
</section>

<section>
    <h5>證照 - 較舊或過期</h5>
    <img alt="ECSP .Net" src="/assets/images/ECSP-Logo.jpg" style="width: 160px;"/>
    <img alt="MCSD: Web Application" src="/assets/images/MCSD_2013(rgb)_1477.png" /> <img alt="Programming in HTML5 with JavaScript and CSS3 Specialist" src="/assets/images/MS_2013(rgb)_1485.png" /> <img alt="Programming in C# Specialist" src="/assets/images/MS_2013(rgb)_1486.png" /> 
    <div data-iframe-width="150" data-iframe-height="270" data-share-badge-id="31968ac6-16a3-4639-83b3-4ee8b324a8f5"></div>
</section>

<section>
    <h5>工商服務</h5>
    <script type="text/javascript" src="//js1.bloggerads.net/showads.aspx?blogid=20150801000003&amp;charset=utf-8"></script>
</section>