@Html.Partial("_partial_tag")        
<section>
    <h5>好站連結</h5>
    <ul>
        <li><a href="http://dog0416.blogspot.tw/">Matsurigoto</a></li>
        <li><a href="http://ina-work.blogspot.tw/">遜砲賴的爆肝筆記</a></li>
        <li><a href="http://skychang.github.io/">天空的垃圾場</a></li>
        <li><a href="https://michael80321.blogspot.tw/">Michael's World</a></li>
        <li><a href="https://kyleap.github.io/">程式宅急便</a></li>
        <li><a href="https://yi-shiuan.github.io/">饅頭小舖</a></li>
        <li><a href="https://08alan.github.io/">維持熱情不滅 - Alan Liu</a></li>
        <li><a href="https://dotblogs.com.tw/JamesFu">五餅二魚工作室</a></li>
        <li><a href="http://edwardkuo.imas.tw/">E.K TechThinking</a></li>
    </ul>
</section>