Title: 關於我
---
<section class="section-block">
    <div class="text-center">
        <h2>Alan Tsai</h2>
        <img src="/assets/images/profile.jpg" alt="Alan Tsai的頭像" 
            width="20%"
            class="img-responsive img-circle center-block">
        <p>
            沉浸於.NET 世界的後端工程師，除了最熟悉的Asp .Net MVC之外，喜歡學一些和程式開發有關的東西像Azure、Container、DevOps、Data Science等。
        </p>
        <p>近年開始關注AI相關，像是Bot Framework (chatbot)、Machine Learning、Cognitive Service、IoT Edge等。</p>
        <p>
            樂於分享，定期發佈部落格文章，幫忙翻譯軟件及文章和知識分享。
        </p>
        <p>
            現任<a target="_blank" href="http://study4.tw">Study4</a>成員之一。除了程式以外，就愛看小說。
        </p>
    </div>
    <div>
        <h2>一些分享/授課經歷</h2>
        <ul>
            <li>2019 Study4 .NET Conf 講師 - 用 Bot Framework 開發 Chatbot = 支援多平臺 + 包含平臺客制功能 - 以Line爲例: <a target="_blank" href="https://www.slideshare.net/alantsai2007/bot-framework-chatbot-line2019-net-conf-host-by-study4tw">ppt</a></li>
            <li>2019 Microsoft Insider DevTour Taipei 講師 - Future proof your desktop apps with .net core: <a target="_blank" href="https://www.slideshare.net/alantsai2007/insider-dev-tour-taipei-2019-future-proof-your-desktop-apps-with-net-core">ppt</a></li>
            <li>2019 聖森内部教育訓練 - Azure DevOps CI/CD 應用 3小時</li>
            <li>2019 中華電信學院 講師 - 使用Azure AI打造有人工智能的Line聊天機器人 12小時</li>
            <li>2019 中華電信學院 講師 - DevOps與CI/CD實務研習班 12小時</li>
            <li>2018 Study4 .NET Conf 講師 - 利用Machine Learning .NET整合機器學習至應用程式: <a target="_blank" href="https://www.slideshare.net/alantsai2007/2018-net-conf-machine-learning-net">ppt</a>、<a target="_blank" href="https://www.youtube.com/watch?v=iDm7oJuvd1M">youtube</a></li>
            <li>2018 Study4 北京Azure Bootcamp 講師 - Azure Migrate 上云之路: <a target="_blank" href="https://www.slideshare.net/alantsai2007/2018-beijing-azure-bootcampazure-migration">ppt</a>、<a target="_blank" href="https://www.youtube.com/watch?v=otWIa0pzzss">youtube</a></li>
            <li>2017 Study4 .NET Conf 講師 - .Net core 與 .net standard 實戰教學 開發指南: <a target="_blank" href="https://www.slideshare.net/alantsai2007/net-core-net-standard-80793353">ppt</a></li>
            <li>2017 Study4 講師 - 大家應該都要會的工具 - Git從放棄到會用</li>
            <li>2017 逢甲大學 講師 - 逢甲大學起飛計畫 - 電子內容管理 - 使用GIT, GIHUB, and Visual studio Code</li>
        </ul>
    </div>
    <div>
        <p>
            歡迎關注我，有任何問題也歡迎隨時聯繫我，可以用部落格的留言或者可以在網站的頁尾找到我在其他平臺的鏈接。
        </p>
        <p>
            有任何合作方案也歡迎透過<a href="mailto:contact@alantsai.net">contact@alantsai.net</a>或者我在其他平臺上與我聯係。
        </p>
    </div>
</section>