Title: 關於我
---
<section class="section-block">
    <div class="text-center">
        <h2>Alan Tsai</h2>
        <img src="/assets/images/profile.jpg" alt="Alan Tsai的頭像" 
            width="20%"
            class="img-responsive img-circle center-block">
        <p>
            深耕.NET軟體開發多年，碰過形形色色的專案，從政府以及企業標案類型的案子，到協助企業導入上雲以及已產品為導向的開發。
        </p>
        <p>
            深信使用的技術不是重點，重點在於如何全面的思考並且用適合的技術解決客戶的問題
        </p>
        <p>
            除了最熟悉的微軟技術及服務之外，喜歡學習和技術有關的東西並且轉換成為文章、影片或者演講分享。例如：.NET (core)、ASP .NET (core)、Azure、Container、DevOps、Data Science、Bot Framework (chatbot) 等
        </p>
        <p>
            為現任的 Microsoft Most Valuable Professional (微軟最有價值專家 MVP) - Azure, Microsoft Certified Trainers (微軟認證講師 MCT)
            
        </p>
        <p>
            樂於分享，深信教就是最好的學習方式，定期發佈部落格 (Alan Tsai 的學習筆記) 文章，幫忙翻譯軟件及文章和知識分享。
        </p>
        <p>
            很宅，除了上班之外會出去應該都是參加/協助社群活動 (例如：<a href="https://azuretw.dev/" target="_blank">Azure Taiwan</a>)，為現任 <a target="_blank" href="http://study4.tw">Study4.TW</a> 成員之一。除了程式以外，就愛看小說。
        </p>
    </div>
    <div>
        <h2>一些分享/授課經歷</h2>
        <ul>
            <li>2020 Azure Taiwan Global Azure - Azure API Management - 協助邁向Open API及Micro Service架構的好用服務: <a target="_blank" href="https://www.slideshare.net/alantsai2007/20200425-globalazureazure-api-managementopen-apimicro-service">ppt</a></li>
            <li>2020 Microsoft Online Tech Forum 微軟線上技術峰會 - Azure 成本控管 (cost management)：<a href="https://www.slideshare.net/alantsai2007/azure-taiwan-keep-azure-cost-down-azure" target="_blank">ppt</a>、<a href="https://www.microsoft.com/taiwan/events/virtualsummit/" target="_blank">活動頁面</a></li>
            <li>2020 均豪精密 - 人工智慧-機器學習基礎理論課程及人工智慧-機器學習實務課程 12小時</li>
            <li>2020/2019 中華電信學院 講師 - DevOps與CI/CD實務研習班 12小時</li>
            <li>2020 Trainocate - 微軟官方課程 AZ-104、DP-200、DP-201</li>
            <li>2019 Study4 .NET Conf 講師 - 用 Bot Framework 開發 Chatbot = 支援多平臺 + 包含平臺客制功能 - 以Line爲例: <a target="_blank" href="https://www.slideshare.net/alantsai2007/bot-framework-chatbot-line2019-net-conf-host-by-study4tw">ppt</a></li>
            <li>2019 Microsoft Insider DevTour Taipei 講師 - Future proof your desktop apps with .net core: <a target="_blank" href="https://www.slideshare.net/alantsai2007/insider-dev-tour-taipei-2019-future-proof-your-desktop-apps-with-net-core">ppt</a></li>
            <li>2019 聖森内部教育訓練 - Azure DevOps CI/CD 應用 3小時</li>
            <li>2019 中華電信學院 講師 - 使用Azure AI打造有人工智能的Line聊天機器人 12小時</li>
            <li>2018 Study4 .NET Conf 講師 - 利用Machine Learning .NET整合機器學習至應用程式: <a target="_blank" href="https://www.slideshare.net/alantsai2007/2018-net-conf-machine-learning-net">ppt</a>、<a target="_blank" href="https://www.youtube.com/watch?v=iDm7oJuvd1M">youtube</a></li>
            <li>2018 Study4 北京Azure Bootcamp 講師 - Azure Migrate 上云之路: <a target="_blank" href="https://www.slideshare.net/alantsai2007/2018-beijing-azure-bootcampazure-migration">ppt</a>、<a target="_blank" href="https://www.youtube.com/watch?v=otWIa0pzzss">youtube</a></li>
        </ul>
    </div>
    <div>
            <h2>我的線上課程</h2>
            <ul>
                <li> <a href="https://to.alantsai.net/c-az-900">微軟雲端 Microsoft Azure 入門 - 快速考到第一張雲端證照 AZ-900</a></li>
            </ul>
    </div>
    <div>
        <p>
            歡迎關注我，有任何問題也歡迎隨時聯繫我，可以用部落格的留言或者可以在網站的頁尾找到我在其他平臺的鏈接。
        </p>
        <p>
            有任何合作方案也歡迎透過 <a href="mailto:contact@alantsai.net">contact@alantsai.net</a> 或者我在其他平臺上與我聯係。
        </p>
    </div>
</section>