Title: 關於我
---
<section>
    <div class="text-center">
        <h2>Alan Tsai</h2>
        <img src="/assets/images/profile.jpg" alt="Alan Tsai的頭像" 
            width="20%"
            class="img-responsive img-circle center-block">
        <p>
            沉浸於.Net世界的後端軟體工程師，主力在Asp .Net Mvc，
            喜歡學軟體開發相關的東西：Azure，Devops，Container，Data Science、AI、Chatbot等。
        </p>
        <p>
            樂於分享，定期發佈部落格文章，幫忙翻譯軟件及文章和知識分享。
        </p>
        <p>
            現任<a href="http://study4.tw">Study4</a>成員之一。除了程式以外，就愛看小說。
        </p>
    </div>
    <div>
        <h2>分享經歷</h2>
        <ul>
            <li>2018 北京Azure Bootcamp 講師</li>
            <li>2017 .Net Conf 講師</li>
            <li>2017 大家應該都要會的工具 - Git從放棄到會用 講師</li>
            <li>2017 逢甲大學起飛計畫 - 電子內容管理 - 使用GIT, GIHUB, and Visual studio Code 講師</li>
        </ul>
    </div>
    <div>
        <p>
            歡迎關注我，有任何問題也歡迎隨時聯繫我，可以用部落格的留言或者可以在網站的頁尾找到我在其他平臺的鏈接。
        </p>
    </div>
</section>