Title: 許願池(請我喝飲料)
---
<section class="section-block">
 <img src="/assets/images/wishpool.jpg" alt="Alan Tsai的頭像" 
            class="img-responsive center-block">
    <figure>
        <figcaption>圖片來源：http://www.metrodaily.hk/metro_news/%E7%BE%85%E9%A6%AC%E5%B8%82%E6%94%BF%E5%BA%9C%E8%B2%A0%E5%82%B5%E7%BA%8D%E7%BA%8D-%E6%93%AC%E5%80%9F%E8%A8%B1%E9%A1%98%E6%B1%A0%E7%A1%AC%E5%B9%A3%E9%82%84%E5%82%B5/</figcaption>
    </figure>
   
    <p>
        這個部落格裡面大部分的内容都是小弟我最近在研究或者遇到的問題整理出來的内容。
    </p>
    <p>
        因爲工作性質的關係，因此很有可能：
        <ol>
            <li>系列文章沒有結束 - 可能因爲工作内容的關係導致有些系列斷更了</li>
            <li>有些文章大家沒有什麽興趣 - 或者説可以反饋有那些部分是大家更加感興趣的内容 - 小弟我可以做個參考</li>
        </ol>
    </p>
    <p>
        因此，部落格的這個區塊希望提供一個空間讓大家可以給我一些反饋。
    </p>
    <p>
        不管是想小弟我介紹什麽内容，或者是有什麽想反應都歡迎大家利用下面的Disqus來和我溝通。
    </p>
    <p>
        最後，如果小弟我的文章對您有些幫助，也感謝各位請我喝飲料 ^^。
    </p>

    @Html.Partial("_partial_donate")

    @Html.Partial("_partial_disqus") 
</section>